<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ updateTallies.length > 0 ? 'Editar': 'Agregar' }} Jornadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="numberOfCases.length > 1">
    <ion-list lines="inset">
      <ion-list-header lines="none">
        <ion-label>Casos</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let case of numberOfCases; let i = index">
        <ion-item lines="none" (click)="selectCase(case)">
          <ion-label>
            <p>Centro de Costo: <strong>{{ getCostCenterName(case.costCenterId) }} </strong></p>
            <p>Labor: <strong>{{ getLaborName(case.laborId) }} </strong></p>
          </ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="numberOfCases.length === 0 || numberOfCases.length === 1">
    <form [formGroup]="tallyForm">

      <!-- STEP 1 -->
      <ng-container *ngIf="currentStep === 1">
        <!-- COST CENTER -->
        <ion-row style="margin-top: 15px;">
          <ion-col size="12">
            <ion-label class="label-fx360">Centro de Costo</ion-label>
            <ion-item class="input-fx360-down max-h-unset">
              <ion-searchbar [value]="costCenterName" (keyup)="searchCostCenter($event.target.value)" (ionClear)="cleanCostCenterSearch()" placeholder="Buscar"></ion-searchbar>
            </ion-item>
            <ion-text class="error--message" color="danger" *ngIf="tallyForm.dirty && tallyForm.get('costCenterId').hasError('required')">Seleccione un Centro de Costo</ion-text>
            <ion-list class="searchbar-results-list" *ngIf="filteredCostCenters.length > 0">
              <ion-item *ngFor="let costCenter of filteredCostCenters" (click)="selectCostCenter(costCenter)">
                {{ costCenter.name  }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- LABOR -->
        <ion-row>
          <ion-col size="12">
            <ion-label class="label-fx360">Labor</ion-label>
            <ion-item class="input-fx360-down max-h-unset">
              <ion-searchbar [value]="laborName" (keyup)="searchLabor($event.target.value)" (ionClear)="cleanLaborSearch()" placeholder="Buscar"></ion-searchbar>
            </ion-item>
            <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('laborId').hasError('required')">Seleccione una Labor</ion-text>
            <ion-list class="searchbar-results-list" *ngIf="filteredLabors.length > 0">
              <ion-item *ngFor="let labor of filteredLabors" (click)="selectLabor(labor)">
                {{ labor.name  }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <!-- DEAL -->
        <ion-row>
          <ion-col size="12">
            <ng-container *ngIf="availableDeals.length > 0">
              <ion-label class="label-fx360" position="stacked">Trato</ion-label>
              <ion-item class="input-fx360-down max-h-unset">
                <ion-select formControlName="dealValidity" placeholder="Trato" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet" (ionChange)="selectDeal($event.detail.value)">
                  <ion-select-option value="null">Ninguno</ion-select-option>
                  <ion-select-option *ngFor="let deal of availableDeals" [value]="deal.id_deal_validity">{{ deal.name_deal }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>
          </ion-col>
        </ion-row>
        <!-- BOND -->
        <ion-row>
          <ion-col size="12">
            <ng-container *ngIf="availableBonds.length > 0">
              <ion-label class="label-fx360" position="stacked">Bono</ion-label>
              <ion-item class="input-fx360-down max-h-unset">
                <ion-select formControlName="bondValidity" placeholder="Bono" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
                  <ion-select-option value="null">Ninguno</ion-select-option>
                  <ion-select-option *ngFor="let bond of availableBonds" [value]="bond.bondValidity">{{ bond.bondName }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>


            <ng-container *ngIf="workersOverMax.length > 0">
              <ion-text color="danger" class="error--message no-margin-t">
                El valor ingresado supera el máximo de jornada permitida para los trabajadores
              </ion-text>
              <ion-text color="danger" class="error--message no-margin-t" *ngFor="let worker of workersOverMax">- {{ worker.name }} ({{ worker.value | number }})</ion-text>
            </ng-container>
          </ion-col>
        </ion-row>
        <ng-container *ngIf="updateTallies.length === 0">
          <!-- WORKING DAY -->
          <ion-row>
            <ion-col size="6">
              <ion-label class="label-fx360" position="floating">Jornada</ion-label>
              <ion-item class="input-fx360-down max-h-unset">
                <ion-input type="number" formControlName="workingDay" (ionChange)="workingDayChanged($event.target.value)"></ion-input>
                <ion-button fill="clear" size="small" slot="end" (click)="selectWorkingDay(1)">
                  <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('workingDay').hasError('required')">Ingrese una jornada. utilice punto en vez de coma.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('workingDay').hasError('min')">El valor mínimo es 0.1.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('workingDay').hasError('pattern')">Maximo 3 decimales</ion-text>
            </ion-col>
            <!-- HOURS EXTRA -->
            <ion-col size="6">
              <ion-label class="label-fx360" position="floating">Horas Extra</ion-label>
              <ion-item class="input-fx360-down max-h-unset">
                <ion-input type="number" formControlName="hoursExtra"></ion-input>
                <ion-button fill="clear" size="small" slot="end" (click)="selectWorkingDay(2)">
                  <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('hoursExtra').hasError('min')">El valor mínimo es 0.1</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('hoursExtra').hasError('pattern')">Maximo 3 decimales</ion-text>
            </ion-col>
          </ion-row>

          <!-- PERFORMANCE -->
          <ion-row>
            <ion-col size="6">
              <ion-label class="label-fx360" position="floating">Rendimiento</ion-label>
              <ion-item class="input-fx360-down max-h-unset">
                <ion-input type="number" formControlName="performance"></ion-input>
              </ion-item>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('performance').hasError('min')">El valor mínimo es 0.1</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="tallyForm.dirty && tallyForm.get('performance').hasError('pattern')">Maximo 3 decimales</ion-text>
            </ion-col>
            <ion-col size="6">
              <ng-container *ngIf="tallyForm.get('unit').value">
                <ion-label class="label-fx360">Unidad</ion-label>
                <ion-item class="input-fx360-down max-h-unset">
                  <ion-input formControlName="unit"></ion-input>
                </ion-item>
              </ng-container>
            </ion-col>
          </ion-row>
          <!-- UNIT -->
          <!--<ion-row>
            <ion-col size="12">
              <ng-container *ngIf="availableDeals.length > 0">
                <ion-label class="label-fx360" position="floating">Unidad</ion-label>
                <ion-item class="input-fx360-down max-h-unset">
                  <ion-input formControlName="unit"></ion-input>
                </ion-item>
              </ng-container>
            </ion-col>
          </ion-row>-->
          <!-- NOTES -->
          <ion-row>
            <ion-col size="12">
              <ion-label class="label-fx360" position="floating">Notas</ion-label>
              <ion-item class="input-fx360-area" lines="none">
                <ion-textarea formControlName="notes"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ng-container>
      </ng-container>

      <!-- STEP 2 -->
      <ng-container *ngIf="currentStep === 2">
        <ion-row style="font-size: 12px">
          <ion-col size="12" class="ion-text-center">
            <h4>Trabajadores</h4>
          </ion-col>
        </ion-row>

        <ng-container formArrayName="multiple" *ngFor="let worker of workers; let i = index">
          <ion-row >
            <ion-col size="12" style="overflow-wrap: break-word">
              <h6 class="ion-text-center">{{ worker.name | titlecase }}</h6>
            </ion-col>
            <ion-col [formGroupName]="i">
              <ion-label class="label-fx360">Jornada</ion-label>
              <ion-input class="input-fx360 bg-white ion-text-center" formControlName="jr" type="number" (ionChange)="checkWorkerDailyMax(worker, $event.target.value)"></ion-input>
            </ion-col>
            <ion-col [formGroupName]="i">
              <ion-label class="label-fx360">Horas</ion-label>
              <ion-input class="input-fx360 bg-white ion-text-center" formControlName="h" type="number"></ion-input>
            </ion-col>
            <ion-col [formGroupName]="i">
              <ion-label class="label-fx360">Rendimiento</ion-label>
              <ion-input class="input-fx360 bg-white ion-text-center" formControlName="r" type="number"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'jr').hasError('required')">Ingrese una jornada. utilice punto en vez de coma.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'jr').hasError('min')">El valor mínimo es 0.1.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'jr').hasError('pattern')">Maximo 3 decimales</ion-text>

              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'h').hasError('min')">El valor mínimo es 0.1.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'h').hasError('pattern')">Maximo 3 decimales</ion-text>

              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'r').hasError('min')">El valor mínimo es 0.1.</ion-text>
              <ion-text color="danger" class="error--message" *ngIf="getField(i, 'r').hasError('pattern')">Maximo 3 decimales</ion-text>
            </ion-col>
          </ion-row>
        </ng-container>

        <ng-container *ngIf="workersOverMax.length > 0">
          <ion-text color="danger" class="error--message no-margin-t">
            El valor ingresado supera el máximo de jornada permitida para los trabajadores
          </ion-text>
          <ion-text color="danger" class="error--message no-margin-t" *ngFor="let worker of workersOverMax">- {{ worker.name }} ({{ worker.value | number }})</ion-text>
        </ng-container>
        <ion-card class="title-card segment">
          <ion-segment #segment value="jornada" scrollable="true">
            <ion-segment-button value="jornada">
              <ion-label class="ion-text-uppercase">Jornada</ion-label>
            </ion-segment-button>
            <ion-segment-button value="asistencia">
              <ion-label class="ion-text-uppercase">Asistencia</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card>


        <ion-row>
          <ion-col size="8">
            <ion-item class="input-fx360-down max-h-unset">
              <ion-input (ionChange)="split = $event.target.value" type="number"></ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-button (click)="splitTime(segment.value)">
              Repartir
            </ion-button>
          </ion-col>
        </ion-row>

      </ng-container>

    </form>
  </ng-container>
</ion-content>

<ion-footer>
  <ng-container *ngIf="showFooterButtons">
    <!-- Step 1 -->
    <ion-row *ngIf="currentStep === 1">
      <ion-col>
        <ion-button class="btn-app" color="danger" expand="block" (click)="closeModal()">
          Cancelar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button class="btn-app" color="primary" expand="block" (click)="increaseStep()" [disabled]="tallyForm.get('costCenterId').invalid || tallyForm.get('laborId').invalid || workersOverMax.length > 0">
          Siguiente
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Step 2 -->
    <ion-row *ngIf="currentStep === 2">
      <ion-col>
        <ion-button class="btn-app" color="warning" expand="block" (click)="currentStep = currentStep - 1">
          Anterior
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button class="btn-app" color="primary" expand="block" [disabled]="tallyForm.invalid || workersOverMax.length > 0" (click)="submitForm()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>

  </ng-container>
</ion-footer>
