ion-item {
  ion-searchbar {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

ion-segment {
  min-height: 42px;
  --background: white;

  ion-segment-button {
    --border-radius: 0;
    --border-style: none;
    --border-width: 0;
    --indicator-box-shadow: none;
    --background: transparent;
    --color-checked: white;
    --indicator-color: var(--ion-color-primary);
    --background-checked: var(--ion-color-primary);
    --indicator-transition: none;
    margin: 0;
  }
}
