<ion-content class="background-color-home" scrollX="false" scrollY="false">
  <div class="home-container">
    <div class="auth-content">
      <div class="logo-home">
        <img alt="Primetec" src="assets/icon/favicon.png">
        <p>{{ appService.getAppName() }}</p>
      </div>
      <div class="home-buttons-container no-flex-grow">
        <form [formGroup]="recovery">
          <div class="buttons-home">
            <ion-row class="row-form">
              <ion-col size="12">
                <div class="welcome-tittle">Recuperar Contraseña</div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center row-form">
              <ion-col size="12">
                <ion-input class="input-fx360" placeholder="Usuario o Correo" formControlName="username" type="text"></ion-input>
              </ion-col>
              <ion-col size="12">
                <ion-button [disabled]="recovery.invalid" class="button-login" expand="block" (click)="onSubmit()">
                  Recuperar contraseña
                </ion-button>
              </ion-col>
              <ion-col size="6" style="text-align: center;">
                <ion-label class="account" routerLink="/auth/login">
                  Regresar
                </ion-label>
              </ion-col>
              <ion-col size="6" style="text-align: center;">
                <ion-label class="account" routerLink="/auth/register">
                  ¿No tienes cuenta?
                </ion-label>
              </ion-col>
            </ion-row>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>

