ion-content {
  .logo-home {
    flex: 1;
  }

  .version {
    font-size: 1em;
    color: white;
  }

  .welcome-tittle{
    font-size: 20px;
    color: var(--ion-color-primary);
    font-weight: 600;
    padding-top: 0.5rem;
    text-align: center;
  }

  .label-fx360-checkbox{
    font-weight: 500;
    color: #b5b4b4;
    padding-left: 5px;
  }

  .forward{
    text-align: center;
    color: #f25c5c;
    font-size: 13px;
  }

  .button-login{
    --background: var(--ion-color-primary);
    --border-radius: 20px;
    --box-shadow: none;
    height: 40px;
  }

  .account{
    color: var(--ion-color-primary);
    font-size: 15px;
  }

  .row-form {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
