<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Conexiones</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="connections">
    <ion-list>
      <ion-item
        (click)="selectConnection(connection)"
        *ngFor="let connection of connections"
        [ngClass]="{'connection-active': connection.token === currentConnection.token, 'connection-inactive': connection.token !== currentConnection.token}">
        <ion-icon [color]="connection.token === currentConnection.token ? 'success': 'danger'" name="switch" slot="start"></ion-icon>
        <ion-label>
          {{ connection.name }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
