<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>Crear uso de Maquinaria</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="machineryForm">
    <!-- Machinery -->
    <ion-item>
      <ion-label position="stacked">Maquina</ion-label>
      <ion-searchbar [value]="machineryName" (keyup)="searchMachinery($event.target.value)" (ionClear)="cleanMachinerySearch()" placeholder="Buscar"></ion-searchbar>
    </ion-item>
    <ion-text class="error-message" color="danger" *ngIf="machineryForm.dirty && machineryForm.get('machineryCostCenterId').hasError('required')">
      Seleccione una Maquina
    </ion-text>

    <ion-list class="searchbar-results-list" *ngIf="filteredMachinery.length > 0">
      <ion-item *ngFor="let machinery of filteredMachinery" (click)="selectMachinery(machinery)">
        {{ machinery.name | titlecase  }}
      </ion-item>
    </ion-list>

    <!-- Implemento -->
    <ng-container *ngIf="showImplement">
      <ion-item>
        <ion-label position="stacked">Implemento</ion-label>
        <ion-searchbar [value]="implementName" (keyup)="searchImplement($event.target.value)" (ionClear)="cleanImplementSearch()" placeholder="Buscar"></ion-searchbar>
      </ion-item>
      <ion-text class="error-message" color="danger" *ngIf="machineryForm.dirty && machineryForm.get('implementCostCenterId').hasError('required')">
        Seleccione un Implemento
      </ion-text>

      <ion-list class="searchbar-results-list" *ngIf="filteredImplements.length > 0">
        <ion-item *ngFor="let implement of filteredImplements" (click)="selectImplement(implement)">
          {{ implement.name | titlecase  }}
        </ion-item>
      </ion-list>
    </ng-container>

    <!-- LABOR -->
    <ion-item>
      <ion-label position="stacked">Labor</ion-label>
      <ion-searchbar [value]="laborName" (keyup)="searchLabor($event.target.value)" (ionClear)="cleanLaborSearch()" placeholder="Buscar"></ion-searchbar>
    </ion-item>
    <ion-text class="error-message" color="danger" *ngIf="machineryForm.dirty && machineryForm.get('laborId').hasError('required')">
      Seleccione una Labor
    </ion-text>

    <ion-list class="searchbar-results-list" *ngIf="filteredLabors.length > 0">
      <ion-item *ngFor="let labor of filteredLabors" (click)="selectLabor(labor)">
        {{ labor.name | titlecase  }}
      </ion-item>
    </ion-list>

    <!-- Trabajador -->
    <ion-item>
      <ion-label position="stacked">Trabajador</ion-label>
      <ion-searchbar [value]="workerName" (keyup)="searchWorker($event.target.value)" (ionClear)="cleanWorkerSearch()" placeholder="Buscar"></ion-searchbar>
    </ion-item>
    <ion-text class="error-message" color="danger" *ngIf="machineryForm.dirty && machineryForm.get('workerId').hasError('required')">
      Seleccione un Trabajador
    </ion-text>

    <ion-list class="searchbar-results-list" *ngIf="filteredWorkers.length > 0">
      <ion-item *ngFor="let worker of filteredWorkers" (click)="selectWorker(worker)">
        {{ worker.nombre | titlecase }}
      </ion-item>
    </ion-list>

    <!-- COST CENTER -->
    <ion-item>
      <ion-label position="stacked">Centro de Costo</ion-label>
      <ion-searchbar [value]="costCenterName" (keyup)="searchCostCenter($event.target.value)" (ionClear)="cleanCostCenterSearch()" placeholder="Buscar"></ion-searchbar>
    </ion-item>
    <ion-text class="error-message" color="danger" *ngIf="machineryForm.dirty && machineryForm.get('costCenterId').hasError('required')">
      Seleccione un Centro de Costo
    </ion-text>

    <ion-list class="searchbar-results-list" *ngIf="filteredCostCenters.length > 0">
      <ion-item *ngFor="let costCenter of filteredCostCenters" (click)="selectCostCenter(costCenter)">
        {{ costCenter.name | titlecase  }}
      </ion-item>
    </ion-list>

    <!-- Cantidad -->
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input formControlName="quantity" type="number"></ion-input>
    </ion-item>
    <ng-container *ngIf="machineryForm.get('quantity').dirty">
      <ion-text class="error-message" color="danger" *ngIf="machineryForm.get('quantity').hasError('required')">
        La cantidad es requerida
      </ion-text>
      <ion-text class="error-message" color="danger" *ngIf="machineryForm.get('quantity').hasError('min')">
        La cantidad debe ser mayor a 0.1
      </ion-text>
      <ion-text class="error-message" color="danger" *ngIf="machineryForm.get('quantity').hasError('pattern')">
        Ingrese valores con . y maximo 3 decimales
      </ion-text>
    </ng-container>

    <!-- Unidad -->
    <ion-item>
      <ion-label position="stacked">Unidad</ion-label>
      <ion-input readonly="true" [value]="unitName"></ion-input>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-button color="primary" expand="block" [disabled]="machineryForm.invalid" (click)="submitForm()">
    Guardar
  </ion-button>
</ion-footer>
