<ion-button class="toolbar-button white-button">
  <ion-icon slot="icon-only" name="notifications"></ion-icon>
</ion-button>

<ion-button class="toolbar-button" color="warning" *ngIf="(stepperService.getStepper() | async) < getStepNames().EndStoring">
  <ion-icon [ngClass]="{ 'icon-spinner': (stepperService.getStepper() | async) < getStepNames().EndStoring }" slot="icon-only" name="sync"></ion-icon>
</ion-button>

<ion-button class="toolbar-button" [color]="getGlobeColor()" (click)="syncAll()" *ngIf="(stepperService.getStepper() | async) === getStepNames().EndStoring">
  <ion-icon slot="icon-only" name="globe"></ion-icon>
</ion-button>
