<ion-button class="white-button">
  <ion-icon slot="icon-only" name="notifications"></ion-icon>
</ion-button>

<ion-button [color]="(stepperService.getStepper() | async) !== getStepNames().EndStoring ? 'warning' : 'default'">
  <ion-icon [ngClass]="{ 'icon-spinner': (stepperService.getStepper() | async) !== getStepNames().EndStoring } "  slot="icon-only" name="sync"></ion-icon>
</ion-button>

<ion-button [color]="getGlobeColor()" (click)="syncAll()">
  <ion-icon slot="icon-only" name="globe"></ion-icon>
</ion-button>


