.white-button {
  ion-icon {
    color: white;
  }
}

.toolbar-button {
  --padding-top: 0;
  --padding-bottom: 0;
  --margin: 0;
}

.icon-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
