ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.label-padding {
  padding-top: 5px;
  font-size: 18px;
}

.quadrille-badge {
  --padding-top: 5px;
  font-size: 1em;
}

ion-label.space {
  margin: 2px;
}


.button-position{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
