<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Tratos</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="title-card">
    <ion-item lines="none">
      <ion-label>
        <h2>Tus Tratos</h2>
      </ion-label>
      <ion-badge slot="end" color="primary">{{ deals.length }}</ion-badge>
    </ion-item>
  </ion-card>

  <ion-item-sliding #slidingItem *ngFor="let deal of deals">
    <ion-item (click)="goToRegister(deal)" class="slide-item">
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="wifi"></ion-icon>
          <ion-label>{{deal.name_deal}}</ion-label>
        </ion-item>

        <ion-card-content>
          <p *ngIf="deal.performance">Rendimiento</p>
          <p *ngIf="deal.count">Conteo</p>
          <p *ngIf="deal.weight">Peso</p>

          <p class="ion-float-right">
            <ion-chip>
              <ion-icon name="people" color="primary"></ion-icon>
              <ion-label>{{ workersCount(deal) }}</ion-label>
            </ion-chip>

            <ion-chip>
              <ion-icon name="stats-chart" color="secondary"></ion-icon>
              <ion-label>{{ performanceCount(deal) }}</ion-label>
            </ion-chip>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="primary" (click)="showWorkers(deal, slidingItem)">
        <ion-icon slot="icon-only" name="receipt"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" (click)="removeDeal(deal.id, slidingItem)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="activeTrato()">
    Crear
  </ion-button>
</ion-footer>