<ion-content>
  <div class="pd-default">
    <br>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <br/><br/>
    <div class="ion-text-right">
      <ion-button routerLink="/password-recovery" routerDirection="forward" color="danger" fill="clear">Olvide mi
        contraseña
      </ion-button>
    </div>
    <br/>
    <ion-button color="danger" expand="block" routerLink="/home-page">Iniciar sesión</ion-button>
  </div>
</ion-content>
