<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>{{deal?.name_deal}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12">
      <ion-item lines="none">
        <ion-label>
          <strong>Labor</strong>: {{deal?.name_labor | titlecase}}
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <form [formGroup]="centerForm">
    <ion-row>

      <ion-col size="12">
       <!-- DAY SELECTOR -->
        <ion-item lines="none">
          <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
            <ion-icon name="arrow-back" slot="start"></ion-icon>
          </ion-button>
          <ion-input class="ion-text-center" [value]="showDate" readonly></ion-input>
          <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item class="item-searchbar" lines="none">
          <ion-label position="stacked">Centro de Costo</ion-label>
          <ion-searchbar [value]="costCenterName" (keyup)="searchCostCenter($event.target.value)" (ionClear)="cleanCostCenterSearch()" placeholder="Buscar"></ion-searchbar>
        </ion-item>
        <ion-text class="error-message" color="danger" *ngIf="centerForm.dirty && centerForm.get('center_cost_id').hasError('required')">
          Seleccione un Centro de Costo
        </ion-text>

        <ion-list class="searchbar-results-list" *ngIf="filteredCostCenter.length > 0">
          <ion-item *ngFor="let costCenter of filteredCostCenter" (click)="selectCostCenter(costCenter)">
            {{ costCenter.name | titlecase  }}
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col *ngIf="deal.count" size="12">
        <ion-item lines="none">
          <ion-label position="floating">{{deal.unit_control}}</ion-label>
          <ion-input formControlName="unit_control_count" type="number"></ion-input>
          <ion-text color="danger" *ngIf="centerForm.get('unit_control_count').hasError('required')">
            Ingrese {{deal.unit_control}}
          </ion-text>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none">
          <ion-label>Grabación automatica</ion-label>
          <ion-checkbox slot="end" formControlName="automatic"></ion-checkbox>
        </ion-item>
      </ion-col>

    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-button color="warning" expand="block" (click)="sendScanned()" [disabled]="this.centerForm.invalid">
    Escanear
  </ion-button>
</ion-footer>
