<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ deal ? deal.name_deal : 'Cargando...' }}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-item lines="none" class="bg-transparent no-border">
      <ion-label>
        <strong>Labor</strong>: {{deal?.name_labor | titlecase}}
      </ion-label>
    </ion-item>

  <!-- DAY SELECTOR -->
  <ion-card class="title-card">
    <ion-item lines="none">
      <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
      <ion-input class="ion-text-center" [value]="showDate" readonly></ion-input>
      <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <form [formGroup]="centerForm">
    <ion-row>
      <ion-col size="12">
        <ion-label class="label-fx360">Centro de Costo</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <ion-searchbar [value]="costCenterName" (keyup)="searchCostCenter($event.target.value)"
                         (ionClear)="cleanCostCenterSearch()" placeholder="Buscar"></ion-searchbar>
        </ion-item>
        <ion-text class="error--message" color="danger" *ngIf="centerForm.dirty && centerForm.get('center_cost_id').hasError('required')">
          Seleccione un Centro de Costo.
        </ion-text>

        <ion-list *ngIf="filteredCostCenter.length > 0">
          <ion-item lines="none" *ngFor="let costCenter of filteredCostCenter" (click)="selectCostCenter(costCenter)">
            {{ costCenter.name | titlecase  }}
          </ion-item>
        </ion-list>
      </ion-col>
      <ng-container *ngIf="deal && deal.count">
        <ion-col size="12">
          <ion-label class="label-fx360">{{deal.unit_control}}</ion-label>
          <ion-input class="input-fx360 bg-white" formControlName="unit_control_count" type="number"></ion-input>
          <ion-text class="error--message no-margin-t" color="danger" *ngIf="centerForm.get('unit_control_count').hasError('required')">
            Ingrese {{deal.unit_control}}
          </ion-text>
        </ion-col>
      </ng-container>
      <ion-col size="12">
        <ion-label class="label-fx360">Método de control de duplicados</ion-label>
        <ion-item class="input-fx360-down">
          <ion-select formControlName="control_method" interface="action-sheet" placeholder="Seleccione">
            <ion-select-option value="time">Tiempo</ion-select-option>
            <!--<ion-select-option value="person">Persona</ion-select-option>-->
          </ion-select>
        </ion-item>
        <!--<ng-container *ngIf="activeForm.get('option').errors && !activeForm.invalid">
          <ion-text class="error&#45;&#45;message" color="danger" *ngIf="activeForm.get('option').hasError('required')">
            Debe elegir un método.
          </ion-text>
        </ng-container>-->
      </ion-col>
      <ion-col size="12">
        <!--<ion-label class="label-fx360">
          {{centerForm.get('unit_control_count').value === 'time' ? 'Límite de tiempo (segundos)' : 'Límite de personas'}}
        </ion-label>-->
        <ion-label class="label-fx360">Límite de tiempo (segundos)</ion-label>
        <ion-input class="input-fx360 bg-white" formControlName="time_limit" type="number"></ion-input>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <ion-button color="primary" class="btn-app" expand="block" (click)="sendScanned()" [disabled]="this.centerForm.invalid">
    Escanear
  </ion-button>
</ion-footer>
