<ng-container *ngIf="item; else empty">

  <ion-item-sliding [disabled]="slideDisabled" [ngClass]="{ 'old': isOld}">
    <ion-item (click)="clickItem(item)" class="quality" lines="none">
      <div class="content">
        <ion-icon class="icon" color="success" name="card"></ion-icon>
        <div class="flex-1">
          <div class="name">{{ item.userName }}</div>
          <ion-row class="highlight">
            <ion-col size="6">
              <div class="title">Calidad</div>
              <div class="value totales">{{ item.qualityName }}</div>
            </ion-col>
            <ion-col size="6">
              <div class="title">% Exportación</div>
              <div class="total-values">
                <ion-icon [color]="item.color" [name]="item.arrow" size="large"></ion-icon>&nbsp;
                <span class="totales">{{ item.exportPercentage }} %</span>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-item>
    <div class="date">Ult. Act. {{ item.registrationDate | customDatetime }}</div>

    <ng-container *ngIf="!showChart">
      <div (click)="openChart()" [ngClass]="{ 'old': isOld}" class="chart-button">
        Desplegar Grafico
        <ion-icon name="analytics" slot="end"></ion-icon>
      </div>
    </ng-container>

    <ng-container *ngIf="showChart">
      <div (click)="showChart = false" [ngClass]="{ 'old': isOld}" class="chart-button">
        Ocultar Grafico
        <ion-icon name="analytics" slot="end"></ion-icon>
      </div>
    </ng-container>

    <ng-container *ngIf="showChart">
      <div [ngClass]="{ 'old': isOld}" [options]="this.chartData" class="chart" echarts></div>
    </ng-container>

    <ion-item-options side="start">
      <ion-item-option (click)="deleteItem(item)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-container>

<ng-template #empty>
  <ion-item (click)="clickItem()" [ngClass]="{ 'old': isOld}" class="quality" lines="none">
    <div class="content">
      <ion-icon class="icon" color="success" name="card"></ion-icon>
      <div class="flex-1">
        <div class="name">N/A</div>
        <ion-row class="highlight">
          <ion-col size="6">
            <div class="title">Calidad</div>
            <div class="value">N/A</div>
          </ion-col>
          <ion-col size="6">
            <div class="title">% Exportación</div>
            <div class="total-values">
              <span>0 %</span>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-item>
  <div class="date">Ult. Act. 00/00/0000</div>
</ng-template>
