.quality {
  --background: transparent;

  .content {
    display: flex;
    align-items: center;
    width: 100%;

    .total-values {
      display: flex;
      align-items: center;
      justify-content: center;

      .total-icon {
        font-size: 1.2rem !important;
      }

      .totales {
        font-size: 14px;
      }
    }

    .flex-1 {
      flex: 1;
    }
  }
}

.chart-button {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 16px;
}

.chart {
  height: 400px;
}

.name {
  text-align: right;
  font-size: 10px;
  //padding-left: 10px;
  color: var(--ion-color-medium-shade);
  //padding-bottom: 10px;
  padding: 0;
}

.date {
  text-align: right;
  font-size: 10px;
  color: var(--ion-color-medium-shade);
  padding: 0 1rem;
}

.title {
  font-size: 14px;
  text-align: center;
}

.value {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  color: black;
}

.icon {
  font-size: 40px;
}

.old {
  --background: var(--color-box-light) !important;
  background: var(--color-box-light) !important;
}

ion-label {
  margin: 0;
  padding-bottom: 5px;
}

ion-item-sliding {
  border-radius: 10px !important;
  padding: 10px 0;

  &.old {
    background: var(--ion-color-light);
  }
}
