ion-card {
  margin: 7px;
}

.error {
  //border: 1px solid red !important;
  --background: red;
}

.group {
  background: #d0ebff;
  padding: 7px;
  border-radius: 3px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu span {
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 0;
  font-size: 18px !important;
}

.select {
  background-color: #262626;
  color: white;
}

ion-card-content {
  padding: 5px;
}

ion-content {
  --background: var(--color-background-tabs);
}

ion-card {
  box-shadow: none;
}

.button-footer {
  position: absolute;
  right: 0;
  top: 45px;
}

.button-add {
  float: right;
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(0 0 0 / 13%);
}

.number-add {
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.img-card {
  //height: 79px;
  width: 93px;
  position: relative;
  top: 2px;
}

.show-order {
  padding: 10px;
  background: rgb(0 128 0 / 68%);
  color: white;
}

/*
.icon-cam-fixed {
  position: absolute;
  left: 0;
  color: white;
  padding: 5px;
  font-size: 15px;
  z-index: 100;
}
*/

.icon-cam-fixed {
  position: absolute;
  top: 3px;
  color: white;
  padding: 5px;
  font-size: 15px;
}

.item-thumbnail {
  height: 64px;
  width: 70px;
  margin: 0 5px 0 -16px;
  //position: absolute;
  //top:0;
  //bottom: 0;
}

.item-card {
  height: 60px;
}

.description-label {
  margin: 0;
  position: absolute;
  width: 120px;
  overflow: hidden;
  top: 0;
  //height: 60px;
}

.overflow {
  height: 230px;
  overflow: auto;
}

.total-order {
  font-size: 18px;
  color: black;
}

.quantity {
  width: 58px;
  //height: 34px;
  text-align: center;
  margin-left: 120px;
}

.total {
  width: 128px;
  //height: 34px;
  text-align: right;
}

ion-item {
  --border-color: transparent !important;
  --border-width: 0px !important;
}
