<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <!-- <ion-back-button class="header-back-button" text=""></ion-back-button>-->
      <ion-button class="toolbar-button white-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ menuTitle }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content style="color: black;">
      <strong>Nro. Orden #{{order?.id}}</strong>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="order && order.products.length">
    <div class="overflow">
      <ion-card *ngFor="let item of order.products" class="item-card">
        <ion-item lines="none" style="height: 60px;">
          <ion-thumbnail slot="start" class="item-thumbnail">
            <ion-img [src]="attachment(item?.id_item_product)"></ion-img>
          </ion-thumbnail>
          <div class="description-label">
            <div class="description">
              <p style="font-size: 12px;" *ngIf="item.type === 'ITEM'"><strong
                  style="text-transform: uppercase;">{{item?.name_item}}</strong></p>
              <p style="font-size: 12px;" *ngIf="item.type === 'TEXTO'">
                <strong style="text-transform: uppercase;" *ngIf="item?.header_item; else noHeader;">{{item?.name_item}}
                  - {{item?.header_item}}
                </strong>
                <ng-template #noHeader>
                  <strong style="text-transform: uppercase;">{{item?.name_item}}
                  </strong>
                </ng-template>
              </p>
            </div>
          </div>
          <div class="quantity">
            {{item?.quantity}}
          </div>
          <div class="total">
            {{item?.total | currency:' ':'symbol':'1.0-2'}}
          </div>
        </ion-item>
      </ion-card>
    </div>
  </ng-container>
  <ion-card>
    <ion-card-content class="total-order">
      <ion-item *ngIf="order?.value_discount">
        <span>Total Orden</span>
        <span slot="end"
              style="font-weight: bold;">{{order?.value_order | currency:' ':'symbol':'1.0-2'}}</span>
      </ion-item>
      <ion-item *ngIf="order?.value_discount">
        <span>Descuento</span>
        <span slot="end"
              style="font-weight: bold;">- {{order?.value_discount | currency:' ':'symbol':'1.0-2'}}</span>
      </ion-item>

      <ion-item>
        <span>Total</span>
        <span slot="end"
              style="font-weight: bold;">{{order?.value_total | currency:' ':'symbol':'1.0-2'}}</span>
      </ion-item>
      <ion-item *ngIf="order?.value_tip || tip > 0">
        <span>Propina</span>
        <span slot="end" style="font-weight: bold;">
            <span [class.lineT]="tip > 0 && order?.value_tip > 0" *ngIf="order?.value_tip > 0">
              {{order?.value_tip | currency:' ':'symbol':'1.0-2'}}
            </span>
            <span
                *ngIf="tip > 0">{{order?.value_tip + tip | currency:' ':'symbol':'1.0-2'}}
            </span>
        </span>
      </ion-item>
      <ion-item *ngIf="order?.value_tip">
        <span>Total a pagar</span>
        <span slot="end"
              style="font-weight: bold;">
          {{order?.value_pay | currency:' ':'symbol':'1.0-2'}}
        </span>
      </ion-item>
      <ion-item *ngIf="change > 0">
        <span>Vuelto</span>
        <span slot="end"
              style="font-weight: bold;">{{change | currency:' ':'symbol':'1.0-2'}}</span>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-no-padding" *ngIf="payments.length">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" *ngFor="let pay of payments">
        <ion-card class="ion-text-center" (click)="calculator(pay.name, pay.id, pay.your_change)">
          <img [src]="pay.icon ? pay.icon : ''" [alt]="pay.name" style="height: 89px;">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="title-transactions">
    <h4 style="margin-left: 10px">Transacciones</h4>
    <strong slot="end">{{forPayFunction() | currency:' ':'symbol':'1.0-2'}}</strong>
  </ion-item>
  <ion-card *ngIf="transactions && transactions.length">
    <ion-card-content class="total-order">
      <ion-item-sliding *ngFor="let transaction of transactions; let it = index;">
        <ion-item-options side="start">
          <ion-item-option color="danger" (click)="removeTransaction(it)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <span>{{transaction?.type}}</span>
          <span slot="end"
                style="font-weight: bold;">{{transaction?.value | currency:' ':'symbol':'1.0-2'}}</span>
        </ion-item>
      </ion-item-sliding>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button color="success" expand="block" [disabled]="transactions.length === 0 || !paymentCorrect()"
              (click)="paymentSubmit()">
    <span style="text-align: center;">Pagar $ {{pay | currency:' ':'symbol':'1.0-2'}}</span>
  </ion-button>
</ion-footer>
