<ion-content>
  <br>
  <div class="pd-default">

    <div *ngIf="!_detectPlatform.hasCordova;">
      <input #avatar (change)="onFileChange($event)" accept="image/png,image/gif,image/jpeg" hidden
             type="file"/>
      <ion-avatar (click)="avatar.click()" class="ion-no-margin" style="margin: 0 auto !important;">
        <img
            [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input formControlName="rut" tabindex="0"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.rut.dirty && registerForm.hasError('required', 'rut')"
           style="color: red">
        El rut es requerido.
      </div>
      <div *ngIf="registerForm.controls.rut.dirty && registerForm.hasError('notRut', 'rut')"
           style="color: red">
        El rut es inválido
      </div>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="names" tabindex="1"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.names.dirty && registerForm.hasError('required', 'names')"
           style="color: red">
        Los nombres
        son requeridos.
      </div>
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="lastName"
                   tabindex="2"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.lastName.dirty && registerForm.hasError('required', 'lastName')"
           style="color: red">
        El apellido parterno
        es requerido.
      </div>
      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input class="input-text" formControlName="surName"
                   tabindex="3"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.surName.dirty && registerForm.hasError('required', 'surName')"
           style="color: red">
        El apellido materno es
        requerido.
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" tabindex="4"
                   type="email"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.email.dirty && registerForm.hasError('required', 'email')"
           style="color: red">El
        correo es requerido.
      </div>
      <div *ngIf="registerForm.controls.email.dirty && registerForm.hasError('email', 'email')"
           style="color: red">
        Ingrese un
        email valido
      </div>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="phone" tabindex="5"
                   type="tel"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.phone.dirty && registerForm.hasError('required', 'phone')"
           style="color: red">
        El
        telefono es requerido.
      </div>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.password.dirty && registerForm.hasError('required', 'password')"
           style="color: red">
        La
        contraseña es requerida.
      </div>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirm"
                   tabindex="7" type="password"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.confirm.dirty && registerForm.hasError('required', 'confirm')"
           style="color: red">
        Debe
        confirmar la contraseña
      </div>
      <div *ngIf="registerForm.controls.confirm.dirty && registerForm.hasError('notSame')"
           style="color: red">Las
        contraseñas no son iguales
      </div>

      <br>
      <ion-radio-group formControlName="access">
        <ion-list-header>
          Tipo de Acceso
        </ion-list-header>

        <ion-item>
          <ion-label>Rut</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div *ngIf="registerForm.controls.access.dirty && registerForm.hasError('required', 'access')"
           style="color: red">
        Debe seleccionar una opción
      </div>

      <br><br>

      <ion-button
          [disabled]="registerForm.invalid"
          color="danger"
          expand="block"
          type="submit">
        Registrar
      </ion-button>
    </form>

  </div>
</ion-content>
