<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center white">
      <strong>Perfil</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile ion-text-center">
    <div *ngIf="device.cordova">
      <ion-avatar class="ion-no-margin" style="margin: 0 auto !important">
        <img [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>
  </div>

  <br><br>
  <ng-container *ngIf="device.cordova">
    <ion-item>
      <ion-button (click)="openCamera()" slot="start">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label>&nbsp;</ion-label>
      <ion-button (click)="openGallery()" slot="end">
        <ion-icon name="image" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-container>

  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input formControlName="rut" tabindex="0"></ion-input>
        <ng-container *ngIf="registerForm.get('rut').errors">
          <span style="color: red" *ngIf="registerForm.get('rut').hasError('required')">El rut es requerido.</span>
          <span style="color: red" *ngIf="registerForm.get('rut').hasError('notRut')">El rut es inválido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="nombre" tabindex="1"></ion-input>
        <ng-container *ngIf="registerForm.get('nombre').errors">
          <span style="color: red" *ngIf="registerForm.get('nombre').hasError('required')">Los nombres son requeridos.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="apellido_paterno" tabindex="2"></ion-input>
        <ng-container *ngIf="registerForm.get('apellido_paterno').errors">
          <span style="color: red" *ngIf="registerForm.get('apellido_paterno').hasError('required')">El apellido parterno es requerido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input class="input-text" formControlName="apellido_materno" tabindex="3"></ion-input>
        <ng-container *ngIf="registerForm.get('apellido_materno').errors">
          <span style="color: red" *ngIf="registerForm.get('apellido_materno').hasError('required')">El apellido materno es requerido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email" tabindex="4" type="email"></ion-input>
        <ng-container *ngIf="registerForm.get('email').errors">
          <span style="color: red" *ngIf="registerForm.get('email').hasError('required')">El correo es requerido.</span>
          <span style="color: red" *ngIf="registerForm.get('email').hasError('email')">Ingrese un correo valido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono" tabindex="5" type="tel"></ion-input>
        <ng-container *ngIf="registerForm.get('telefono').errors">
          <span style="color: red" *ngIf="registerForm.get('telefono').hasError('required')">El telefono es requerido.</span>
        </ng-container>
      </ion-item>

      <br>
      <ion-radio-group formControlName="acceso">
        <ion-list-header>
          Tipo de Acceso
        </ion-list-header>

        <ion-item>
          <ion-label>Rut</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div *ngIf="registerForm.get('acceso').hasError('required')" style="color: red">
        Debe seleccionar una opción
      </div>

      <div>
        <ion-button (click)="changePassword()" color="danger" fill="clear">
          Cambiar contraseña
        </ion-button>
      </div>

      <br><br>
      <ion-button
        [disabled]="registerForm.invalid"
        color="danger"
        expand="block"
        type="submit">
        Actualizar
      </ion-button>
    </form>

  </div>
</ion-content>
