<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center white">
      <strong>Perfil</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile ion-text-center">
    <!--<div>
      <ion-avatar class="ion-no-margin" style="margin: 0 auto !important;">
        <img
            [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>-->
    <!--
    <div *ngIf="!detectPlatformService.hasCordova">
      <input #avatar (change)="onFileChange($event)" accept="image/png,image/gif,image/jpeg" hidden
             type="file"/>
      <ion-avatar (click)="avatar.click()" class="ion-no-margin" style="margin: 0 auto !important;">
        <img
          [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>
    -->

    <div *ngIf="detectPlatformService.hasCordova">
      <ion-avatar class="ion-no-margin" style="margin: 0 auto !important;">
        <img
          [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>

    <!-- ANDROID -->
    <div *ngIf="!detectPlatformService.isIos && detectPlatformService.hasCordova;">
      <ion-row>
        <ion-col size="6" class="cameras">
          <ion-avatar style="margin: 0 auto !important;" class="avatar-camera ion-no-margin"
                      (click)="onFileCamera(camera.PictureSourceType.CAMERA, camera.DestinationType.DATA_URL)">
            <ion-icon name="camera"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="6" class="cameras">
          <ion-avatar style="margin: 0 auto !important;" class="avatar-camera ion-no-margin"
                      (click)="onFileCamera(camera.PictureSourceType.PHOTOLIBRARY, camera.DestinationType.DATA_URL)">
            <ion-icon name="image"></ion-icon>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <br>
  <div class="pd-default">
    <!-- IOS -->
    <div *ngIf="detectPlatformService.isIos && detectPlatformService.hasCordova;">
      <ion-row>
        <ion-col size="6" class="cameras">
          <ion-avatar style="margin: 0 auto !important;" class="avatar-camera ion-no-margin"
                      (click)="onFileCamera(camera.PictureSourceType.CAMERA, camera.DestinationType.DATA_URL)">
            <ion-icon name="camera"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="6" class="cameras">
          <ion-avatar style="margin: 0 auto !important;" class="avatar-camera ion-no-margin"
                      (click)="onFileCamera(camera.PictureSourceType.PHOTOLIBRARY, camera.DestinationType.DATA_URL)">
            <ion-icon name="image"></ion-icon>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input formControlName="rut" tabindex="0" disabled></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.rut.dirty && registerForm.hasError('required', 'rut')"
           style="color: red">
        El rut es requerido.
      </div>
      <div *ngIf="registerForm.controls.rut.dirty && registerForm.hasError('notRut', 'rut')"
           style="color: red">
        El rut es inválido
      </div>
      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="nombre" tabindex="1"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.nombre.dirty && registerForm.hasError('required', 'nombre')"
           style="color: red">
        Los nombres
        son requeridos.
      </div>
      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="apellido_paterno"
                   tabindex="2"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.apellido_paterno.dirty && registerForm.hasError('required', 'apellido_paterno')"
           style="color: red">
        El apellido parterno
        es requerido.
      </div>
      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input class="input-text" formControlName="apellido_materno"
                   tabindex="3"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.apellido_materno.dirty && registerForm.hasError('required', 'apellido_materno')"
           style="color: red">
        El apellido materno es
        requerido.
      </div>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email" tabindex="4"
                   type="email"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.email.dirty && registerForm.hasError('required', 'email')"
           style="color: red">El
        correo es requerido.
      </div>
      <div *ngIf="registerForm.controls.email.dirty && registerForm.hasError('email', 'email')"
           style="color: red">
        Ingrese un
        correo valido
      </div>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="telefono" tabindex="5"
                   type="tel"></ion-input>
      </ion-item>
      <div *ngIf="registerForm.controls.telefono.dirty && registerForm.hasError('required', 'telefono')"
           style="color: red">
        El
        telefono es requerido.
      </div>

      <br>
      <ion-radio-group formControlName="acceso">
        <ion-list-header>
          Tipo de Acceso
        </ion-list-header>

        <ion-item>
          <ion-label>Rut</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <div *ngIf="registerForm.controls.acceso.dirty && registerForm.hasError('required', 'acceso')"
           style="color: red">
        Debe seleccionar una opción
      </div>

      <div>
        <ion-button (click)="changePassword()" color="danger" fill="clear">Cambiar contraseña
        </ion-button>
      </div>

      <br><br>

      <ion-button
        [disabled]="registerForm.invalid"
        color="danger"
        expand="block"
        type="submit">
        Actualizar
      </ion-button>
    </form>

  </div>
</ion-content>
