<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>#{{ order?.id }} | {{order?.origin}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-item lines="full">
<!--          <ion-badge slot="start" [ngClass]="{'error': productSync()}"></ion-badge>-->
<!--          <ion-label>{{ order?.origin }}</ion-label>-->
          <img src="assets/imgs/justo.png" alt="JUSTO" class="icon-delivery" *ngIf="order?.origin === 'JUSTO'">
          <img src="assets/imgs/fx360.jpg" alt="FX360" class="icon-delivery" *ngIf="order?.origin === 'FX360'">
          <ion-button color="danger"  style="margin-left: 15%;" class="button-class" *ngIf="order?.status === 'pending'">Rechazar</ion-button>
          <ion-button color="primary" class="button-class" style="right: 75px !important;" *ngIf="!productSync() && order?.status === 'pending'">Aceptar</ion-button>
          <ion-button color="warning" class="button-class" style="right: 75px !important;" *ngIf="order?.status === 'accepted'">Cerrar</ion-button>
        </ion-item>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Empresa:</strong> {{ order?.entity}}</p>
      <p><strong>Identificador de Origen:</strong> {{ order?.key_origin}}</p>
      <p><strong>Fecha de Registro:</strong> {{ order?.date_register }}</p>
      <p><strong>Fecha de Entrega:</strong> {{ order?.date_delivery }}</p>
      <p><strong>Fecha de Aceptación:</strong> {{ order?.date_accept }}</p>
      <p><strong>Fecha de Rechazo:</strong> {{ order?.date_reject }}</p>
      <p><strong>Fecha de Entrega Repartidor:</strong> {{ order?.date_delivery_man }}</p>
      <p><strong>Fecha de Entrega a Cliente:</strong> {{ order?.date_delivery_customer }}</p>
      <p><strong>Nombre del Comprador:</strong> {{ order?.name_customer }}</p>
      <p><strong>Teléfono del Comprador:</strong> {{ order?.phone_customer }}</p>
      <p><strong>Correo del Comprador:</strong> {{ order?.email_customer }}</p>
      <p><strong>Dirección del Comprador:</strong> {{ order?.address_customer }}</p>
      <p><strong>Motivo de Rechazo:</strong> {{ order?.reason_reject }}</p>
      <p><strong>Latitud:</strong> {{ order?.lat }}</p>
      <p><strong>Longitud:</strong> {{ order?.lng }}</p>
      <p><strong>Valor de la Orden:</strong> {{ order?.value_order | currency:'CLP'}}</p>
      <p><strong>Valor de envio:</strong> {{ order?.value_shipping | currency:'CLP'}}</p>
      <p><strong>Valor de propina:</strong> {{ order?.value_tip | currency:'CLP'}}</p>
      <p><strong>Valor pagado:</strong> {{ order?.value_pay | currency:'CLP'}}</p>
      <p><strong>Total:</strong> {{ order?.value_total | currency:'CLP' }}</p>
      <br>
      <ng-container *ngIf="order?.products.length">
        <div style="border-top: 1px solid rgba(0,0,0,0.33);" *ngFor="let product of orderProducts()">
          <hr>
          <p *ngIf="product?.name_product"><strong>Nombre del producto:</strong> {{ product?.name_product}}</p>
          <p *ngIf="product?.name_product"><strong>Comentario:</strong> <span
              style="font-style: italic;">{{ product?.text}}</span></p>
          <p *ngIf="!product.name_product"><strong style="color: rgba(255,0,0,0.63);">Comentario:</strong> <span
              style="font-style: italic;">{{ product?.text}}</span></p>
          <p><strong>Cantidad:</strong> {{ product?.quantity}}</p>
          <p><strong>Total:</strong> {{ product?.total | currency:'CLP'}}</p>

          <p><strong>Modificadores:</strong></p>
            <!-- modificadores-->
          <div style="padding-left: 25px;" *ngFor="let modifier of modifierProduct(product.id)">
            <p *ngIf="modifier?.name_product"><strong>Nombre del producto:</strong> {{ modifier?.name_product}}</p>
            <p *ngIf="modifier?.name_product"><strong>Comentario:</strong> <span
                style="font-style: italic;">{{ modifier?.text}}</span></p>
            <p *ngIf="!modifier.name_product"><strong style="color: rgba(255,0,0,0.63);">Comentario:</strong> <span
                style="font-style: italic;">{{ modifier?.text}}</span></p>
            <p><strong>Cantidad:</strong> {{ modifier?.quantity}}</p>
            <p><strong>Total:</strong> {{ modifier?.total | currency:'CLP'}}</p>
          </div>
        </div>
      </ng-container>
    </ion-card-content>
  </ion-card>

</ion-content>
