.current-container {
  h6 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;

    &.error {
      margin: 10px 0 !important;
      color: var(--ion-color-danger);
    }
  }

  p {
    font-size: 85%;
    margin-top: 0;
    margin-bottom: 0.2rem;
  };
}

.card-item {
  width: 100%;
  --background: white;

  ion-card-content {
    padding-inline-start: 8px !important;
    padding-inline-end: 8px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  &.incomplete {
    --background: rgba(0, 0, 0, 0.1) !important;
  }
}

.item-container {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-item-options {
  border-bottom-width: 0 !important;
}

//ion-item-sliding {
//  margin-bottom: 10px;
//}

.item-error {
  --inner-padding-end: 0 !important;
}

.card-content {
  --inner-padding-end: 0 !important;
}
