<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" defaultHref="home-page" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Detalle Centro de Costo</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- header-->
<ion-content>
  <div (click)="openSelected = !openSelected" [class.selected]="openSelected" class="header-content background-color--header">
    <ng-container *ngIf="costCenterListItem">
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <div class="white">{{ costCenterListItem.code }}</div>
        </ion-col>
        <ion-col size="2">
          <ng-container *ngIf="costCenter">
            <ion-button (click)="myGeolocation()" fill="clear" size="small">
              <ion-icon [ngClass]="{ 'geolocation': costCenter.latitude && costCenter.longitude, 'no-geolocation': !costCenter.latitude || !costCenter.longitude }" name="locate" slot="icon-only" style="color:white;"></ion-icon>
            </ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row class="row basic-data">
        <ion-col size="12" style="padding-bottom: 0;">
          <div class="names">
            <div class="white" style="font-weight: bold;font-size: 20px;">{{ costCenterListItem.name }}</div>
            <div class="white" style="font-size: 14px;">{{ costCenterListItem.producerName }}</div>
          </div>
          <div class="details">
            <div class="white">{{ costCenterListItem.speciesName }} / {{ costCenterListItem.varietyName }}</div>
            <div class="white">Fecha Cosecha: {{ costCenterListItem.harvestDate | customDate }}</div>
            <div *ngIf="costCenterListItem.contractResponsible" class="white">Numero de Contratos: {{ costCenterListItem.contractsNumber }}</div>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngFor="let contract of productionContracts; let index = index">
      <div [class.scroll-card-custom]="openSelected" class="scroll-card">
        <ng-container>
          <div class="card-text">
            <div class="card-text-one">
              <p>{{ contract.totalQuantity }} {{ showUnitName() | uppercase }}</p>
              <p># {{ contract.documentNumber }}</p>
              <p>{{ contract.date | customDate }}</p>
              <p>{{ contract.responsibleName }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!--  estimaciones-->
  <div class="estimates-card">
    <div class="flex-1">
      <p>{{ showUnitName() | uppercase }} CONTRATADOS</p>
      <p>
        <ion-icon color="danger" name="arrow-up"></ion-icon>&nbsp;
        <span>{{ getTotal() | number:'1.0-0':'es-CL' }}</span>
      </p>
    </div>
    <div class="separator"></div>
    <div class="flex-1">
      <p>{{ showUnitName() | uppercase }} RECIBIDOS</p>
      <p>
        <ion-icon color="primary" name="arrow-down"></ion-icon>&nbsp;<span>0</span></p>
    </div>
  </div>

  <ion-row>
    <ion-col size="12" size-md="6" class="ion-no-padding">
      <!-- ESTIMACION DE COSECHA -->
      <ion-list class="item-list">
        <ion-list-header>
          <ion-label>ESTIMACION DE COSECHA</ion-label>
        </ion-list-header>
        <ng-container *ngIf="harvestEstimate; else emptyHarvest">
          <app-harvest-estimate-item
            (harvestSelected)="harvestPage($event)"
            [item]="harvestEstimate[0]"
            [units]="units">
          </app-harvest-estimate-item>
        </ng-container>
        <ng-template #emptyHarvest>
          <app-harvest-estimate-item (harvestSelected)="harvestPage($event)"></app-harvest-estimate-item>
        </ng-template>
      </ion-list>
    </ion-col>
    <ion-col size="12" size-md="6" class="ion-no-padding">
      <!-- ESTIMACION DE CALIDAD -->
      <ion-list class="item-list">
        <ion-list-header>
          <ion-label>ESTIMACION DE CALIDAD</ion-label>
        </ion-list-header>
        <ng-container *ngIf="qualityEstimate; else emptyQuality">
          <app-quality-estimate-item
            (itemSelected)="qualityPage($event)"
            [costCenter]="costCenter"
            [details]="getItemDetails(qualityEstimate[0])"
            [item]="qualityEstimate[0]">
          </app-quality-estimate-item>
        </ng-container>
        <ng-template #emptyQuality>
          <app-quality-estimate-item (itemSelected)="qualityPage($event)"></app-quality-estimate-item>
        </ng-template>
      </ion-list>
    </ion-col>
    <ion-col size="12" size-md="6" class="ion-no-padding">
      <!--  NOTAS-->
      <ion-list class="item-list">
        <ion-list-header>
          <ion-label>NOTA</ion-label>
        </ion-list-header>
        <ng-container *ngIf="notes; else emptyNote">
          <app-note-item (noteClicked)="noteListPage($event)" [item]="notes[0]"></app-note-item>
        </ng-container>
        <ng-template #emptyNote>
          <app-note-item (noteClicked)="noteListPage($event)"></app-note-item>
        </ng-template>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
