.header-content {
  padding: 0 1rem;

  &.selected {
    .scroll-card {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }
}

.background-color--header {
  background: var(--ion-color-primary);
}

ion-row {
  &.basic-data {
    ion-col {
      .names {
        margin-bottom: 0.7rem;
      }

      .details {
        margin-bottom: 0.7rem;
      }
    }
  }
}

.white {
  color: white;
}

.card {
  display: table;
  width: 100%;
  padding: 0 25px 0 25px;

  .card-text-one, .card-text-two {
    width: 50%;
    display: table-cell;
    color: var(--ion-color-primary);
  }

  .card-text-two {
    text-align: right;
  }
}

.card-text {
  display: table;
  width: 100%;
  padding: 0 1.1rem;
  position: relative;

  .card-text-one, .card-text-two {
    width: 100%;
    display: table-cell;
    color: var(--ion-color-dark);
    font-size: 90%;

    p:nth-child(1) {
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 5px 10px;
      background: var(--color-light-card-hard);
      border-radius: 10px;
      color: white;
    }
  }

  .card-text-one {
    p:nth-child(1) {
      margin-top: 0;
    }
  }

  .card-text-two {
    text-align: right;

    p:nth-child(1) {
      margin-top: 0;
    }
  }
}

.card-contrato {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: -1px;
}

.scroll-card {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.scroll-card-custom {
  padding: 5px 0;

  .card-text {
    background-color: var(--ion-color-light);
    border-radius: 10px;
    border: none !important;

    .card-text-one {
      padding: 0.8rem 0;
    }

    p {
      margin: 0;
    }
  }
}

.estimates-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  background: white;
  padding: 10px 0;
  margin-bottom: 5px;
  border-radius: 0 0 10px 10px;

  .flex-1 {
    flex: 1;
  }

  .separator {
    width: 1px;
    background: var(--ion-color-light);
  }

  div {
    p {
      margin: 5px 0;
    }
  }
}

.font-10 {
  font-size: 10px;
}

#container {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  display: block;
}

.graphics.selected #container {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}


.item-list {
  margin: 0 5px 10px;
  border-radius: 10px;
  padding-top: 0;
  padding-bottom: 5px;

  ion-list-header {
    padding: 0 1rem !important;
    --background: var(--ion-color-light);

    ion-label {
      margin: 10px 0;
      padding: 0;
      font-size: 1rem;
    }
  }
}

.geolocation {
  color: #2fff2f !important;
}

.no-geolocation {
  color: var(--ion-color-danger) !important;
}
