<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="white" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="white">
      <strong>Estimación de Cosecha</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-toolbar class="toolbar-search">
  <ion-searchbar
    animated
    class="production"
    placeholder="Buscar..."
    showCancelButton="never"
    (ionChange)="searchHarvest($event.target.value)"
    (ionClear)="cancelSearch()">
  </ion-searchbar>
</ion-toolbar>

<ion-content class="content">
  <ng-container *ngIf="filteredHarvestEstimate.length > 0; else noResults">
    <ng-container *ngFor="let harvest of filteredHarvestEstimate">
      <div class="card-sli">
        <div class="card-sli-back">
          <app-harvest-estimate-item
            (deleteHarvest)="deleteHarvest($event)"
            (harvestSelected)="processSelectedHarvest($event)"
            [units]="units"
            [isOld]="!harvest.active"
            [item]="harvest"
            [slideDisabled]="false">
          </app-harvest-estimate-item>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noResults>
    <!-- Default Item -->
    <ion-item lines="none">
      <ion-label>
        Sin estimaciones
      </ion-label>
    </ion-item>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="newHarvestEstimate()" [disabled]="!costCenter || !isOnline" color="primary" class="btn-app">
    Crear
  </ion-button>
</ion-footer>
