<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Cuadrillas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
      <app-check-connection></app-check-connection>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <h2 class="ion-text-center">
    Tus Cuadrillas

    <ion-badge class="quadrille-badge" color="primary">{{ filteredQuadrilles.length }}</ion-badge>
  </h2>

  <ion-virtual-scroll [items]="filteredQuadrilles | alphabeticalOrder">
    <div *virtualItem="let quadrille">
      <ion-item (click)="goToWorkers(quadrille)" detail="true">
        <ion-icon *ngIf="showBadge(quadrille.id) === 0" name="clipboard" slot="start"></ion-icon>
        <ion-badge color="success" *ngIf="showBadge(quadrille.id) > 0" slot="start">{{ showBadge(quadrille.id) }}</ion-badge>
        <ion-label>
          <h2>{{ quadrille.name }}</h2>
          <p class="label-padding">{{ quadrille.responsibleName }}</p>
          <p class="label-padding">
            <ion-badge color="primary">
              {{ getQuadrilleWorkers(quadrille.id) }} Personas
            </ion-badge>
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-virtual-scroll>

</ion-content>
