<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Cuadrillas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar..." (ionChange)="searchQuadrille($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="reload($event)" class="refresher" slot="fixed"></ion-refresher>

  <h2 class="ion-text-center" style="font-size: 20px">
    Tus Cuadrillas
    <ion-badge class="quadrille-badge" style="font-size: 14px" color="primary">{{ filteredQuadrilles.length }}</ion-badge>
  </h2>

  <ng-container *ngIf="isLoading">
    <h1 class="ion-text-center">Cargando...</h1>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ion-virtual-scroll [items]="filteredQuadrilles">
      <div *virtualItem="let quadrille">
        <ion-item (click)="goToWorkers(quadrille)" detail="true">
          <ion-icon *ngIf="showBadge(quadrille.id) === 0" name="clipboard" slot="start"></ion-icon>
          <ion-badge color="success" *ngIf="showBadge(quadrille.id) > 0" slot="start">{{ showBadge(quadrille.id) }}</ion-badge>
          <ion-label>
            <h2>{{ quadrille.name }}</h2>
            <p class="label-padding">{{ quadrille.responsibleName }}</p>
            <p class="label-padding">
              <ion-badge color="primary">
                {{ getQuadrilleWorkers(quadrille.id) }} Personas
              </ion-badge>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll>
  </ng-container>

</ion-content>
