ion-card {
  box-shadow: none !important;
}

ion-item {
  --border-style: unset !important;
  --border-width: 0 !important;
}

.title-menu {
  margin-top: 0;
}

.connection-active {
  --color: white;
  --background: var(--ion-color-primary) !important;
}

.connection-inactive {
  --color: gray;
  --background: white !important;
}
