<div style="height: 205px;">
  <ion-card style="height: 200px;">
    <ion-item style="--border-color: transparent;">
      <div style="width: 100%;padding-bottom: 10px;">
        <ion-item lines="full" style="width: 100%;">
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-item>
        <div>
          <p>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
        </div>
      </div>
    </ion-item>
  </ion-card>
</div>
