<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Maquinarias</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
    <ion-searchbar
      animated
      placeholder="Buscar..."
      showCancelButton="never"
      (ionChange)="searchCostCenter($event.target.value)"
      (ionClear)="cancelSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 class="ion-text-center" style="font-size: 20px">
    Centros de Costo
    <ion-badge class="quadrille-badge" style="font-size: 14px" color="primary">{{ filteredCostCenters.length }}</ion-badge>
  </h2>

  <ion-virtual-scroll [items]="filteredCostCenters">
    <div *virtualItem="let costCenter">
      <ion-item lines="none" (click)="goToMachinery(costCenter.id)" button="true">
        <ion-label>
          <p>
            <ion-badge color="primary">{{ costCenter.code }}</ion-badge>
          </p>
          <h2 class="ion-text-wrap">{{ costCenter.name }}</h2>
        </ion-label>
      </ion-item>
    </div>
  </ion-virtual-scroll>

</ion-content>
