<ng-container *ngIf="costCenter">
  <ion-card (click)="showDetails()" [disabled]="!isOnline" [routerDirection]="'forward'" button="true" class="cost-center-size">
    <ion-card-header>
      <ion-card-subtitle><span class="code-const-center">{{ costCenter.code }}</span> <span class="ion-float-right"># {{ costCenter.contractDocumentNumber }}</span></ion-card-subtitle>
      <ion-card-title>{{ costCenter.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <p class="production-name">
          {{ costCenter.producerName }}
        </p>
        <p>
          {{ costCenter.speciesName }} <strong>/</strong> {{ costCenter.varietyName }}
        </p>
        <p class="production-name" *ngIf="costCenter.contractResponsible">
          {{ costCenter.contractResponsible }}
        </p>
        <div class="bottom-info">
          <span class="bottom__date">Fecha Inicio Cosecha: {{ costCenter.harvestDate | customDate }}</span>
          <span class="bottom__icon">
            <ion-icon color="success" name="clipboard"></ion-icon>&nbsp;<span>{{ costCenter.contractsNumber }}</span>
          </span>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</ng-container>
