.cost-center-size {
  height: 150px;
}

ion-card{
  margin: 5px 5px 0 5px;
  background-color: white;
  box-shadow: none;
}

ion-card-title{
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  white-space: nowrap;
}

ion-card-header{
  padding: 10px 15px 0 15px;
}

ion-card-content{
  padding: 0 15px 0 15px;
}

.production-name{
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  white-space: nowrap;
}

.bottom-info {
  .bottom__date {
    font-size: 12px;
    font-style: italic;
    color: var(--color-cosecha-date);
  }
  .bottom__icon{
    float: right;
    ion-icon{
      font-size: 25px;
    }
    span{
      font-size: 18px;
      vertical-align: top;
    }
  }
}

.ion-float-right{
  //color: #962727;
}

.code-const-center{
  //color: var(--color-home-secondary);
}
