<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Aplicacion Iniciada</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentApplication" class="card-item">
    <ion-item lines="full">
      <ion-badge slot="start">{{ currentApplication.costCenterCode | uppercase }}</ion-badge>
      <ion-label>{{ currentApplication.costCenterName | titlecase }}</ion-label>
    </ion-item>

    <ion-card-content>
      <p *ngIf="currentApplication.costCenterMachineryName"><strong>Maquina:</strong>
        {{ currentApplication.costCenterMachineryName | titlecase }}</p>

      <div class="ion-text-right">
        <ion-chip *ngIf="currentApplication.applicationBalance">
          <ion-icon name="calculator-outline" color="success"></ion-icon>
          <ion-label>{{ currentApplication.applicationBalance }} </ion-label>
        </ion-chip>

        <ng-container *ngIf="currentApplication.hectaresQuantity && currentApplication.litersQuantity">
          <ion-chip>
            <ion-icon name="calculator-outline" color="primary"></ion-icon>
            <ion-label>{{ currentApplication.hectaresQuantity }} </ion-label>
          </ion-chip>

          <ion-chip>
            <ion-icon name="calculator-outline" color="success"></ion-icon>
            <ion-label>{{ currentApplication.litersQuantity }} </ion-label>
          </ion-chip>
        </ng-container>
      </div>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="loading">
    <ion-card>
      <ion-card-header class="ion-text-center">
        <ion-card-title>{{ loadingMessage }}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="!loading">
    <ion-card class="card-item">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Ubicaciones</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Posiciones</ion-label>
          <ion-badge slot="end"> {{ positions.length }} </ion-badge>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-item" *ngIf="weather">
      <ion-card-header class="ion-text-center">
        <ion-card-title>Clima</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>{{ weather["name"] | titlecase }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>{{ weather["weather"][0]["description"] | titlecase }}</ion-label>
        </ion-item>

        <ion-list>
          <ion-list-header>
            <ion-label>Temperatura</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Actual</ion-label>
            <ion-badge slot="end">°{{  roundUp(weather["main"]["temp"] ) }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Sensacion</ion-label>
            <ion-badge slot="end">°{{  roundUp(weather["main"]["feels_like"] ) }}</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Humedad</ion-label>
            <ion-badge slot="end">{{  roundUp(weather["main"]["humidity"] ) }}%</ion-badge>
          </ion-item>
          <ion-item>
            <ion-label>Viento</ion-label>
            <ion-badge slot="end">{{  roundUp(weather["wind"]["speed"] ) }} m/s</ion-badge>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ng-container>
</ion-content>

<ion-footer>
  <ion-button expand="block" color="danger" (click)="endApplication()" [disabled]="loading">
    Finalizar Aplicacion
  </ion-button>
</ion-footer>