<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Listado Detalles</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="header">
  <div class="header-content background-color--header">
    <ion-row class="text-white">
      <ion-col>ID: {{ header.id }}</ion-col>
      <ion-col>Cliente: {{ header.client }}</ion-col>
    </ion-row>
    <ion-row class="text-white">
      <ion-col>Tipo: {{ header.type }}</ion-col>
      <ion-col>Producto: {{ 'pendiente' }}</ion-col>
    </ion-row>
    <ion-row class="text-white">
      <ion-col>Fecha Maxima: {{ header.maxResolution | customDate }}</ion-col>
      <ion-col>Estado: {{ header.state }}</ion-col>
    </ion-row>
    <ion-row class="text-white">
      <ion-col>Referencia: {{ header.reference }}</ion-col>
    </ion-row>
  </div>
</ng-container>

<ion-content>

  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Sincronizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="details.length > 0">
    <ion-virtual-scroll [items]="details">
      <app-ticket-detail-card *virtualItem="let detail" [detail]="detail"></app-ticket-detail-card>
    </ion-virtual-scroll>
  </ng-container>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <!-- (click)="openForm()" [disabled]="!costCenter || !isOnline" -->
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
