<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>DELIVERY</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="color-automatic">
    <div style="position: absolute;">
      <ion-button (click)="connectionSync()">
        <ion-icon [ngClass]="{'icon-spinner': _posService.connection}" slot="icon-only" name="sync"></ion-icon>
      </ion-button>
    </div>
    <p style="padding-left: 10px;display: inline-block;position: relative;right: 65px;">
      AUTOMATICO
    </p>
    <ion-toggle color="secondary" class="position-automatic" (ionChange)="changeAutomatic($event)" [checked]="checkedAutomatic"></ion-toggle>
  </ion-toolbar>
  <ion-toolbar class="color-automatic">
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="top">
        <ion-tab-button (click)="changeStatus('pending')" [selected]="selected === 'pending'" [ngClass]="{'backgroundSelected' : selected === 'pending'}">
          <ion-label>Pendintes</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('accepted')" [selected]="selected === 'accepted'" [ngClass]="{'backgroundSelected' : selected === 'accepted'}">
          <ion-label>Aceptados</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('rejected')" [selected]="selected === 'rejected'" [ngClass]="{'backgroundSelected' : selected === 'rejected'}">
          <ion-label>Rechazados</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('close')" [selected]="selected === 'close'" [ngClass]="{'backgroundSelected' : selected === 'close'}">
          <ion-label>Cerrados</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="allOrder.length">
    <div *ngFor="let order of allOrder">
      <app-delivery-card
          [order]="order"
          (orderSelected)="orderSelected($event)"
      >
      </app-delivery-card>
    </div>
  </ng-container>
</ion-content>
