<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
<!--      <ion-back-button class="header-back-button" text=""></ion-back-button>-->
      <ion-button class="toolbar-button white-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>DELIVERY</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="color-automatic">
    <!--<div style="position: absolute;">
      <ion-button (click)="connectionSync()">
        <ion-icon [ngClass]="{'icon-spinner': _posService.connection}" slot="icon-only" name="sync"></ion-icon>
      </ion-button>
    </div>-->
    <p style="padding-left: 10px;display: inline-block;position: relative;right: 65px;">
      AUTOMATICO
    </p>
    <ion-toggle color="secondary" class="position-automatic" (ionChange)="changeAutomatic($event)"
                [checked]="checkedAutomatic" disabled></ion-toggle>
  </ion-toolbar>
  <ion-toolbar class="color-automatic">
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="top">
        <ion-tab-button (click)="changeStatus('pending')" [selected]="selected === 'pending'"
                        [ngClass]="{'backgroundSelected' : selected === 'pending'}">
          <ion-label *ngIf="selected === 'pending'">Pendientes</ion-label>
          <ion-icon *ngIf="selected !== 'pending'" name="alarm-outline"></ion-icon>
          <ion-icon *ngIf="selected === 'pending'" name="alarm-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('accepted')" [selected]="selected === 'accepted'"
                        [ngClass]="{'backgroundSelected' : selected === 'accepted'}">
          <ion-label *ngIf="selected === 'accepted'">Aceptados</ion-label>
          <ion-icon *ngIf="selected !== 'accepted'" name="checkmark-circle-outline"></ion-icon>
          <ion-icon *ngIf="selected === 'accepted'" name="checkmark-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('delivering')" [selected]="selected === 'delivering'"
                        [ngClass]="{'backgroundSelected' : selected === 'delivering'}">
          <ion-label *ngIf="selected === 'delivering'">Entregados</ion-label>
          <ion-icon *ngIf="selected !== 'delivering'" name="file-tray-stacked-outline"></ion-icon>
          <ion-icon *ngIf="selected === 'delivering'" name="file-tray-stacked-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('rejected')" [selected]="selected === 'rejected'"
                        [ngClass]="{'backgroundSelected' : selected === 'rejected'}">
          <ion-label *ngIf="selected === 'rejected'">Rechazados</ion-label>
          <ion-icon *ngIf="selected !== 'rejected'" name="close-circle-outline"></ion-icon>
          <ion-icon *ngIf="selected === 'rejected'" name="close-circle-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="changeStatus('done')" [selected]="selected === 'done'"
                        [ngClass]="{'backgroundSelected' : selected === 'done'}">
          <ion-label *ngIf="selected === 'done'">Cerrados</ion-label>
          <ion-icon *ngIf="selected !== 'done'" name="lock-closed-outline"></ion-icon>
          <ion-icon *ngIf="selected === 'done'" name="lock-closed-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openOrder()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ng-container *ngIf="allOrder.length">
    <ion-virtual-scroll [items]="allOrder" approxItemHeight="185px">
      <div *virtualItem="let order">
        <app-delivery-card
            [order]="order"
            [images]="integrationImages"
            (orderSelected)="orderSelected($event)"
            (orderPrint)="printCommand($event)"
            (orderPrintDocument)="printDocumentPdf417($event)"
        >
        </app-delivery-card>
      </div>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>
