ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.color-automatic {
  --background: var(--color-home-header-menu);
  --color: white;
  .toolbar-container{
    background: red !important;
  }
}

ion-segment-button.segment-button-checked {
  color: black !important;
}

.maquinaria{
  margin: 0 auto;
  padding: 5px;
  ion-item{
    --inner-border-width: 0;
  }
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

ion-tab-bar {
  height: 45px;
  //height: 100px;
  --background: var(--color-home-header-menu);
  --color: white;
  // margin-bottom: 58px;
}

.number{
  position: absolute;
  background: #052a61;
  border-radius: 100px;
  padding: 4px;
  font-size: 11px;
  top: 0;
  right: 0;
}
