ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.color-automatic {
  --background: var(--color-home-header-menu);
  --color: white;

  .toolbar-container {
    background: red !important;
  }

  text-align: right;
}

ion-segment-button.segment-button-checked {
  color: black !important;
}

.maquinaria {
  margin: 0 auto;
  padding: 5px;

  ion-item {
    --inner-border-width: 0;
  }
}

ion-tab-button {
  font-size: 12px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

ion-tab-bar {
  --background: var(--color-home-header-menu);
  --color: white;
}

.number {
  position: absolute;
  background: #052a61;
  border-radius: 100px;
  padding: 4px;
  font-size: 11px;
  top: 0;
  right: 0;
}

.position-automatic {
  position: absolute;
  //right: 20px;
  right: 0;
  top: 9px;
  z-index: 999999;
}

.backgroundSelected {
  background: #1961c9;
}

ion-label {
  font-size: 12px !important;
}

ion-card {
  box-shadow: none;
}

ion-content {
  --background: var(--color-background-tabs);
}


.tabs-toolbar {  
  --background: var(--color-home-header-menu);
  --color: white;
  height: 75px;
  margin: 0;
  padding: 0;

  ion-tabs {
    position: relative;    
    z-index: 99;
    height: 65px;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .tab-bar {    
    height: 65px;
  }
}
