<ion-content>
  <ion-card>
    <form [formGroup]="loginForm">

      <ion-item>
        <ion-label position="floating">Usuario o correo</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
        <div *ngIf="loginForm.controls.username.dirty && loginForm.hasError('required', 'username')" style="color: red">
          El Usuario o correo es requerido.
        </div>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-checkbox [checked]="loginForm.get('remember').value" formControlName="remember" name='remember'slot="start"></ion-checkbox>
        <ion-label>Recordarme</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label
          class="ion-text-center"
          color="danger"
          routerDirection="forward"
          routerLink="/auth/password-recovery">
            Olvide mi contraseña
        </ion-label>
      </ion-item>

    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button [disabled]="loginForm.invalid" color="danger" expand="block" (click)="onSubmit()">
    Iniciar Sesión
  </ion-button>
</ion-footer>
