<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start" (click)="closeWork()" class="arrow-left">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      <strong>Buscar Trabajador</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-content>
          <form [formGroup]="activeForm">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-item style="width: 100%;">
                    <ion-label position="floating">Elegir trato</ion-label>
                    <ion-select formControlName="id" interface="action-sheet" (ionChange)="change($event)">
                      <ion-select-option *ngFor="let deal of deals" [value]="deal.id" >{{deal.name_deal}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ng-container *ngIf="activeForm.get('id').errors && !activeForm.invalid">
                    <span *ngIf="activeForm.get('id').hasError('required')" style="color: red">
                      Debe elegir un trato
                    </span>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating">Labor</ion-label>
                    <ion-input formControlName="name_labor" disabled></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-label position="floating">Unidad</ion-label>
                    <ion-input formControlName="unit_control" disabled></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item style="width: 100%;">
                    <ion-label position="floating">Método de Lectura</ion-label>
                    <ion-select formControlName="option" interface="action-sheet">
                      <ion-select-option value="0">Peso</ion-select-option>
                      <ion-select-option value="1">Conteo</ion-select-option>
                      <ion-select-option value="2">Rendimiento</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ng-container *ngIf="activeForm.get('option').errors && !activeForm.invalid">
                    <span *ngIf="activeForm.get('option').hasError('required')" style="color: red">Debe elegir un método.</span>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item style="width: 100%;">
                    <ion-label position="floating">Metodo de conexión</ion-label>
                    <ion-select formControlName="method" interface="action-sheet">
                      <ion-select-option value="nfc">NFC</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ng-container *ngIf="activeForm.get('option').errors && !activeForm.invalid">
                    <span *ngIf="activeForm.get('option').hasError('required')" style="color: red">Debe elegir un método.</span>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-item>
                    <ion-label>Registro Automatico</ion-label>
                    <ion-checkbox slot="end" formControlName="automatic"></ion-checkbox>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <ion-button expand="block" [disabled]="activeForm.invalid" (click)="onSubmit()">Activar</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card-content>
      </ion-card>

    </ion-row>
  </ion-grid>


</ion-content>
