<ion-content>
  <ion-searchbar placeholder="Buscar..." (ionChange)="searchCostCenter($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>

  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Sincronizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="filteredCostCenters | alphabeticalOrder">
    <div *virtualItem="let item">
      <app-cost-center-card (cardClicked)="costCenterSelected($event)" [costCenter]="item"></app-cost-center-card>
    </div>
  </ion-virtual-scroll>
</ion-content>
