.font-10 {
  font-size: 10px;
}

.responsable{
  display: table-cell;
  text-align: right;
  vertical-align: top;
  &--name {
    font-size: 10px;
    color: var(--ion-color-medium-shade);
    padding-right: 10px;
    margin-top: 0;
    margin-bottom: 2px;
  }
  div{
    display: table-cell;
  }
  .costos {
    padding: 10px 15px 10px 12px;
    background: var(--color-light-box);
    float: right;
    .date {
      padding-right: 12px;
    }
    .total {
      width: 156px;
    }
  }
}

.estimates-calidad {
  background: white;
  display: table;
  width: 100%;
  padding: 2px 0 10px 0;
  margin-bottom: 5px;
  @media (max-width: 345px) {
    padding-left: 10px;
  }
  div.name {
    display: table-cell;
    font-size: 14px;
    padding-top: 12px;
    .icon {
      vertical-align: middle;
      font-size: 35px;
      padding: 7px;
      @media (max-width: 345px) {
        display: none;
      }
    }
    &--name .date {
      font-size: 10px;
      padding-right: 20px;
      color: var(--ion-color-medium-shade);
    }
    div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}


#containerEstimate{
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  display: block;
}

.graphics.selected #containerEstimate {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
