<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button text="" class="white"></ion-back-button>
    </ion-buttons>
    <ion-title class="white">
      <strong>Estimación de Calidad</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="content">

  <!--  estimaciones de calidad-->
  <div class="estimates-calidad" *ngFor="let est of qualityEstimate">
    <div class="name" routerLink="/quality-estimate">
      <div class="icon">
        <ion-icon name="card" color="success"></ion-icon>
      </div>
      <div class="name--name">
        <p class="mayu margin-0"><strong>Estimacion de Calidad</strong></p>
        <p class="margin-0 date">Ult. Act. {{ est.registrationDate | customDate }}</p>
      </div>
    </div>
    <div class="responsable">
      <p class="responsable--name">
        Responsable: {{ est.userName }}
      </p>
      <div class="costos ion-text-center">
        <div class="date">
          <p class="font-10 margin-0 grey">Calidad</p>
          <p class="margin-0 bold">{{ est.qualityName }}</p>
        </div>
        <div class="total">
          <p class="font-10 margin-0 grey">% EXPORTACION</p>
          <p class="margin-0 bold">
            <ion-icon name="arrow-round-down" color="danger"></ion-icon>&nbsp;<span>{{ est.exportPercentage }}%</span></p>
        </div>
      </div>
      <p class="responsable--name" (click)="openSelectedGraphics()">Desplegar Gráficos</p>
    </div>

  </div>

  <!--  graficos-->
  <div class="graphics" [class.selected]="selectedGraphics">
    <div id="containerEstimate" style="width:100%; height:400px;">
    </div>
  </div>

</ion-content>
