ion-content {
  .logo-home{
    text-align: center;
    margin-top: 20%;
    img {
      height: 130px;
    }
    p {
      color: white;
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 0;
    }

    .message{
      font-size: 12px !important;
      padding: 10px 85px;
    }
  }



  .buttons-home {
    position: absolute;
    width: 100%;
    bottom: 2.5rem;
  }
}
