<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Tarjas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- TARJAS -->
  <ion-item lines="none" class="bg-transparent">
    <ion-label class="tarja-title">
      {{ getWorkerName() | titlecase }}
    </ion-label>
  </ion-item>

  <ion-row>
    <ion-col class="ion-no-margin ion-no-padding">
      <ion-card class="title-card">
        <ion-item lines="none">
          <ion-label>Tarjas</ion-label>
          <ion-badge class="quadrille-badge" color="primary">{{ workerTallies.length }}</ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
    <ion-col class="ion-no-margin ion-no-padding">
      <ion-card class="title-card">
        <ion-item lines="none">
          <ion-label>Jornadas</ion-label>
          <ion-badge class="quadrille-badge" color="primary">{{ getTotalWorkerWork() }}</ion-badge>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="isLoading">
    <h1 class="ion-text-center">Cargando...</h1>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ion-item-sliding #slide *ngFor="let tally of workerTallies">
      <ion-item lines="none" class="slide-item">
        <ion-card class="card-item">
          <ion-item lines="none" class="header-item">
            <ion-icon slot="start" name="reader" color="primary"></ion-icon>
            <ion-label>{{ getCostCenterName(tally.costCenterId) | titlecase }}</ion-label>
            <ion-icon *ngIf="tally.tempId" slot="end" name="server" color="danger" (click)="showTallyError(tally)"></ion-icon>
          </ion-item>

          <ion-card-content>
            <p> <strong>Labor</strong>: {{ getLaborName(tally.laborId) | titlecase }}</p>
            <p *ngIf="tally.hoursExtra"> <strong>Horas Extra</strong>: {{ tally.hoursExtra }}</p>
            <p *ngIf="tally.performance"> <strong>Rendimiento</strong>: {{ tally.performance }}</p>
            <p *ngIf="tally.dealValidity"> <strong>Trato</strong>: {{ getDealName(tally.dealValidity) | titlecase }}</p>
            <p *ngIf="tally.bondValidity"> <strong>Bono</strong>: {{ getBondName(tally.bondValidity) | titlecase }}</p>
            <p *ngIf="tally.notes">
              <strong>Notas</strong>:
              <span #note hidden="true">
                {{ tally.notes }}
              </span>

              <ion-button shape="round" fill="outline" (click)="showNote(note)">
                {{ note.hidden ? 'Ver': 'Ocultar' }} Nota
              </ion-button>
            </p>

            <ion-chip class="ion-float-end" color="primary">
              <ion-label>
                {{ tally.workingDay.toFixed(2) }} JR
              </ion-label>
            </ion-chip>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="editTally(tally, slide)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteTally(tally, slide)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="primary" class="btn-app" expand="block" (click)="createTally()" [disabled]="checkWorkerLimit()">
        Agregar Jornada
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
