<ion-header>
  <ion-toolbar>
    <ng-container *ngIf="showCordovaFeatures">
      <ion-buttons slot="start">
        <ion-button fill="clear" class="button-text-color" (click)="showDeviceData()">{{ getVersion() }}</ion-button>
      </ion-buttons>
    </ng-container>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="device.uuid">
        <ion-button fill="clear" (click)="showFullUUID()" class="button-text-color">
          NC: {{ getUUIDLast8() }}
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>

  <div class="title-header">
    <img (click)="confirmClean()" alt="Primetec" src="assets/imgs/logo.png">
    <h3 class="ion-text-left" style="margin-bottom: 0;">Bienvenido a FX11</h3>
  </div>

</ion-header>

<ion-content scrollX="false" scrollY="false">
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="login" selected="true">
        Iniciar sesión
      </ion-tab-button>
      <ion-tab-button tab="register">
        Registrarse
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
