<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Consumos</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
    <ion-searchbar
      animated
      placeholder="Buscar..."
      showCancelButton="never"
      (ionChange)="searchConsumption($event.target.value)"
      (ionClear)="cancelSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>  
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" [disabled]="isSyncing">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="maquinaria">
    <!-- DAY SELECTOR -->
    <ion-item lines="none">
      <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
      <ion-input class="ion-text-center" [ngModel]="showDate" readonly></ion-input>
      <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <ng-container *ngIf="!isLoading; else loading">
    <ion-virtual-scroll [items]="filteredConsumptions">
      <ion-item-sliding #slide *virtualItem="let consumption">
        <ion-item class="slide-item" lines="none">
          <ion-card>
            <ion-item lines="full" class="full-maquinaria">
              <ion-badge slot="start">{{ consumption.warehouseOriginCode | uppercase }}</ion-badge>
              <ion-label>{{ consumption.warehouseOriginName | titlecase }}</ion-label>
              <ion-icon *ngIf="consumption.tempId" name="server" slot="end" color="danger"></ion-icon>
            </ion-item>

            <ion-card-content>                            
              <p> <strong>Centro de Costo:</strong> {{ consumption.costCenterName | titlecase }}</p>
              <p> <strong>Fecha:</strong> {{ formatDate(consumption.date) }}</p>
              <p> <strong>Producto:</strong> {{ consumption.itemName | titlecase }}</p>
              
              <p *ngIf="consumption.unitName"> <strong>Unidad:</strong> {{ consumption.unitName | titlecase }}</p>

              <div class="ion-float-end">
                <ion-chip>
                  <ion-icon name="clipboard" color="primary"></ion-icon>
                  <ion-label>{{ consumption.quantity }}</ion-label>
                </ion-chip>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="copyConsumption(consumption, slide)">
            <ion-icon slot="icon-only" name="copy"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" (click)="editConsumption(consumption, slide)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteConsumption(consumption, slide)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ng-container>

  <ng-template #loading>
    <p class="ion-text-center">Cargando</p>
  </ng-template>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button size="small" [disabled]="isLoading" (click)="createConsumption()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
