<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="title-header">
    <h3 class="ion-text-left">Recuperación de Contraseña</h3>
  </div>
</ion-header>

<ion-content scrollY="false" scrollX="false">
  <div class="pd-default">
    <br>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <br/>
    <ion-button color="danger" expand="block" routerLink="/auth">Recuperar contraseña</ion-button>
  </div>
</ion-content>
