<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" class="white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="title-header">
    <h3 class="ion-text-left">Recuperación de Contraseña</h3>
  </div>
</ion-header>

<ion-content scrollY="false" scrollX="false">
  <div class="pd-default">
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="recovery">
      <br>
      <ion-item>
        <ion-label position="floating">Usuario o Correo</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>

      <br/>
      <ion-button
          [disabled]="recovery.invalid"
          color="danger"
          expand="block"
          type="submit">
        Recuperar contraseña
      </ion-button>
    </form>

  </div>
</ion-content>
