<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" defaultHref="home-page" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Empresas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="companies">
    <ion-list>
      <ion-item
        (click)="selectCompany(company)"
        *ngFor="let company of companies"
        [ngClass]="{'company-active': company.id === selectedCompany.id, 'company-inactive': company.id !== selectedCompany.id}"
      >
        <ion-icon [color]="company.id === selectedCompany.id ? 'success': 'danger'" name="switch" slot="start"></ion-icon>
        <ion-label>{{ company.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
