<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ qualityEstimate ? 'Ver' : 'Registrar' }} Calidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loader">
    <form [formGroup]="qualityForm">
      <ng-container formGroupName="quality">
        <ion-item>
          <ion-label position="floating">Calidad</ion-label>
          <ion-select cancelText="Cancelar" formControlName="quality" okText="Seleccionar">
            <ion-select-option *ngFor="let q of qualities" [value]="q.id">
              {{ q.name }}
            </ion-select-option>
          </ion-select>
          <ng-container *ngIf="qualityForm.get(['quality', 'quality']).hasError('required')">
            <span class="errorMsg">Seleccione la Calidad</span>
          </ng-container>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Porcentaje de Exportación</ion-label>
          <ion-input formControlName="exportPercentage" placeholder="Ingresar Cantidad" type="number" clearInput></ion-input>
          <ng-container *ngIf="qualityForm.get(['quality', 'exportPercentage']).hasError('required')">
            <span class="errorMsg">Ingrese Porcentaje</span>
          </ng-container>
          <ng-container *ngIf="qualityForm.get(['quality', 'exportPercentage']).hasError('max')">
            <span class="errorMsg">El porcentaje debe ser menor a 100</span>
          </ng-container>
        </ion-item>
      </ng-container>

      <ng-container formArrayName="calibers">
        <ng-container *ngFor="let item of qualityForm.get('calibers')['controls']; let index = index" [formGroupName]="index.toString()">
          <ion-item>
            <ion-label position="floating">{{ getCaliberName(item) }}</ion-label>
            <ion-input formControlName="percentage" placeholder="Ingresar el Porcentaje" type="number" clearInput></ion-input>
            <ng-container *ngIf="item.get('percentage').hasError('required')">
              <span class="errorMsg">Ingrese el Porcentaje</span>
            </ng-container>
            <ng-container *ngIf="item.get('percentage').hasError('max')">
              <span class="errorMsg">El porcentaje debe ser menor a 100</span>
            </ng-container>
          </ion-item>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="qualityForm.hasError('wrongPercentage')">
        <span class="errorMsg">Los porcentajes deben sumar 100%</span>
      </ng-container>

      <br><br>
      <ng-container *ngIf="!qualityEstimate">
        <ion-button (click)="submit()" [disabled]="qualityForm.invalid" color="primary" expand="block">
          Guardar
        </ion-button>
      </ng-container>

    </form>
  </ng-container>
</ion-content>
