<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>CONFIGURACION</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h4 class="ion-text-center">
        Selecciona una empresa:
      </h4>
      <form [formGroup]="configForm">
        <ion-item *ngIf="configDelivery && configDelivery.length">
          <!--          <ion-label>Empresa</ion-label>-->
          <ion-select placeholder="Selecciona..." formControlName="configId" name="configId"
                      style="width: 100%;max-width:100%;" (ionChange)="changeLocal($event)">
            <ion-select-option [value]="config.id"
                               *ngFor="let config  of configDelivery">{{config.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-button expand="block" [disabled]="configForm.invalid" (click)="submitForm()">Activar</ion-button>
      </form>
      <br>
      <div style="padding: 10px;border-top: 1px solid rgb(0, 0, 0, 0.1);" *ngIf="configActiveDelivery">
        <ion-button expand="block" *ngIf="!_posService.connection" [disabled]="!configDelivery"
                    (click)="connectionSync()" color="success"
        >Probar CONEXION
        </ion-button>
        <ion-button expand="block" *ngIf="_posService.connection" [disabled]="_posService.connection" color="success"
        >
          <ion-icon class="icon-spinner" slot="icon-only" name="sync"></ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-button expand="block" *ngIf="!_posService.connection" [disabled]="!configDelivery"
                    (click)="deleteConnection()" color="danger"
        >DESACTIVAR
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="android && printCommad && printCommad.length">
    <ion-card-content>
      <h4 class="ion-text-center" (click)="testPrint()">
        Impresion Comanda
      </h4>
      <form [formGroup]="configFormComanda">
        <div formArrayName="value">
          <div *ngFor="let control of valueCommand.controls; let i = index">
            <ion-item *ngIf="labelCommand(i) === 'copias'">
              <ion-label position="floating">{{traduction(labelCommand(i))}}</ion-label>
              <ion-input type="number" [formControlName]="i"></ion-input>
            </ion-item>
            <ion-item *ngIf="labelCommand(i) === 'codigo_barra'">
              <ion-label position="floating">{{traduction(labelCommand(i))}}</ion-label>
              <ion-select [formControlName]="i">
                <ion-select-option value="si">si</ion-select-option>
                <ion-select-option value="no">no</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="labelCommand(i) === 'metodo'">
              <ion-label position="floating">{{traduction(labelCommand(i))}}</ion-label>
              <ion-select [formControlName]="i">
                <ion-select-option value="ip">IP</ion-select-option>
                <ion-select-option value="bluetooth">Bluetooth</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="labelCommand(i) === 'general'">
              <ion-label position="floating">{{traduction(labelCommand(i))}}</ion-label>
              <ion-select [formControlName]="i">
                <ion-select-option value="si">si</ion-select-option>
                <ion-select-option value="no">no</ion-select-option>
                <ion-select-option value="preguntar">preguntar</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="labelCommand(i) === 'direccion' && valueCommandMethod()">
              <ion-label position="floating">{{traduction(labelCommand(i))}}</ion-label>
              <ion-input type="text" [formControlName]="i"></ion-input>
            </ion-item>
            <ion-item *ngIf="labelCommand(i) === 'direccion'  && !valueCommandMethod()">
              <ion-label position="floating">Dirección</ion-label>
              <ion-select [formControlName]="i">
                <ion-select-option [value]="device.address" *ngFor="let device of getPairedDevices() | async">{{ device.name ? device.name : device.address }}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
        <br>
        <ion-button expand="block" [disabled]="configFormComanda.invalid  || loadingCommand"
                    (click)="submitFormPrint()">
          <span *ngIf="!loadingCommand">
            Actualizar
          </span>
          <ion-icon class="icon-spinner" slot="icon-only" name="sync" *ngIf="loadingCommand">></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="android && printDocument && printDocument.length">
    <ion-card-content>
      <h4 class="ion-text-center" (click)="testPrint('documento')">
        Impresion Documentos
      </h4>
      <form [formGroup]="configFormDocuments">
        <div formArrayName="value">
          <ion-item *ngFor="let control of valueDocument.controls; let i = index">
            <ion-label position="floating">{{traduction(labelDocument(i))}}</ion-label>
            <ion-input type="text" [formControlName]="i"
                       *ngIf="labelDocument(i) === 'direccion'"></ion-input>
            <ion-input type="number" [formControlName]="i"
                       *ngIf="labelDocument(i) === 'copias'"></ion-input>
            <ion-select [formControlName]="i" *ngIf="labelDocument(i) === 'general'">
              <ion-select-option value="si">si</ion-select-option>
              <ion-select-option value="no">no</ion-select-option>
              <ion-select-option value="preguntar">preguntar</ion-select-option>
            </ion-select>
            <ion-select [formControlName]="i" *ngIf="labelDocument(i) === 'metodo'">
              <ion-select-option value="ip">IP</ion-select-option>
              <!--              <ion-select-option value="bluetooth">Bluetooth</ion-select-option>-->
            </ion-select>
            <ion-select [formControlName]="i" *ngIf="labelDocument(i) === 'codigo_barra'">
              <ion-select-option value="si">si</ion-select-option>
              <ion-select-option value="no">no</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <br>
        <ion-button expand="block" [disabled]="configFormDocuments.invalid || loadingDocument"
                    (click)="submitFormPrint()">
          <span *ngIf="!loadingDocument">
            Actualizar
          </span>
          <ion-icon class="icon-spinner" slot="icon-only" name="sync" *ngIf="loadingDocument">></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>


</ion-content>
