<ion-card [disabled]="!isOnline" (click)="showDetails()">
  <ion-item>
    <ion-badge slot="start" color="primary">{{ costCenter.code | uppercase }}</ion-badge>
    <ion-label>
      {{ costCenter.name }}
    </ion-label>
    <ion-badge slot="end" color="primary"># {{ costCenter.contractDocumentNumber }}</ion-badge>
  </ion-item>

  <ion-card-content>
    <p>{{ costCenter.producerName }}</p>
    <p> {{ costCenter.speciesName }} <strong>/</strong> {{ costCenter.varietyName }}</p>
    <p *ngIf="costCenter.contractResponsible">{{ costCenter.contractResponsible }}</p>
    <p class="bottom__date"> <strong>Fecha Inicio Cosecha</strong>: {{ costCenter.harvestDate | customDate }}</p>

    <ion-chip class="ion-float-end">
      <ion-icon name="clipboard" color="success"></ion-icon>
      <ion-label>{{ costCenter.contractsNumber }}</ion-label>
    </ion-chip>
  </ion-card-content>
</ion-card>
