<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Orden</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <h2 class="ion-text-center"><strong>ITEMS</strong></h2>
      <ng-container *ngIf="items && items.length">
        <div *ngFor="let item of items" class="item-card-alt">
          <ion-item-sliding style="margin-top: 10px;" #itemSlidingDiscount>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="removeDiscount(item, itemSlidingDiscount)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
              <ion-item-option color="primary" (click)="percentage(item, itemSlidingDiscount)">
                <ion-icon name="cellular-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option color="secondary" (click)="money(item, itemSlidingDiscount)">
                <ion-icon name="cash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            <!--<ion-item class="card-item-alt">-->
            <ion-item>
              <ion-thumbnail slot="start" class="item-thumbnail">
                <ion-img [src]="attachment(item.id_par_items)"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <div class="description">
                  <p>
                    <span class="code">{{item.code_product}}</span> - <strong>{{item.name_product}}</strong>
                  </p>
                  <p *ngIf="item.discount && item.discount > 0 && item.type_discount === 'Porcentaje'">{{int((item.discount / item.price) * 100)}} % Desc.</p>
                  <p *ngIf="item.discount && item.discount > 0 && item.type_discount === 'Monetario'">{{item.discount * quantityOrder(item)}} CLP Desc.</p>
                </div>
                <div class="quantity">
                  <span class="prices">
                    <span *ngIf="item.discount && item.discount > 0" style="margin-right: 10px;">
                      {{(item.price - item.discount) * quantityOrder(item) | currency:' ':'symbol':'1.0-2' }}
                    </span>
                    <span [ngStyle]="{textDecoration: item.discount && item.discount > 0 ? 'line-through' : ''}">
                      {{item.price * quantityOrder(item) | currency:' ':'symbol':'1.0-2' }}
                    </span>
                  </span>
                  <!--<span>{{item.price | currency:' ':'symbol':'1.0-2' }}</span>-->

                  <div class="button-footer">
                    <ion-button color="success" strong="true" class="button-add" (click)="addItems(item)">+</ion-button>
                    <div class="number-add">{{quantityOrder(item)}}</div>
                    <ion-button color="warning" strong="true" class="button-add" (click)="removeItems(item)">-</ion-button>
                  </div>
                </div>
              </ion-label>
              <!--<div>
                <img [src]="attachment(item.id_par_items)" class="img-card">
              </div>
              <div class="description">
                <div class="name">
                  <p style="font-size: 16px;"><span class="code">{{item.code_product}}</span> - <strong>{{item.name_product}}</strong></p>
                  <p *ngIf="item.discount && item.discount > 0 && item.type_discount === 'Porcentaje'">{{int((item.discount / item.price) * 100)}} % Desc.</p>
                  <p *ngIf="item.discount && item.discount > 0 && item.type_discount === 'Monetario'">{{item.discount * quantityOrder(item)}} CLP Desc.</p>
                  <p>
                  <span *ngIf="item.discount && item.discount > 0"
                        style="margin-right: 10px;">{{(item.price - item.discount) * quantityOrder(item) | currency:' ':'symbol':'1.0-2' }}</span>
                    <span
                      [ngStyle]="{textDecoration: item.discount && item.discount > 0 ? 'line-through' : ''}">{{item.price * quantityOrder(item) | currency:' ':'symbol':'1.0-2' }}</span>
                  </p>
                </div>
                <div class="button-footer">
                  <div class="button-add" (click)="addItems(item)">+</div>
                  <div class="number-add">{{quantityOrder(item)}}</div>
                  <div class="button-add" (click)="removeItems(item)">-</div>
                </div>
              </div>-->
            </ion-item>
          </ion-item-sliding>
        </div>
      </ng-container>
      <div class="card-comment">
        <form [formGroup]="form">
          <div>
          <textarea name="" id="" rows="5" formControlName="comment" placeholder="Escribe un comentario / sugerencias"
                    class="comment"></textarea>
          </div>
        </form>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-text-center" *ngIf="items.length">
  <ion-button class="btn-app" color="primary" expand="block" (click)="createOrder()">
    Crear Orden
  </ion-button>
</ion-footer>
