ion-card {
  margin: 7px;
  box-shadow: none;
}

ion-card-content {
  padding: 7px;
}

ion-content {
  --background: var(--color-background-tabs);
}

.error {
  --background: red;
}

.description {
  position: absolute;
  right: 0px;
  width: 73%;
  top: 24px;
}

.card-item {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid rgb(0 0 0 / 8%);
}

.button-footer {
  position: absolute;
  right: 0;
  top: 24px;
}

.button-add {
  float: right;
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(0 0 0 / 13%);
}

.number-add {
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.img-card{
  height: 79px;
  width: 93px;
  position: relative;
  top: 2px;
}

.show-order {
  padding: 10px;
  background: rgb(0 128 0 / 68%);
  color: white;
}

.comment{
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}
