ion-card {
  margin: 7px;
  box-shadow: none;
}

ion-card-content {
  padding: 7px;
}

ion-content {
  --background: var(--color-background-tabs);
}

.error {
  --background: red;
}

.card-comment {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid rgb(0 0 0 / 8%);
}

/*.button-add {
  float: right;
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(0 0 0 / 13%);
}*/

/*.number-add {
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}*/

/*.img-card{
  height: 79px;
  width: 93px;
  position: relative;
  top: 2px;
}*/

.show-order {
  padding: 10px;
  background: rgb(0 128 0 / 68%);
  color: white;
}

.comment{
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

.item-card-alt {
  //min-height: 90px;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  //border-bottom: 1px solid rgb(0 0 0 / 8%);

  ion-item-options {
    border: none !important;
  }

  ion-item {
    --padding-start: 1rem;
    --border-style: none;
  }

  .item-thumbnail {
    height: 90px;
    width: 90px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16px;
  }

  ion-label {
    height: 100%;
    margin: 0;
    padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      white-space: break-spaces;
      margin-bottom: 0.5rem;

      p {
        font-size: 13px;
      }

      .code {
        font-size: 90%;
        font-weight: bold;
        color: var(--ion-color-medium);
      }
    }

    .quantity {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-size: 14px;
      }

      .prices {
        display: flex;
        align-items: center;
      }

      .button-footer {
        display: flex;
        align-items: center;


        .number-add {
          padding: 0 10px;
          text-align: center;
          font-size: 15px;
        }
      }
    }
  }
}

.card-item-alt {
  display: flex;
  flex-direction: row;
  --background: white !important;
  --padding-start: 0 !important;
  --border-color: transparent !important;

  img {
    object-fit: cover;
    height: auto;
  }

  .description {
    padding-top: 5px;
    padding-left: 5px;
    flex: 1;

    .code {
      font-size: 90%;
      font-weight: bold;
      color: var(--ion-color-medium);
    }

    .button-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      .button-add {
        padding: 5px 15px 5px 15px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        border: 1px solid rgb(0 0 0 / 13%);
        border-radius: 4px;
      }

      .number-add {
        padding: 5px 10px 5px 10px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
