ion-card {
  margin: 7px;
}

.error {
  --background: red;
}

.group {
  background: #d0ebff;
  padding: 7px;
  border-radius: 3px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu span {
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 0;
  font-size: 18px !important;
}

.select {
  background-color: #262626;
  color: white;
}

ion-card-content {
  padding: 5px;
}

ion-content {
  --background: var(--color-background-tabs);
}

ion-card {
  box-shadow: none;
}

.button-footer {
  position: absolute;
  right: 0;
  top: 45px;
}

.button-add {
  float: right;
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(0 0 0 / 13%);
}

.number-add {
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.img-card {
  width: 93px;
  position: relative;
  top: 2px;
}

.show-order {
  padding: 10px;
  background: rgb(0 128 0 / 68%);
  color: white;
}

.icon-cam-fixed {
  position: absolute;
  top: 3px;
  color: white;
  padding: 5px;
  font-size: 15px;
}

.item-thumbnail {
  height: 64px;
  width: 70px;
  margin: 0 5px 0 -10px;
}

.overflow {
  //height: 230px;
  overflow: auto;
}

textarea {
  width: 100%;
  border: none;
  padding: 10px;

  &:focus {
    outline: none;
  }
}

.total-order {
  font-size: 18px;
  color: black;
}

.quantity {
  width: 58px;
  text-align: center;
  margin-left: 120px;
}

.total {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

ion-item {
  --border-color: transparent !important;
  --border-width: 0px !important;
  --min-height: 5px;
  --background: transparent !important;
}

.title-transactions {
  --background: transparent;
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 28px;
  --padding-start: 0;
  --padding-top: 0;
  --min-height: 5px;

  strong {
    position: relative;
    top: 10px;
  }
}

.lineT {
  text-decoration: line-through;
  color: lightslategrey;
}

.worker-title {
  span {
    font-size: 85%;

    &.title {
      display: block;
    }
  }
}
