ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-col {
  padding: 2px;
}

.disabled {
  opacity: .5;
}

.menu-card {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: none;
  height: 100%;
}

.menu-icon-size {
  font-size: 64px
}

.menu-name {
  text-align: center;
  font-weight: bolder;
  text-transform: capitalize;
  margin-top: 10px;
}
