<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Menú</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed" pullFactor="0.5" pullMin="50" pullMax="100" [disabled]="(stepperService.getStepper() | async)?.length > 0"></ion-refresher>

  <ng-container *ngIf="(stepperService.getStepper() | async)?.length > 0 ; else render">
    <ion-list lines="none">
      <ion-item *ngFor="let step of stepperService.getStepper() | async; let i = index">
        <ion-icon [color]="step['index'] < i ? 'success': 'warning'" slot="start" name="checkmark-circle"></ion-icon>
        <ion-label>{{ step['name'] }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #render>    
    <ion-row>
      <ion-col *ngFor="let menu of menus; let i = index" size="6">
        <ion-card class="item-card" (click)="navigate(menu)" [ngClass]="{ 'disabled': checkDisabled(menu) }">
          <ion-card-content>
            <p class="ion-text-center">
              <ion-icon [src]="menu.icon_url" style="font-size: 64px"></ion-icon>
              <ion-badge *ngIf="showBadge(menu) > 0" class="menu-bagde">{{ showBadge(menu) }}</ion-badge>
            </p>
            <p class="ion-text-center">
              <strong>{{ menu.caption | titlecase }} </strong>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ng-template>
</ion-content>