<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Aplicaciones</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="toolbar-search">
    <ion-searchbar animated placeholder="Buscar..." showCancelButton="never"
      (ionChange)="searchApplication($event.target.value)" (ionClear)="cancelSearch()">
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top" style="height: 100%">
        <ion-tab-button [ngClass]="{ 'tab-selected': currentTab === toApplyTab }" (click)="currentTab = toApplyTab">
          <ion-label>Por Aplicar</ion-label>
        </ion-tab-button>

        <ion-tab-button [ngClass]="{ 'tab-selected': currentTab === appliedTab }" (click)="currentTab = appliedTab">
          <ion-label>Aplicadas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- TO APPLY TAB -->
  <ng-container *ngIf="currentTab === toApplyTab">
    <ion-virtual-scroll [items]="filteredToApplyApplications">
      <ion-item class="slide-item" lines="none" #slide *virtualItem="let application"
        (click)="selectApplication(application)">
        <ion-card [ngClass]="{ 'applicationSelected': selectedApplication === application}">
          <ion-item lines="full">
            <ion-badge slot="start">{{ application.costCenterCode | uppercase }}</ion-badge>
            <ion-label>{{ application.costCenterName | titlecase }}</ion-label>
          </ion-item>

          <ion-card-content>
            <p *ngIf="application.costCenterMachineryName">
              <strong>Maquina:</strong> {{ application.costCenterMachineryName }}
            </p>
            <p *ngIf="getImplementName()">
              <strong>Implemento:</strong> {{ getImplementName() }}
            </p>
            <p *ngIf="getWorkerName()">
              <strong>Operador:</strong> {{ getWorkerName() }}
            </p>

            <div class="ion-text-right">
              <ion-chip>
                <ion-icon name="calculator-outline" color="success"></ion-icon>
                <ion-label>{{ application.applicationBalance }} ha</ion-label>
              </ion-chip>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-virtual-scroll>
  </ng-container>

  <!-- APPLIED TAB -->
  <ng-container *ngIf="currentTab === appliedTab">
    <ion-virtual-scroll [items]="filteredAppliedApplications">
      <ion-item-sliding #slide *virtualItem="let application">
        <ion-item class="slide-item" lines="none">
          <ion-card>
            <ion-item lines="full">
              <ion-badge slot="start">{{ application.costCenterCode | uppercase }}</ion-badge>
              <ion-label>{{ application.costCenterName | titlecase }}</ion-label>
              <ion-icon *ngIf="application.tempId" slot="end" name="server" color="danger"></ion-icon>
            </ion-item>

            <ion-card-content>
              <div class="ion-text-right">
                <ion-chip>
                  <ion-icon name="calculator-outline" color="primary"></ion-icon>
                  <ion-label>
                    <span *ngIf="application.hectaresQuantity">{{ application.hectaresQuantity }}</span>
                    <span *ngIf="application.hectares">{{ application.hectares }}</span>
                  </ion-label>
                </ion-chip>

                <ion-chip>
                  <ion-icon name="calculator-outline" color="success"></ion-icon>
                  <ion-label>{{ application.litersQuantity }} </ion-label>
                </ion-chip>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options side="end" *ngIf="!application.tempId">
          <ion-item-option color="warning" (click)="editApplication(application, slide)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteApplication(application, slide)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>

<ion-footer>
  <ng-container *ngIf="currentTab === toApplyTab">
    <ion-button expand="block" [disabled]="!selectedApplication" (click)="startApplication()">
      Ver
    </ion-button>
  </ng-container>
</ion-footer>
