ion-content {
  --background: var(--color-background-tabs);
}

.description {
  font-size: 16px;
  color: black;
  padding: 8px 15px 0 15px;

  p {
    margin: 0;
    font-weight: bold;
  }
}

.number-class {
  padding: 0 10px 10px 10px;

  ion-input {
    font-size: 2rem;
    text-align: center;
    color: #000000;
    font-weight: bold;
    background-color: #f1f1f1;
    border-radius: 5px;
  }
}

.color-grey {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
}

ion-card {
  box-shadow: none;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

form {
  width: 100%;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  //border-style: solid;
  //border-width: 1px;
  overflow: hidden;
  word-break: normal;
  //border-color: rgba(190, 190, 190, 0.32);
  color: rgb(157, 157, 157);
  padding: 20px 0px;
  cursor: pointer;
}

.tg .tg-yw4l {
  vertical-align: top;
  text-align: center;

  &:active {
    background: #152635 !important;
  }
}

ion-item {
  --background: #f1f1f1;
  --inner-border-width: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-padding-bottom: 0;
  --inner-padding-top: 0;
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --min-height: 5px;
}

.payment-p {
  margin: 0;
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 40px;
}

.divider {
  background: white;
  height: 3px;
  margin: 5px 0;
}

.item-input {
  margin: 5px 0;

  ion-input {
    //background: white;
    padding: 0 5px !important;
  }

  ion-textarea {
    //background: white;
    width: 100%;
    margin-left: 10px;
    padding: 0 5px !important;
  }
}
