<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Trabajadores</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher class="refresher" slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="quadrille">
    <h2 class="ion-text-center">
      {{ quadrille.name }}
      <ion-badge class="quadrille-badge" color="primary">{{ filteredWorkers.length }}</ion-badge>
    </h2>

    <ng-container *ngIf="filteredWorkers.length > 0">
      <ion-list lines="none">
        <ion-virtual-scroll [items]="filteredWorkers">
          <ion-item *virtualItem="let worker" (click)="markWorker(worker)" [ngClass]="{ 'workerSelected': selectedWorkers.includes(worker) }">
            <ion-icon name="contact" slot="start"></ion-icon>
            <ion-label>
              <h3 class="label-padding">{{ worker.name }}</h3>
              <div class="label-padding">

                <div class="ion-text-left">
                  {{ worker.identifier | rut }}
                </div>
                <div class="ion-text-right">
                  <ion-badge color="primary">{{ worker.quadrilleStatus }}</ion-badge>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-list>
    </ng-container>
  </ng-container>

</ion-content>

<ion-footer>
  <ion-row *ngIf="selectedWorkers.length > 0">
    <ion-col>
      <ion-button (click)="selectQuadrille();" color="warning" expand="block">
        Traspasar {{ selectedWorkers.length }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
