<ion-content>
  <div class="item" routerLink="/contract-detail">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="card">
      <div class="card-image">
        <img src="assets/imgs/item-img-card.png" alt="image">
      </div>
      <div class="card-text-one">
        <p>Productor</p>
        <p>Responsable</p>
        <p>Fecha Cosecha</p>
      </div>
      <div class="card-text-two">
        <p># Contrato</p>
        <p>Especie / Variedad</p>
        <p>Cantidad (TN)</p>
      </div>
    </div>
  </div>
</ion-content>
