<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Pre-Contratos</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
    <ion-searchbar
      animated
      placeholder="Buscar..."
      showCancelButton="never"
      (ionChange)="searchContract($event.target.value)"
      (ionClear)="cancelSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reSync($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 class="ion-text-center">
    Pre-Contratos
    <ion-badge class="quadrille-badge" color="primary">{{ filteredContracts.length }}</ion-badge>
  </h2>

  <ng-container *ngIf="isLoading">
    <h1 class="ion-text-center">Cargando...</h1>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ion-virtual-scroll [items]="filteredContracts">
      <div *virtualItem="let contract">
        <app-contract-list-item
          [contract]="contract"
          (editContractEvent)="editContractEvent($event)"
          (deleteContractEvent)="deleteContract($event)">
        </app-contract-list-item>
      </div>
    </ion-virtual-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" (click)="contractForm()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>

</ion-content>
