<ion-item-sliding>
  <ion-item-options side="end" *ngIf="!order?.document && !order?.payment && order?.origin === 'FX360'">
    <ion-item-option color="danger" (click)="deleteOrder(order)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>

  <ion-item lines="none" class="slide-item item-bg" (click)="viewOrder(order)">
    <ion-card>
      <ion-item class="header-item" lines="none">
        <ion-badge slot="start" [ngClass]="{'error':order?.error}">
          #{{ order?.id }}
        </ion-badge>
        <ion-label>
          <div class="documents-payments">
            <ion-icon name="document-attach-outline" style="color: #052a61;" *ngIf="order?.document"></ion-icon>
            <ion-icon name="cash-outline" style="color: #0ec254;" *ngIf="order?.payment"></ion-icon>
          </div>
        </ion-label>
        <div slot="end" style="margin: 0;">
          <img [src]="imageIntegration(order)" alt="" style="margin-right: 10px;width: 50px;vertical-align: top;">
        </div>
        <div slot="end" style="margin: 5px 0 0;">
          <img src="assets/imgs/justo.png" alt="JUSTO" class="icon-delivery" *ngIf="order?.origin === 'JUSTO'">
          <img src="assets/imgs/centry.png" alt="JUSTO" class="icon-delivery" *ngIf="order?.origin === 'CENTRY'">
          <img src="assets/imgs/fx360.jpg" alt="FX360" class="icon-delivery" *ngIf="order?.origin === 'FX360'">
        </div>
      </ion-item>
      <ion-card-content>
        <p *ngIf="order?.name_integration"><strong>Local:</strong> {{ order?.name_integration}}</p>
        <p *ngIf="order?.code"><strong>Código:</strong> {{ order?.code}}</p>
        <p *ngIf="order?.type"><strong>Tipo de venta:</strong> {{ order?.type}}</p>
        <p *ngIf="order?.date_createdAt"><strong>Registro:</strong> {{ order?.date_createdAt}}</p>
        <!--<p *ngIf="order?.full_code"><strong>Full Código:</strong> {{ order?.full_code}}</p>-->
        <p *ngIf="order?.date_delivery"><strong>Est. de despacho:</strong> {{ order?.date_delivery }}</p>
        <p *ngIf="order?.date_timeText"><strong>Est. de entrega:</strong> {{ order?.date_timeText }}</p>
        <p *ngIf="order?.value_total"><strong>Total:</strong> {{ order?.value_total | currency:' ':'symbol':'1.0-2' }}</p>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <ion-item-options side="start" *ngIf="!order?.document && !order?.payment && order?.origin === 'FX360'" >
    <ion-item-option color="secondary" (click)="updateOrder(order)">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
