<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar Estimacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loader">
    <form [formGroup]="harvestForm">
      <ion-item>
        <ion-label position="floating">Unidad</ion-label>
        <ion-select cancelText="Cancelar" formControlName="unit" okText="Seleccionar">
          <ion-select-option *ngFor="let unit of units" [value]="unit.id">
            {{ unit.name }}
          </ion-select-option>
        </ion-select>
        <ng-container *ngIf="showErrors && harvestForm.get('unit').hasError('required')">
          <span class="errorMsg">Seleccione Unidad</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input clearInput formControlName="quantity" placeholder="Ingresar Cantidad" type="number" value="clear"></ion-input>
        <ng-container *ngIf="showErrors && harvestForm.get('quantity').hasError('required')">
          <span class="errorMsg">Ingrese Cantidad</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad Diaria</ion-label>
        <ion-input clearInput formControlName="dailyAmount" placeholder="Ingresar Cantidad Diaria" type="number" value="clear"></ion-input>
        <ng-container *ngIf="showErrors && harvestForm.get('dailyAmount').hasError('required')">
          <span class="errorMsg">Ingrese cantidad diaria</span>
        </ng-container>
      </ion-item>

      <ion-radio-group formControlName="workHolidays">
        <ion-list-header>
          <ion-label>Trabaja Festivos ?</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio checked slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>

        <ng-container *ngIf=" showErrors && harvestForm.get('workHolidays').hasError('required')">
          <span class="errorMsg">Indique si trabaja los feriados.</span>
        </ng-container>
      </ion-radio-group>

      <ion-item>
        <ion-label position="floating">Fecha Inicio</ion-label>
        <ion-datetime [displayFormat]="displayFormat" formControlName="startDate" placeholder="Ingresar Fecha Inicio"></ion-datetime>
        <ng-container *ngIf="showErrors && harvestForm.get('startDate').hasError('required')">
          <span class="errorMsg">Ingrese fecha inicio</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha Fin</ion-label>
        <ion-datetime [displayFormat]="displayFormat" formControlName="endDate" placeholder="Ingresar Fecha Fin"></ion-datetime>
        <ng-container *ngIf="showErrors && harvestForm.get('startDate').hasError('required')">
          <span class="errorMsg">Ingrese fecha fin</span>
        </ng-container>
      </ion-item>

      <br><br>
      <ion-button (click)="submit()" [disabled]="harvestForm.invalid" color="primary" expand="block">
        Guardar
      </ion-button>

    </form>
  </ng-container>
</ion-content>
