<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ harvestEstimate ? 'Ver' : 'Registrar'  }}  Estimacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loader">
    <form [formGroup]="harvestForm">
      <ion-item>
        <ion-label position="floating">
          Cantidad {{ showUnitName() | uppercase }}
        </ion-label>
        <ion-input formControlName="quantity" placeholder="Ingresar Cantidad" type="number" clearInput></ion-input>
        <ng-container *ngIf="showErrors && harvestForm.get('quantity').hasError('required')">
          <span class="errorMsg">Ingrese Cantidad</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Cantidad Diaria {{ showUnitName() | uppercase }}
        </ion-label>
        <ion-input formControlName="dailyAmount" placeholder="Ingresar Cantidad Diaria" type="number" clearInput></ion-input>
        <ng-container *ngIf="showErrors && harvestForm.get('dailyAmount').hasError('required')">
          <span class="errorMsg">Ingrese cantidad diaria</span>
        </ng-container>
      </ion-item>

      <ion-list>
        <ion-list-header>
          <ion-label>Trabaja Festivos ?</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Si</ion-label>
          <ion-radio formGroupName="workHolidays" [checked]="harvestForm.get('workHolidays').value === 1" slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio formGroupName="workHolidays" [checked]="harvestForm.get('workHolidays').value === 0" slot="start" value="0"></ion-radio>
        </ion-item>

        <ng-container *ngIf=" showErrors && harvestForm.get('workHolidays').hasError('required')">
          <span class="errorMsg">Indique si trabaja los feriados.</span>
        </ng-container>
      </ion-list>

      <ion-item>
        <ion-label position="floating">Fecha Inicio</ion-label>
        <ion-datetime [max]="maxDate" [pickerFormat]="dateFormat" [displayFormat]="dateFormat" formControlName="startDate" placeholder="Ingresar Fecha Inicio"></ion-datetime>
        <ng-container *ngIf="showErrors && harvestForm.get('startDate').hasError('required')">
          <span class="errorMsg">Ingrese fecha inicio</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha Fin</ion-label>
        <ion-datetime [max]="maxDate" [pickerFormat]="dateFormat" [displayFormat]="dateFormat" formControlName="endDate" placeholder="Ingresar Fecha Fin"></ion-datetime>
        <ng-container *ngIf="showErrors && harvestForm.get('startDate').hasError('required')">
          <span class="errorMsg">Ingrese fecha fin</span>
        </ng-container>
      </ion-item>

      <br><br>
      <ng-container *ngIf="!harvestEstimate">
        <ion-button (click)="submit()" [disabled]="harvestForm.invalid" color="primary" expand="block">
          Guardar
        </ion-button>
      </ng-container>

    </form>
  </ng-container>
</ion-content>
