<ion-content>
  <div class="form">
    <p  class="p">
      <strong>Cambiar contraseña</strong>
      <span class="closeModal" (click)="modalClose()">x</span>
    </p>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <div *ngIf="passwordForm.controls.password.dirty && passwordForm.hasError('required', 'password')"
           style="color: red">
        La
        contraseña es requerida.
      </div>
      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirm"
                   tabindex="7" type="password"></ion-input>
      </ion-item>
      <div *ngIf="passwordForm.controls.confirm.dirty && passwordForm.hasError('required', 'confirm')"
           style="color: red">
        Debe
        confirmar la contraseña
      </div>
      <div *ngIf="passwordForm.controls.confirm.dirty && passwordForm.hasError('notSame')"
           style="color: red">Las
        contraseñas no son iguales
      </div>

      <br>
      <ion-button
          [disabled]="passwordForm.invalid"
          color="danger"
          expand="block"
          type="submit">
        Cambiar Contraseña
      </ion-button>

    </form>

  </div>
</ion-content>
