<ng-container *ngIf="item; else empty">

  <ion-item-sliding [disabled]="slideDisabled">
    <ion-item class="quality" (click)="clickItem(item)" lines="none" [ngClass]="{ 'old': isOld}">
      <ion-icon class="icon" color="success" name="card"></ion-icon>
      <ion-label>
        <div class="name">{{ item.userName }}</div>
        <ion-row class="highlight">
          <ion-col size="6">
            <div class="title">Calidad</div>
          </ion-col>
          <ion-col size="6">
            <div class="title">% Exportación</div>
          </ion-col>
        </ion-row>
        <ion-row class="highlight">
          <ion-col size="6" class="ion-no-padding">
            <div class="value totales">{{ item.qualityName }}</div>
          </ion-col>
          <ion-col size="6" class="ion-no-padding">
            <div class="value">
              <ion-icon size="large" [color]="item.color" [name]="item.arrow"></ion-icon>&nbsp;
              <span class="totales">{{ item.exportPercentage }} %</span>
            </div>
          </ion-col>
        </ion-row>
        <div class="date">Ult. Act. {{ item.registrationDate | customDatetime }}</div>
      </ion-label>
    </ion-item>

    <ng-container *ngIf="!showChart">
      <ion-item lines="none" (click)="openChart()" [ngClass]="{ 'old': isOld}">
        <ion-icon slot="start" name="analytics"></ion-icon>
        <ion-label>
          Desplegar Grafico
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="showChart">
      <ion-item lines="none" (click)="showChart = false" [ngClass]="{ 'old': isOld}">
        <ion-icon slot="start" name="analytics"></ion-icon>
        <ion-label>
          Ocultar Grafico
        </ion-label>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="showChart">
      <div echarts [options]="this.chartData" class="chart" [ngClass]="{ 'old': isOld}"></div>
    </ng-container>

    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deleteItem(item)">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-container>

<ng-template #empty>
  <ion-item class="quality" (click)="clickItem()" lines="none" [ngClass]="{ 'old': isOld}">
    <ion-icon class="icon" color="success" name="card"></ion-icon>
    <ion-label>
      <div class="name">N/A</div>
      <ion-row class="highlight">
        <ion-col size="6">
          <div class="title">Calidad</div>
        </ion-col>
        <ion-col size="6">
          <div class="title">% Exportación</div>
        </ion-col>
      </ion-row>
      <ion-row class="highlight">
        <ion-col size="6">
          <div class="value">N/A</div>
        </ion-col>
        <ion-col size="6">
          <div class="value">
            <span>0 %</span>
          </div>
        </ion-col>
      </ion-row>
      <div class="date">Ult. Act. 00/00/0000</div>
    </ion-label>
  </ion-item>
</ng-template>
