<ng-container *ngIf="item; else empty">

  <ion-item-sliding [disabled]="slideDisabled">
    <ion-item (click)="clickItem(item)" lines="none" [ngClass]="{ 'old': isOld}">
      <ion-icon class="icon" color="success" name="card"></ion-icon>
      <ion-label>
        <div class="name">{{ item.userName }}</div>
        <ion-row class="highlight">
          <ion-col size="6">
            <div class="title">Calidad</div>
          </ion-col>
          <ion-col size="6">
            <div class="title">% Exportación</div>
          </ion-col>
        </ion-row>
        <ion-row class="highlight">
          <ion-col size="6">
            <div class="value">{{ item.qualityName }}</div>
          </ion-col>
          <ion-col size="6">
            <div class="value">
              <ion-icon [color]="item.color" [name]="item.arrow"></ion-icon>&nbsp;&nbsp;
              <span>{{ item.exportPercentage }} %</span>
            </div>
          </ion-col>
        </ion-row>
        <div class="date">Ult. Act. {{ item.registrationDate | customDate }}</div>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option color="danger" (click)="deleteItem(item)">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <!--
  <div class="quality-estimate">
    <div (click)="showList()" class="name">
      <div class="icon">
        <ion-icon color="success" name="card"></ion-icon>
      </div>
    </div>
    <div class="responsable">
      <p class="responsable--name">Responsable: {{ item.userName }}</p>
      <div class="costos ion-text-center">
        <div class="date">
          <p class="font-10 margin-0 grey">Calidad</p>
          <p class="margin-0 bold">{{ item.qualityName }}</p>
        </div>
        <div class="total">
          <p class="font-10 margin-0 grey">% EXPORTACION</p>
          <p class="margin-0 bold">
            <ion-icon [color]="item.color" [name]="item.arrow"></ion-icon>&nbsp;
            <span>{{ item.exportPercentage }} %</span>
          </p>
        </div>
      </div>
      <p class="responsable--name">Desplegar Gráficos</p>
    </div>
  </div>
  -->
</ng-container>

<ng-template #empty>
  <div class="quality-estimate">
    <div (click)="showList()" class="name">
      <div class="icon">
        <ion-icon color="success" name="card"></ion-icon>
      </div>
      <div class="name--name">
        <p class="mayu margin-0"><strong>Estimacion de Calidad</strong></p>
        <p class="margin-0 date">Ult. Act. 00/00/00</p>
      </div>
    </div>
    <div class="responsable">
      <p class="responsable--name">Responsable: N/A</p>
      <div class="costos ion-text-center">
        <div class="date">
          <p class="font-10 margin-0 grey">Calidad</p>
          <p class="margin-0 bold">N/A</p>
        </div>
        <div class="total">
          <p class="font-10 margin-0 grey">% EXPORTACION</p>
          <p class="margin-0 bold">
            <ion-icon color="default" name="remove"></ion-icon>&nbsp;
            <span>0%</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--  estimaciones de calidad
  <div class="estimates-calidad">
    <div class="name" routerLink="/quality-estimate">
      <div class="icon">
        <ion-icon name="card" color="success"></ion-icon>
      </div>
      <div class="name--name">
        <p class="mayu margin-0"><strong>Estimacion de Calidad</strong></p>
        <p *ngIf="lastQuality" class="margin-0 date">Ult. Act. {{ lastQuality.registrationDate | customDate }}</p>
        <p *ngIf="!lastQuality" class="margin-0 date">Ult. Act. No registra</p>
      </div>
    </div>
    <div class="responsable">
      <p *ngIf="lastQuality" class="responsable--name">Responsable: {{ lastQuality.userName }}</p>
      <p *ngIf="!lastQuality" class="responsable--name">Responsable: Fernando Bravo</p>
      <div class="costos ion-text-center">
        <div class="date">
          <p class="font-10 margin-0 grey">Calidad</p>
          <p *ngIf="lastQuality" class="margin-0 bold">{{ lastQuality.qualityName }}</p>
          <p *ngIf="!lastQuality" class="margin-0 bold">No registrado</p>
        </div>
        <div class="total">
          <p class="font-10 margin-0 grey">% EXPORTACION</p>
          <p class="margin-0 bold">
            <ion-icon name="arrow-round-down" color="danger"></ion-icon>&nbsp;
            <span *ngIf="lastQuality"> {{ lastQuality.exportPercentage }} %</span>
            <span *ngIf="!lastQuality">0%</span>
          </p>
        </div>
      </div>
      <p class="responsable--name" (click)="openSelectedGraphics()">Desplegar Gráficos</p>
    </div>
  </div>
  -->
