<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Control de Caja</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="title-card">
    <!-- DAY SELECTOR -->
    <ion-item lines="none">
      <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
      <ion-input class="ion-text-center" [ngModel]="showDate" readonly></ion-input>
      <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
  <ion-button size="medium" expand="block" (click)="searchByDate()">Consultar</ion-button>

  <ion-card *ngIf="resume.length">
    <ion-list lines="none">
      <div *ngFor="let item of resume" style="padding-left: 5px;">
        <h5 *ngIf="item.tipo_dato == 'titulo'" style="font-weight: bolder; padding-bottom: 3px; padding-top: 3px">
          {{item.parametro}}
        </h5>

        <ion-label *ngIf="item.tipo_dato != 'titulo'">
          <b>{{item.parametro}}</b> {{item.valor}}
        </ion-label>

      </div>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-button size="medium" expand="block" (click)="printResume()" [disabled]="(resume.length == 0)">Imprimir</ion-button>
</ion-footer>