ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

ion-tab-bar {
  height: 45px;
  --background: var(--color-home-header-menu);
  --color: white;
}

.workerSelected {
  --background: var(--ion-color-medium);
  --color: var(--ion-color-light);
}

.tally-card {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.no-padding-item {
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --inner-border-width: 0;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;
}
