<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon style="color: white" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>Tarjas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
      <app-check-connection></app-check-connection>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ng-container *ngIf="!activeQuadrille && quadrilles.length > 1">
      <ion-searchbar placeholder="Buscar..." (ionChange)="searchQuadrille($event.target.value)"
        (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>
    </ng-container>

    <ng-container *ngIf="activeQuadrille">
      <ion-searchbar placeholder="Buscar..." (ionChange)="searchWorker($event.target.value)" (ionClear)="cancelSearch()"
        animated class="production" showCancelButton="never"></ion-searchbar>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" class="refresher" slot="fixed">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- CUADRILLAS -->
  <ng-container *ngIf="!activeQuadrille && quadrilles.length > 1">
    <h2 class="ion-text-center">
      Cuadrillas

      <ion-badge class="quadrille-badge" color="primary">{{ quadrilles.length }}</ion-badge>
    </h2>

    <ion-virtual-scroll [items]="filteredQuadrilles" approxItemHeight="100px">
      <div *virtualItem="let quadrille; let itemBounds = bounds">
        <ion-item (click)="selectQuadrille(quadrille)" detail="true">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ quadrille.name }}</h2>
            <p class="label-padding">{{ quadrille.responsibleName }}</p>
            <p class="label-padding">
              <ion-badge color="primary">
                {{ getQuadrilleWorkers(quadrille.id) }} Personas
              </ion-badge>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll>
  </ng-container>

  <!-- TRABAJADORES -->
  <ng-container *ngIf="activeQuadrille && !activeWorker">
    <h2 class="ion-text-center">
      Trabajadores

      <ion-badge class="quadrille-badge" color="primary">{{ filteredWorkers.length }}</ion-badge>
    </h2>

    <!-- DAY SELECTOR -->
    <ion-item>
      <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
        <ion-icon name="arrow-back" slot="start"></ion-icon>
      </ion-button>
      <ion-datetime [(ngModel)]="currentDate" [displayFormat]="dateFormat" [max]="maxDate" [pickerFormat]="dateFormat">
      </ion-datetime>
      <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-virtual-scroll [items]="filteredWorkers" approxItemHeight="100px">
      <div *virtualItem="let worker; let itemBounds = bounds">
        <ion-item (click)="markWorker(worker)" [ngClass]="{ 'workerSelected': selectedWorkers.includes(worker) }" detail="true">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>
            <h2>{{ worker.name }}</h2>
            <p class="label-padding">{{ worker.identifier | rut }}</p>
            <p class="label-padding">
              <ion-badge color="primary">
                {{ getTotalWorkerWork(worker) | number }} JR
              </ion-badge>
            </p>
          </ion-label>
        </ion-item>
      </div>
    </ion-virtual-scroll>
  </ng-container>

  <!-- TARJAS -->
  <ng-container *ngIf="activeWorker">
    <h3 class="ion-text-center">
      {{ activeWorker.name }}
    </h3>
    <h4 class="ion-text-center">
      Total Jornadas
      <ion-badge class="quadrille-badge" color="primary">{{ getTotalWorkerWork(activeWorker) | number }} Jr</ion-badge>
    </h4>

    <ion-list>
      <ion-item-sliding #slide *ngFor="let tally of filteredTallies; trackBy: talliesTracker">
        <ion-item class="no-padding-item" lines="none">
          <ion-card class="tally-card">
            <ion-item>
              <ion-icon (click)="showTallyError(tally)"
                [color]="tally.status === 'new' || tally.status === 'edit' ? 'danger' : 'success' " name="reader"
                slot="start"></ion-icon>
              <ion-label>{{ getCostCenterName(tally.costCenterId) }}</ion-label>
              <ion-badge slot="end">{{ tally.workingDay }} Jr</ion-badge>
            </ion-item>

            <ion-card-content>
              <ion-row>
                <ion-col>
                  Labor: {{ getLaborName(tally.laborId) }}
                </ion-col>
                <ion-col>
                  <ion-badge *ngIf="tally.hoursExtra" class="ion-float-end" color="primary">
                    {{ tally.hoursExtra }} Hora extra
                  </ion-badge>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="tally.performance">
                <ion-col></ion-col>
                <ion-col>
                  <ion-badge class="ion-float-end" color="primary">
                    {{ tally.performance }} Unidad Labor
                  </ion-badge>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="tally.dealValidity || tally.bondValidity">
                <ion-col size="6" *ngIf="tally.dealValidity">
                  Trato:
                  <ion-badge color="primary">
                    {{ getDealName(tally.dealValidity) }}
                  </ion-badge>
                </ion-col>
                <ion-col size="6" *ngIf="tally.bondValidity">
                  Bono:
                  <ion-badge color="primary">
                    {{ getBondName(tally.bondValidity) }}
                  </ion-badge>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col><strong>Notas:</strong></ion-col>
              </ion-row>
              <ion-row>
                <ion-col>{{ tally.notes }}</ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="warning" (click)="editTally(tally, slide)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteTally(tally, slide)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ng-container>
</ion-content>

<ion-footer>
  <!-- One worker selected -->
  <ion-row *ngIf="selectedWorkers.length === 1 && !activeWorker">
    <ion-col size="6">
      <ion-button color="success" expand="block" (click)="createTally()">
        Agregar Jornada
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button color="primary" expand="block" (click)="goToWorkerTallyList(this.selectedWorkers[0])">
        Ver Tarjas
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Several workers selected -->
  <ion-row *ngIf="selectedWorkers.length > 1">
    <ion-col size="6">
      <ion-button color="success" expand="block" (click)="createTally()">
        Agregar Masivo
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button color="primary" expand="block" (click)="createMultipleTally()" [disabled]="checkNotEditableTallies()">
        Modificar Masivo
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Worker tally list -->
  <ion-row *ngIf="activeWorker">
    <ion-col>
      <ion-button color="success" expand="block" (click)="createTally()"
        [disabled]="getTotalWorkerWork(activeWorker) >= activeWorker.dailyMax">
        Agregar Jornada
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>