.errorMsg {
  color: red;
  padding-left: 15px;
}

/*ion-item {
  ion-label {
    min-width: 50%;
  }

  ion-input {
    text-align: right;
  }

  ion-select {
    text-align: right;
  }
}*/

.total-padding {
  --padding-end: 37px;
}

.caliber-title {
  margin-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}
