ion-router-outlet {
  --background: #e7e7eb;
}

ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: var(--ion-color-primary);
  --color: var(--ion-color-primary);
}

.tab-selected {
  border-bottom: 3px solid #ffffff !important;
  --color: #ffffff !important;
}

ion-tab-bar {
  height: 45px;
  --background: var(--ion-color-primary) !important;
  --color: #FFFFFF !important;
}

.paso {
  --background: #e7e7eb !important;
}

.btn-ticket {
  --border-radius: 50px;
}
