<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ harvestEstimate ? 'Ver' : 'Registrar'  }}  Estimacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="harvestForm">
    <ion-item>
      <ion-label position="floating">
        Cantidad {{ showUnitName() | uppercase }}
      </ion-label>
      <ion-input [value]="harvestForm.get('quantity') .value | mask: 'separator'" clearInput formControlName="quantity" placeholder="Ingresar Cantidad" type="tel"></ion-input>
      <ng-container *ngIf="harvestForm.get('quantity').dirty">
        <span *ngIf="harvestForm.get('quantity').hasError('required')" class="errorMsg">Ingrese Cantidad</span>
        <span *ngIf="harvestForm.get('quantity').hasError('pattern')" class="errorMsg">Solo numeros</span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Cantidad Diaria {{ showUnitName() | uppercase }}
      </ion-label>
      <ion-input [value]="harvestForm.get('dailyAmount') .value | mask: 'separator'" clearInput formControlName="dailyAmount" placeholder="Ingresar Cantidad Diaria" type="tel"></ion-input>
      <ng-container *ngIf="harvestForm.get('dailyAmount').dirty">
        <span *ngIf="harvestForm.get('dailyAmount').hasError('required')" class="errorMsg">Ingrese cantidad diaria</span>
        <span *ngIf="harvestForm.get('quantity').hasError('pattern')" class="errorMsg">Solo numeros</span>
      </ng-container>
    </ion-item>

    <ion-list>
      <ion-radio-group [value]="harvestForm.get('workHolidays').value" (ionChange)="workHolidaysEvent($event.detail.value)">
        <ion-list-header>
          <ion-label>Trabaja Festivos ?</ion-label>
        </ion-list-header>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label>Si</ion-label>
              <ion-radio [disabled]="isView" slot="start" value="1"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label>No</ion-label>
              <ion-radio [disabled]="isView" slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>

        <ng-container *ngIf="harvestForm.get('workHolidays').dirty && harvestForm.get('workHolidays').hasError('required')">
          <span class="errorMsg">Indique si trabaja los feriados.</span>
        </ng-container>
      </ion-radio-group>
    </ion-list>

    <ion-item>
      <ion-label position="floating">Fecha Inicio</ion-label>
      <ion-datetime [displayFormat]="dateFormat" [max]="maxDate" [pickerFormat]="dateFormat" formControlName="startDate" placeholder="Ingresar Fecha Inicio"></ion-datetime>
      <ng-container *ngIf="harvestForm.get('startDate').dirty && harvestForm.get('startDate').hasError('required')">
        <span class="errorMsg">Ingrese fecha inicio</span>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha Fin</ion-label>
      <ion-input [value]=" harvestForm.get('endDate').value" disabled="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Plantas de Proceso</ion-label>
      <ion-select [interfaceOptions]="processPlantAction" [selectedText]="getSelectedProcessPlant()" cancelText="Cancelar" formControlName="processPlant" interface="action-sheet">
        <ion-select-option *ngFor="let plant of processPlants" [value]="plant.id">
          {{ plant.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="fixed">Destino</ion-label>
      <ion-select [interfaceOptions]="destinationAction" [selectedText]="getSelectedDestination()" cancelText="Cancelar" formControlName="destination" interface="action-sheet">
        <ion-select-option *ngFor="let destination of destinations" [value]="destination.id">
          {{ destination.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <br><br>
    <ng-container *ngIf="!harvestEstimate">
      <ion-button (click)="submit()" [disabled]="harvestForm.invalid || isSaving" color="primary" expand="block">
        Guardar
      </ion-button>
    </ng-container>

  </form>
</ion-content>
