<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ harvestEstimate ? 'Ver' : 'Registrar'  }}  Estimacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="harvestForm">
  
    <!-- CANTIDAD -->
    <ion-item>
      <ion-label position="fixed">
        Cantidad {{ showUnitName() | uppercase }}
      </ion-label>
      <ion-input class="input-number" clearInput formControlName="quantity" placeholder="Ingresar Cantidad" type="number"></ion-input>      
    </ion-item>
    <ng-container *ngIf="harvestForm.get('quantity').dirty">
      <ion-text color="danger" *ngIf="harvestForm.get('quantity').hasError('required')">Ingrese la cantidad. utilice punto en vez de coma.</ion-text>
      <ion-text color="danger" *ngIf="harvestForm.get('quantity').hasError('min')">El valor minimo es 1.</ion-text>
      <ion-text color="danger" *ngIf="harvestForm.get('quantity').hasError('pattern')">Maximo 3 decimales</ion-text>
    </ng-container>

    <!-- CANTIDAD DIARIA -->
    <ion-item>
      <ion-label position="fixed">
        Cantidad Diaria {{ showUnitName() | uppercase }}
      </ion-label>
      <ion-input class="input-number" clearInput formControlName="dailyAmount" placeholder="Ingresar Cantidad Diaria" type="number"></ion-input>      
    </ion-item>
    <ng-container *ngIf="harvestForm.get('dailyAmount').dirty">
      <ion-text color="danger" *ngIf="harvestForm.get('dailyAmount').hasError('required')">Ingrese la cantidad. utilice punto en vez de coma.</ion-text>
      <ion-text color="danger" *ngIf="harvestForm.get('dailyAmount').hasError('min')">El valor minimo es 1</ion-text>
      <ion-text color="danger" *ngIf="harvestForm.get('dailyAmount').hasError('pattern')">Maximo 3 decimales</ion-text>
    </ng-container>    

    <!-- Trabaja festivos -->
    <ion-list>
      <ion-radio-group [value]="harvestForm.get('workHolidays').value" (ionChange)="workHolidaysEvent($event.detail.value)">
        <ion-list-header>
          <ion-label>Trabaja Festivos ?</ion-label>
        </ion-list-header>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label>Si</ion-label>
              <ion-radio [disabled]="isView" slot="start" value="1"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label>No</ion-label>
              <ion-radio [disabled]="isView" slot="start" value="0"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-text color="danger" *ngIf="harvestForm.get('workHolidays').dirty && harvestForm.get('workHolidays').hasError('required')">
      <p>Indique si trabaja los feriados</p>
    </ion-text>

    <!-- Fecha Inicio -->
    <ion-item>
      <ion-label position="floating">Fecha Inicio</ion-label>
      <ion-datetime [displayFormat]="dateFormat" [max]="maxDate" [pickerFormat]="dateFormat" formControlName="startDate" placeholder="Ingresar Fecha Inicio"></ion-datetime>
    </ion-item>
    <ion-text color="danger" *ngIf="harvestForm.get('startDate').dirty && harvestForm.get('startDate').hasError('required')">
      <p>Ingrese fecha inicio</p>
    </ion-text>

    <!-- Fecha fin -->
    <ion-item>
      <ion-label position="floating">Fecha Fin</ion-label>
      <ion-input [value]="harvestForm.get('endDate').value" disabled="true"></ion-input>
    </ion-item>

    <!-- Plantas de proceso -->
    <ion-item>
      <ion-label position="fixed">Plantas de Proceso</ion-label>
      <ion-select [interfaceOptions]="sheetActions" [selectedText]="getSelectedProcessPlant()" cancelText="Cancelar" formControlName="processPlant" interface="action-sheet">
        <ion-select-option *ngFor="let plant of processPlants" [value]="plant.id">
          {{ plant.name | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Destino -->
    <ion-item>
      <ion-label position="fixed">Destino</ion-label>
      <ion-select [interfaceOptions]="sheetActions" [selectedText]="getSelectedDestination()" cancelText="Cancelar" formControlName="destination" interface="action-sheet">
        <ion-select-option *ngFor="let destination of destinations" [value]="destination.id">
          {{ destination.name | titlecase }}
        </ion-select-option>
      </ion-select>
    </ion-item>

  </form>
</ion-content>

<ion-footer>
  <ng-container *ngIf="!harvestEstimate">
    <ion-button (click)="submit()" [disabled]="harvestForm.invalid || isSaving" color="primary" expand="block">
      Guardar
    </ion-button>
  </ng-container>
</ion-footer>
