<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <!-- <ion-back-button class="header-back-button" text=""></ion-back-button>-->
      <ion-button class="toolbar-button white-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ menuTitle }}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="toolbar-button white-button" (click)="typeSaleChange()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-toolbar class="toolbar-search">
  <ion-searchbar
    #searchDelivery
    placeholder="Buscar..."
    animated
    class="production"
    showCancelButton="never"
    (ionClear)="clearSearch()"
    (ionInput)="searchInput($event.target.value)"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-card class="menu-header-card">
    <ion-card-content>
      <div class="scrollmenu" *ngIf="menuHeader.length">
        <span class="group" *ngFor="let header of menuHeader" [ngClass]="{'select': headerSelect === header}"
              (click)="selectFilterItems(header)">{{header}}</span>
      </div>
    </ion-card-content>
  </ion-card>


  <ng-container *ngIf="itemsSelect && itemsSelect.length && !noResult">
    <ion-virtual-scroll [items]="itemsTemp" approxItemHeight="150px">
      <ion-card *virtualItem="let item" class="item-card">
        <ion-item lines="none">
          <ion-thumbnail slot="start" (click)="changePhoto(item.id_par_items)" class="item-thumbnail">
            <ion-img [src]="attachment(item.id_par_items)"></ion-img>
            <ion-icon name="camera" class="icon-cam-fixed"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <div class="description">
              <p>
                <span class="code">{{item.code_product}}</span> - <strong>{{item.name_product}}</strong>
              </p>
            </div>
            <div class="quantity">
              <span>{{item.price | currency:' ':'symbol':'1.0-2' }}</span>
              <div class="button-footer">
                <ion-button color="warning" strong="true" class="button-add" (click)="removeItems(item)">-</ion-button>
                <div class="number-add">{{quantityOrder(item)}}</div>
                <ion-button color="success" strong="true" class="button-add" (click)="addItems(item)">+</ion-button>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>

<ion-footer *ngIf="orderCountTotal() !== 0">
  <ion-button class="btn-app" color="primary" expand="block"
              (click)="showOrder()">
    <span style="text-align: left;width: 49%">Ver Orden</span>
    <span style="text-align: right;width: 48%">Items: {{orderCountTotal()}}</span>
  </ion-button>
</ion-footer>
