<ng-container *ngIf="item; else empty">
  <ion-item-sliding [disabled]="slideDisabled">
    <ion-item (click)="clickHarvest(item)" [ngClass]="{ 'old': isOld}" class="harvest" lines="none">
      <ion-icon class="icon" color="warning" name="cart"></ion-icon>
      <ion-label>
        <div class="name">{{ item.userName }}</div>
        <ion-row class="highlight">
          <ion-col size="6">
            <div class="title">Fecha Inicio</div>
          </ion-col>
          <ion-col size="6">
            <div class="title">{{ showUnitCode() | uppercase }} Totales</div>
          </ion-col>
        </ion-row>
        <ion-row class="highlight">
          <ion-col class="ion-no-padding" size="6">
            <div class="value totales">{{ item.startDate | customDate }}</div>
          </ion-col>
          <ion-col class="ion-no-padding" size="6">
            <div class="value">
              <ion-icon [color]="item.color" [name]="item.arrow" size="large"></ion-icon>&nbsp;
              <span class="totales">{{ item.quantity | number:'1.0-0':'es-CL' }} {{ showUnitCode() | uppercase }}</span>
            </div>
          </ion-col>
        </ion-row>
        <div class="date">Ult. Act. {{ item.registrationDate | customDatetime }}</div>
      </ion-label>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option (click)="deleteItem(item)" color="danger">
        <ion-icon name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-container>

<ng-template #empty>
  <ion-item (click)="clickHarvest()" [ngClass]="{ 'old': isOld}" class="harvest" lines="none">
    <ion-icon class="icon" color="warning" name="cart"></ion-icon>
    <ion-label>
      <div class="name">N/A</div>
      <ion-row class="highlight">
        <ion-col size="6">
          <div class="title">Fecha Inicio</div>
        </ion-col>
        <ion-col size="6">
          <div class="title">Totales</div>
        </ion-col>
      </ion-row>
      <ion-row class="highlight">
        <ion-col size="6">
          <div class="value">00/00/0000</div>
        </ion-col>
        <ion-col size="6">
          <div class="value">
            <span>0</span>
          </div>
        </ion-col>
      </ion-row>
      <div class="date">Ult. Act. 00/00/0000</div>
    </ion-label>
  </ion-item>
</ng-template>
