ion-card {
  margin: 7px;
}

.error {
  //border: 1px solid red !important;
  --background: red;
}

.group {
  background: #d0ebff;
  padding: 7px;
  border-radius: 10px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu span {
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 0;
}

.select {
  background-color: #262626;
  color: white;
}

ion-card-content {
  padding: 7px;
}

ion-content {
  --background: var(--color-background-tabs);
}

ion-card {
  box-shadow: none;
}

.button-footer {
  position: absolute;
  right: 0;
  top: 45px;
}

.button-add {
  float: right;
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgb(0 0 0 / 13%);
}

.number-add {
  float: right;
  padding: 5px 10px 5px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.img-card {
  height: 79px;
  width: 93px;
  position: relative;
  top: 2px;
}

.show-order {
  padding: 10px;
  background: rgb(0 128 0 / 68%);
  color: white;
}

/*
.icon-cam-fixed {
  position: absolute;
  left: 0;
  color: white;
  padding: 5px;
  font-size: 15px;
  z-index: 100;
}
*/

.icon-cam-fixed {
  position: absolute;
  top: 3px;
  color: white;
  padding: 5px;
  font-size: 15px;
}

.item-thumbnail {
  height: 90px;
  width: 90px;
  position: relative;
  margin-top: 0;
  margin-left: -16px;
}

.item-card {
  height: 90px;
}


