<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="showCordovaFeatures">
      <ion-button color="default" class="button-text-color" fill="clear" (click)="connectionsActionSheet()">
        {{ appService.getAppVersion() }}
      </ion-button>
    </ion-buttons>
    <ion-title>&nbsp;</ion-title>
    <ion-buttons slot="end" *ngIf="showCordovaFeatures">
      <ng-container *ngIf="deviceService.getUUIDLast8()">
        <ion-button color="default" (click)="deviceService.showFullUUID()" class="button-text-color" fill="clear"
          slot="end">
          NC: {{ deviceService.getUUIDLast8() }}
        </ion-button>
      </ng-container>

      <ion-button color="default" slot="end" fill="clear" class="button-text-color"
        (click)="deviceService.showDeviceData()">
        <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="title-header">
    <img (click)="confirmClean()" alt="Primetec" src="assets/imgs/logo.png">
    <h3 class="ion-text-left" style="margin-bottom: 0;">
      Bienvenido a {{ appService.getAppName() }}
    </h3>
  </div>
</ion-header>

<ion-content scrollX="false" scrollY="false">
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button selected="true" tab="login">
        Iniciar sesión
      </ion-tab-button>
      <ion-tab-button tab="register">
        Registrarse
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
