ion-toolbar {
  --background: var(--color-login-header);
}

.button-text-color {
  color: white !important;
}

ion-header {
  --background: var(--color-login-header);
  background: var(--color-login-header);
  --color: white;
  color: white;

  .title-header {
    margin-top: 5px;
    background: var(--color-login-header);
    text-align: center !important;

    img {
      height: 80px;
      margin-top: 10px;
    }

    h3 {
      text-align: center !important;
      //padding-left: 5%;
      @media (min-width: 360px) {
        padding-bottom: 10px;
      }
    }
  }
}

ion-tab-button {
  color: white;
  --color: white;
}

ion-tab-bar {
  --background: var(--color-login-header);

  ion-tab-button {
    align-items: center;
    max-width: 130px;
    font-size: 14px;
    --background: var(--color-login-header);
    @media (max-width: 360px) {
      max-width: 120px;
    }

    &:nth-child(1) {
      position: relative;
      left: -15%;
    }

    &:nth-child(2) {
      position: relative;
      left: -10%;
    }
  }
}

.tab-selected {
  border-bottom: 2px solid white !important;
}
