<ion-card (click)="viewTicket(ticket)" class="card-item">
  <ion-item class="header-item" lines="none">
    <ion-badge slot="start">#{{ ticket.id }}</ion-badge>
    <ion-label>{{ ticket.client }}</ion-label>
  </ion-item>
  <ion-card-content>
    <p class="h">{{remainingTime(ticket.clientCommitment)}}</p>
    <p><strong>Tipo:</strong> {{ ticket.type }}</p>
    <p><strong>Producto:</strong> {{ ticket.productName }}</p>
    <p><strong>Funcionalidad:</strong> {{ ticket.funcionalityName }}</p>
    <p><strong>Estado:</strong> {{ ticket.state  }}</p>
    <p><strong>Referencia:</strong> {{ ticket.reference }}</p>
    <p><strong>Creador:</strong> {{ ticket.creator }}</p>
    <p><strong>Asignado:</strong> {{ ticket.user }}</p>
    <p><strong>Fecha de creación:</strong> {{ ticket.createdAt }}</p>
    <p class="date-compromiso">Fecha de Compromiso: {{ ticket.clientCommitment }}</p>
  </ion-card-content>
</ion-card>
