ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.label-padding {
  padding-top: 8px;
  font-size: 18px;
}

.quadrille-badge {
  --padding-top: 5px;
  font-size: 1em;
}

ion-button{
  --box-shadow: none !important;
  border-radius: 10px !important;
  --border-radius: 10px;
  width: 100%;
  height: 50px;
}

ion-content{
  --background: var(--color-background-tabs);
}

ion-card{
  background: white;
  box-shadow: none;
  margin: 5px 5px 0 5px;
  width: 100%;
}

.selected {
  border: 2px solid;
}
