ion-content {
  padding: 20px;
}

ion-card {
  box-shadow: none !important;
  --background: transparent !important;
}

.change-password-title {
  font-size: 1.2rem;
  font-weight: bold;

}

.closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  font-size: 32px;
  color: var(--ion-color-danger);
}
