<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <!--      <ion-back-button class="header-back-button" text=""></ion-back-button>-->
      <ion-button class="toolbar-button white-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>Despacho</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="toolbar-button white-button" (click)="typeSaleChange()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div>
  <ion-searchbar #searchCustomer placeholder="Buscar..." animated class="production" showCancelButton="never"
                 (ionClear)="clearSearch()"
                 (ionInput)="searchInput($event)"></ion-searchbar>
</div>
<ion-content>
  <ion-card class="card-form-delivery search-card onDisplay" *ngIf="searchData.length">
    <ion-list>
      <ion-item *ngFor="let data of searchData" (click)="clickCustomer(data)">
        <ion-label>{{data.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <form [formGroup]="menuDetailForm">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card class="store">
            <ion-checkbox color="primary"  (click)="checkOption('store')" [checked]="typeDelivery === 'store'" [disabled]="typeDelivery === 'store'"></ion-checkbox>
            <span class="store__span">Retiro en Tienda</span>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="delivery">
            <ion-checkbox color="primary"  (click)="checkOption()" [checked]="typeDelivery !== 'store'" [disabled]="typeDelivery !== 'store'"></ion-checkbox>
            <span class="store__span">Entrega a Domicilio</span>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card-form-delivery">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="typeDelivery !== 'store'">
        <ion-label position="floating">Dirección</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item *ngIf="typeDelivery !== 'store'">
        <ion-label position="floating">Fecha de Entrega</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY HH:mm" formControlName="dateDelivery" [cancelText]="'Cancelar'"
                      [doneText]="'Ok'"></ion-datetime>
      </ion-item>
    </ion-card>
  </form>
</ion-content>

<ion-footer>
  <div>
    <ion-button [disabled]="menuDetailForm.invalid" color="warning" style="width: 99%;" (click)="menuOrder()"
                *ngIf="!customerSelect">
      Siguiente
    </ion-button>
    <ion-button color="primary" style="width: 49%;display: inline-block;" (click)="newCustomer()"
                *ngIf="customerSelect">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="menuDetailForm.invalid" color="warning" style="width: 48%;display: inline-block;"
                (click)="menuOrder()"
                *ngIf="customerSelect">
      Siguiente
    </ion-button>
  </div>
</ion-footer>
