<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <!--      <ion-back-button class="header-back-button" text=""></ion-back-button>-->
      <ion-button class="toolbar-button white-button" (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>Despacho</strong>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="toolbar-button white-button" (click)="typeSaleChange()">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-button>
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="toolbar-search">
  <ion-searchbar
    #searchCustomer
    placeholder="Buscar..."
    animated
    class="production"
    showCancelButton="never"
    (ionClear)="clearSearch()"
    (ionInput)="searchInput($event.target.value)"></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-card class="card-form-delivery search-card onDisplay" *ngIf="searchData.length">
    <ion-list>
      <ion-item *ngFor="let data of searchData" (click)="clickCustomer(data)">
        <ion-label>{{data.name}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <form [formGroup]="menuDetailForm">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item class="input-checkbox-fx360">
            <ion-label>Retiro en Tienda</ion-label>
            <ion-checkbox slot="start" color="primary" (click)="checkOption('store')" [checked]="typeDelivery === 'store'" [disabled]="typeDelivery === 'store'"></ion-checkbox>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item class="input-checkbox-fx360">
            <ion-label>Entrega a Domicilio</ion-label>
            <ion-checkbox slot="start" color="primary" (click)="checkOption()" [checked]="typeDelivery !== 'store'" [disabled]="typeDelivery !== 'store'"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6">
        <ion-label class="label-fx360" position="floating">Nombre</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <ion-input formControlName="firstName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-label class="label-fx360" position="floating">Teléfono</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <ion-input formControlName="phone"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-md="6">
        <ion-label class="label-fx360" position="floating">Correo</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <ion-input formControlName="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-md="6" *ngIf="typeDelivery !== 'store'">
        <ion-label class="label-fx360" position="floating">Dirección</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <ion-input formControlName="address"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-md="6" *ngIf="typeDelivery !== 'store'">
        <ion-label class="label-fx360" position="floating">Fecha de Entrega</ion-label>
        <ion-item class="input-fx360-down max-h-unset">
          <li-ionic4-datepicker formControlName="dateDelivery" [inputDateConfig]="datePickerObj"></li-ionic4-datepicker>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <div>
    <ion-button class="btn-app" [disabled]="menuDetailForm.invalid" color="primary" style="width: 99%;" (click)="menuOrder()"
                *ngIf="!customerSelect">
      Siguiente
    </ion-button>
    <ion-button color="primary" style="width: 49%;display: inline-block;" (click)="newCustomer()"
                *ngIf="customerSelect">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
    <ion-button [disabled]="menuDetailForm.invalid" color="warning" style="width: 48%;display: inline-block;"
                (click)="menuOrder()"
                *ngIf="customerSelect">
      Siguiente
    </ion-button>
  </div>
</ion-footer>
