<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Trabajadores</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
      <app-check-connection></app-check-connection>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar placeholder="Buscar..." (ionChange)="searchWorker($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Cargando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="quadrille">
    <h2 class="ion-text-center" style="font-size: 20px">
      {{ quadrille.name }}
      <ion-badge class="quadrille-badge" style="font-size: 14px" color="primary"> {{ workers.length }} </ion-badge>
    </h2>

    <ion-list>
      <ion-item *ngFor="let worker of filteredWorkers"  (click)="markWorker(worker)" [ngClass]="{ 'workerSelected': selectedWorkers.includes(worker) }">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          <h3 class="label-padding">{{ worker.name }}</h3>
          <div class="label-padding">
            <div class="ion-text-left">
              {{ worker.identifier | rut }}
            </div>
            <div class="ion-text-right">
              <ng-container *ngIf="worker.quadrilleToApprove > 0">
                <ion-badge *ngIf="worker.quadrilleStatus.toLowerCase() === 'por aprobar' && worker.quadrille === quadrille.id" color="warning">
                  Traspasando
                </ion-badge>
                <ion-badge *ngIf="worker.quadrilleStatus.toLowerCase() === 'por aprobar' && worker.quadrille !== quadrille.id" color="warning">
                  Por Aprobar
                </ion-badge>
              </ng-container>
              <ng-container *ngIf="worker.quadrilleToApprove === 0">
                <ion-badge color="danger">{{ worker.quadrilleStatus | uppercase }}</ion-badge>
              </ng-container>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-infinite-scroll #workersInfiniteScroll threshold="150px" (ionInfinite)="loadData($event)" [disabled]="infiniteScrollPaginatorService.disableInifiteScroll()">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>

<ion-footer>
  <ng-container *ngIf="selectedWorkers.length > 0">
    <ion-row *ngIf="selectedWorkers[0].quadrilleToApprove === 0">
      <ion-col *ngIf="selectedWorkers[0].quadrilleStatus === ''">
        <ion-button (click)="selectQuadrille();" color="warning" expand="block">
          Traspasar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>

      <ion-col *ngIf="selectedWorkers[0].quadrilleStatus.toLowerCase() === 'rechazado'">
        <ion-button (click)="acceptRejectWorkers()" color="success" expand="block">
          Aprobar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedWorkers[0].quadrilleToApprove > 0">
      <ion-col *ngIf="selectedWorkers[0].quadrille === quadrille.id">
        <ion-button (click)="acceptRejectWorkers()" color="danger" expand="block">
          Cancelar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>

      <ng-container *ngIf="selectedWorkers[0].quadrille !== quadrille.id">
        <ion-col size="6">
          <ion-button (click)="acceptWorkers();" color="success" expand="block">
            Aprobar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button (click)="rejectWorkers();" color="danger" expand="block">
            Rechazar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>

  </ng-container>
</ion-footer>
