<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Trabajadores</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar..." (ionChange)="searchWorker($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" class="refresher" slot="fixed"></ion-refresher>

  <ng-container *ngIf="isLoading">
    <h1 class="ion-text-center">Cargando...</h1>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="quadrille">
      <h2 class="ion-text-center" style="font-size: 20px">
        {{ quadrille.name | titlecase }}
        <ion-badge class="quadrille-badge" style="font-size: 14px" color="primary"> {{ filteredWorkers.length }} </ion-badge>
      </h2>
  
      <ion-virtual-scroll [items]="filteredWorkers" approxItemHeight="83px">
        <div *virtualItem="let worker">
          <ion-item lines="none" (click)="markWorker(worker)" [ngClass]="{ 'workerSelected': selectedWorkers.includes(worker) }" style="height: 83px">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>
              <h3 class="label-padding">{{ worker.name | titlecase }}</h3>
              <ion-row class="ion-no-padding ion-no-margin">
                <ion-col class="ion-no-padding ion-no-margin">
                  <div class="ion-text-left">
                    {{ worker.identifier | rut }}
                  </div>
                </ion-col>
                <ion-col class="ion-no-padding ion-no-margin">
                  <div class="ion-text-right">
                    <ng-container *ngIf="worker.quadrilleToApprove > 0">
                      <ion-badge *ngIf="worker.quadrilleStatus.toLowerCase() === 'por aprobar' && worker.quadrille === quadrille.id" color="warning">
                        Traspasando
                      </ion-badge>
                      <ion-badge *ngIf="worker.quadrilleStatus.toLowerCase() === 'por aprobar' && worker.quadrille !== quadrille.id" color="warning">
                        Por Aprobar
                      </ion-badge>
                    </ng-container>
                    <ng-container *ngIf="worker.quadrilleToApprove === 0">
                      <ion-badge color="danger">{{ worker.quadrilleStatus | uppercase }}</ion-badge>
                    </ng-container>
                  </div>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </div>
      </ion-virtual-scroll>   
    </ng-container>
  </ng-container>  
</ion-content>

<ion-footer>
  <ng-container *ngIf="selectedWorkers.length > 0">
    <ion-row *ngIf="selectedWorkers[0].quadrilleToApprove === 0">
      <ion-col *ngIf="selectedWorkers[0].quadrilleStatus === ''">
        <ion-button (click)="selectQuadrille();" color="warning" expand="block">
          Traspasar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>

      <ion-col *ngIf="selectedWorkers[0].quadrilleStatus.toLowerCase() === 'rechazado'">
        <ion-button (click)="acceptRejectWorkers()" color="success" expand="block">
          Aprobar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="selectedWorkers[0].quadrilleToApprove > 0">
      <ion-col *ngIf="selectedWorkers[0].quadrille === quadrille.id">
        <ion-button (click)="acceptRejectWorkers()" color="danger" expand="block">
          Cancelar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
        </ion-button>
      </ion-col>

      <ng-container *ngIf="selectedWorkers[0].quadrille !== quadrille.id">
        <ion-col size="6">
          <ion-button (click)="acceptWorkers();" color="success" expand="block">
            Aprobar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button (click)="rejectWorkers();" color="danger" expand="block">
            Rechazar {{ selectedWorkers.length }} persona{{ selectedWorkers.length > 1 ? 's' : ''  }}
          </ion-button>
        </ion-col>
      </ng-container>
    </ion-row>

  </ng-container>
</ion-footer>
