ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.label-padding {
  padding-top: 8px;
  font-size: 18px;
}

.quadrille-badge {
  --padding-top: 5px;
  font-size: 1em;
}

.workerSelected {
  --background: var(--ion-color-medium);
  --color: var(--ion-color-light);

  ion-item {
    --background: var(--ion-color-medium);
    --color: var(--ion-color-light);
  }
}
