<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="white" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="title-header">
    <h3 class="ion-text-left">PIN</h3>
  </div>
</ion-header>

<ion-content>
  <div class="pd-default">
    <br>
    <form (ngSubmit)="onSubmit()" [formGroup]="pinForm">
      <ion-item>
        <ion-label position="floating">PIN</ion-label>
        <ion-input
          formControlName="pin"
          type="number">
        </ion-input>
      </ion-item>
      <div *ngIf="pinForm.controls.pin.dirty && pinForm.hasError('required', 'pin')" style="color: red">
        El Pin es requerido
      </div>

      <br/>
      <ion-button
        [disabled]="pinForm.invalid"
        color="danger"
        expand="block"
        type="submit">
        Aceptar
      </ion-button>
    </form>
  </div>
</ion-content>
