<ion-searchbar (ionChange)="searchCostCenter($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>

<ion-content>

  <ng-container *ngIf="!isLoading; else skeleton">
    <ion-virtual-scroll [items]="filteredCostCenters">
      <app-cost-center-card *virtualItem="let item" (cardClicked)="costCenterSelected($event)" [costCenter]="item"></app-cost-center-card>
    </ion-virtual-scroll>
  </ng-container>


  <ng-template #skeleton>
    <ion-list>
      <ion-item *ngFor="let item of [1,2,3,4,5]">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
