ion-content {
  --background: var(--color-background-tabs);
  background: var(--color-background-tabs);
}

ion-searchbar {
  background: var(--color-searchbar-menu);
  color: white;
}

ion-col {
  --color: white;
}

.item {
  height: 120px;
  padding: 5px 2px;
  overflow: hidden;

  .card {
    background: white;
    border-radius: 2px;
    height: 100%;
    padding: 10px 15px;
    display: table;
    width: 100%;
    font-size: 14px;

    .card-image {
      width: 72px;
      display: table-cell;
    }

    .card-text-one {
      display: table-cell;
      vertical-align: top;

      p {
        margin-top: 0;
      }
    }

    .card-text-two {
      display: table-cell;
      vertical-align: top;
      text-align: right;

      p {
        margin-top: 0;
      }
    }
  }

  &:last-child {
    margin-bottom: 4px;
  }
}
