ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

ion-tab-bar {
  height: 45px;
  //height: 100px;
  --background: var(--color-home-header-menu);
  --color: white;
  // margin-bottom: 58px;
}

ion-content {
  --background: var(--color-background-tabs);
}

ion-card {
  background: white;
  box-shadow: none;
  margin: 5px 5px 0 5px;
  width: 100%;
}

.arrow-left {
  font-size: 24px;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}

.header {
  background: var(--ion-color-light-shade);
  padding: 7px 5px;

  ion-col {
    font-weight: bold;
    font-size: 18px;
  }
}
