<ion-content>

  <ng-container *ngIf="device.cordova">
    <div>
      <ion-avatar class="ion-no-margin" style="margin: 0 auto !important">
        <img [src]="avatarPreview || 'assets/imgs/user.png'">
      </ion-avatar>
    </div>
  
    <br><br><br>    
    <ion-item>
      <ion-button (click)="openCamera()" slot="start">
        <ion-icon name="camera" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-label>&nbsp;</ion-label>
      <ion-button (click)="openGallery()" slot="end">
        <ion-icon name="image" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ng-container> 

  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input (keyup)="formatIdentifier($event.target.value)" formControlName="rut" tabindex="0"></ion-input>
        <ng-container *ngIf="registerForm.get('rut').dirty && registerForm.get('rut').errors">
          <span *ngIf="registerForm.get('rut').hasError('required')" style="color: red">El rut es requerido.</span>
          <span *ngIf="registerForm.get('rut').hasError('validRut')" style="color: red">El rut es inválido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombres</ion-label>
        <ion-input formControlName="names" tabindex="1"></ion-input>
        <ng-container *ngIf="registerForm.get('names').dirty && registerForm.get('names').errors">
          <span *ngIf="registerForm.get('names').hasError('required')" style="color: red">Los nombres son requeridos.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Paterno</ion-label>
        <ion-input formControlName="lastName" tabindex="2"></ion-input>
        <ng-container *ngIf="registerForm.get('lastName').dirty && registerForm.get('lastName').errors">
          <span *ngIf="registerForm.get('lastName').hasError('required')" style="color: red">El apellido parterno es requerido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido Materno</ion-label>
        <ion-input class="input-text" formControlName="surName" tabindex="3"></ion-input>
        <ng-container *ngIf="registerForm.get('surName').dirty && registerForm.get('surName').errors">
          <span *ngIf="registerForm.get('surName').hasError('required')" style="color: red">El apellido materno es requerido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" tabindex="4" type="email"></ion-input>
        <ng-container *ngIf="registerForm.get('email').dirty && registerForm.get('email').errors">
          <span *ngIf="registerForm.get('email').hasError('required')" style="color: red">El correo es requerido.</span>
          <span *ngIf="registerForm.get('email').hasError('email')" style="color: red">Ingrese un email valido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input formControlName="phone" tabindex="5" type="tel"></ion-input>
        <ng-container *ngIf="registerForm.get('phone').dirty && registerForm.get('phone').errors">
          <span *ngIf="registerForm.get('phone').hasError('required')" style="color: red">El telefono es requerido.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
        <ng-container *ngIf="registerForm.get('password').dirty && registerForm.get('password').errors">
          <span *ngIf="registerForm.get('password').hasError('required')" style="color: red">La contraseña es requerida.</span>
        </ng-container>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input formControlName="confirm" tabindex="7" type="password"></ion-input>
        <ng-container *ngIf="registerForm.get('confirm').dirty && registerForm.get('confirm').errors">
          <span *ngIf="registerForm.get('confirm').hasError('required')" style="color: red">Debe confirmar la contraseña.</span>
          <span *ngIf="registerForm.get('confirm').hasError('notSame')" style="color: red">Las contraseñas no son iguales.</span>
        </ng-container>
      </ion-item>

      <br>
      <ion-radio-group formControlName="access">
        <ion-list-header>
          Tipo de Acceso
        </ion-list-header>

        <ion-item>
          <ion-label>Rut</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Correo</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ng-container *ngIf="registerForm.get('access').errors">
        <span *ngIf="registerForm.get('access').hasError('required')" style="color: red">Debe seleccionar una opción.</span>
      </ng-container>           
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-button
    [disabled]="registerForm.invalid"
    color="danger"
    expand="block"
    (click)="onSubmit()">
    Registrar
  </ion-button>
</ion-footer>
