ion-content {
  .version {
    font-size: 1em;
    color: white;
  }

  .welcome-tittle{
    font-size: 30px;
    color: var(--color-home);
    font-weight: 600;
    text-align: center;
  }

  .input-radio-fx360{
    margin-top: 5px;
    background: #e7e7eb;
    border-radius: 20px;
  }

  .input-radio-fx360:hover{
    background: #ffffff;
    transition: 500ms;
  }

  .button-register{
    --background: #19284c;
    --border-radius: 20px;
    --box-shadow: none;
    height: 40px;
    --background-activated: #04042B;
  }

  .account{
    color: #19284c;
    font-size: 15px;
  }

  .row-form {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
