ion-content {
  .version {
    font-size: 1em;
    color: white;
  }

  .welcome-tittle{
    font-size: 20px;
    color: var(--ion-color-primary);
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
  }

  .input-radio-fx360 {
    margin-top: 5px;
    background: #e7e7eb;
    border-radius: 20px;
    --ripple-color: transparent !important;
  }

  .button-register{
    --background: var(--ion-color-primary);
    --border-radius: 20px;
    --box-shadow: none;
    height: 40px;
  }

  .account{
    color: var(--ion-color-primary);
    font-size: 15px;
  }

  .row-form {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
