ion-card {
  --background: transparent !important;
  box-shadow: none !important;
}

.profile-cam-container {
  background: white;
}

.profile {
  padding: 20px 20px 0 20px !important;
  //height: 86px;
}

.media-content {
  --min-height: 50px;
  --highlight-height: 0 !important;
  --background: transparent !important;
  --border-style: none !important;

  ion-button {
    --box-shadow: none !important;
  }
}

/*ion-avatar {
  width: 100px;

  img {
    height: 100px;
  }
}*/

/*
ion-label {
  opacity: .8 !important;
  font-style: italic;
}

.cameras {
  font-size: 40px;
  text-align: center;
}

*/
