ion-card {
  --background: transparent !important;
  box-shadow: none !important;
}

.profile {
  padding: 20px 20px 0 20px !important;
  //height: 86px;
}

.avatar-content {
  height: 100px;
  width: 100px;
  margin: auto;

  ion-avatar {
    width: 100%;
    height: 100%;
  }
}

.media-content {
  --min-height: 50px;
  --highlight-height: 0 !important
}

/*ion-avatar {
  width: 100px;

  img {
    height: 100px;
  }
}*/

/*
ion-label {
  opacity: .8 !important;
  font-style: italic;
}

.cameras {
  font-size: 40px;
  text-align: center;
}

*/
