<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" defaultHref="home-page" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center white">
      <strong>Perfil</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-cam-container" *ngIf="device.cordova">
    <div class="profile ion-text-center">
      <div class="avatar-content">
        <ion-avatar class="ion-no-margin">
          <img [src]="avatarPreview || 'assets/imgs/user.png'">
        </ion-avatar>
      </div>
    </div>

    <ng-container>
      <ion-row>
        <ion-col size="12" class="media-container">
          <ion-item class="media-content">
            <ion-button size="default" (click)="openCamera()" slot="start">
              <ion-icon name="camera" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-button size="default" (click)="openGallery()" slot="end">
              <ion-icon name="image" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ng-container>
  </div>

  <ion-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <ion-row>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Rut</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input formControlName="rut" tabindex="0"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('rut').hasError('required')">El rut es requerido.</ion-text>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('rut').hasError('notRut')">El rut es inválido.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Nombres</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input formControlName="nombre" tabindex="1"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('nombre').hasError('required')">Los nombres son requeridos.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Apellido paterno</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input formControlName="apellido_paterno" tabindex="2"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('apellido_paterno').hasError('required')">El apellido paterno es requerido.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Apellido materno</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input class="input-text" formControlName="apellido_materno" tabindex="3"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('apellido_materno').hasError('required')">El apellido materno es requerido.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Correo</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input formControlName="email" tabindex="4" type="email"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('email').hasError('required')">El correo es requerido.</ion-text>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('email').hasError('email')">Ingrese un correo valido.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360" position="floating">Teléfono</ion-label>
          <ion-item class="input-fx360-down">
            <ion-input formControlName="telefono" tabindex="5" type="tel"></ion-input>
          </ion-item>
          <ion-text color="danger" class="error--message" *ngIf="registerForm.dirty && registerForm.get('telefono').hasError('required')">El teléfono es requerido.</ion-text>
        </ion-col>
        <ion-col size="12">
          <ion-label class="label-fx360">Tipo de Acceso</ion-label>
          <ion-radio-group formControlName="acceso">
            <ion-row>
              <ion-col size="6">
                <ion-item class="input-radio-fx360">
                  <ion-label class="label-fx360">Rut</ion-label>
                  <ion-radio value="1"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="input-radio-fx360">
                  <ion-label class="label-fx360">Correo</ion-label>
                  <ion-radio value="2"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-radio-group>
          <ion-text color="danger" class="error--message no-margin-t" *ngIf="registerForm.dirty && registerForm.get('acceso').hasError('required')">Debe seleccionar una opción.</ion-text>
        </ion-col>
      </ion-row>

      <br>
      <div class="ion-text-center">
        <ion-button class="no-ripple" (click)="changePassword()" color="danger" fill="clear">
          Cambiar contraseña
        </ion-button>
      </div>
      <br>

      <ion-button
        class="btn-app"
        [disabled]="registerForm.invalid"
        expand="block"
        type="submit">
        Actualizar
      </ion-button>
    </form>

  </ion-card>
</ion-content>
