<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>Listado Detalles</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="openSelected = !openSelected" [class.selected]="openSelected" >
    <ion-row>
      <ion-col size="12">
        <ion-card class="card-item" *ngIf="ticket">
          <ion-card-content>
            <ng-container class="header-content details-seccion">
              <p><strong>{{remainingTime(ticket.clientCommitment)}}</strong></p>
              <p><strong>#Ticket:</strong> {{ ticket.id }}</p>
              <p><strong>Cliente:</strong> {{ ticket.client }}</p>
              <p><strong>Tipo:</strong> {{ ticket.type_id | titlecase}}</p>
              <p><strong>Producto:</strong> {{ ticket.productName }}</p>
              <p><strong>Funcionalidad:</strong> {{ ticket.funcionalityName }}</p>
              <!--    <p>Fecha Maxima: {{ ticket.maxResolution | customDatetime }}</p>-->
              <p><strong>Estado:</strong> {{ ticket.state }}</p>
              <p><strong>Referencia:</strong> {{ ticket.reference }}</p>
              <p><strong>Creador:</strong> {{ ticket.creator }}</p>
              <!--<p class="ticket-p"><strong>Asignado:</strong> {{ ticket.creatorName }}</p>-->
              <p class="ticket-p"><strong>Fecha de Compromiso:</strong> {{ ticket.clientCommitment }}</p>
              <p class="ticket-p"><strong>Fecha de Compromiso:</strong> {{ ticket.description }}</p>
            </ng-container>
            <div [class.scroll-card-custom]="openSelected" class="scroll-card">
              <ng-container *ngIf="ticket">
                <div class="" style="padding-top: 0;">
                  <p class=""><strong>Periodicidad:</strong> {{ ticket.periodicity }}</p>
                  <p class=""><strong>Descripción:</strong> {{ ticket.description }}</p>
                  <p class=""><strong>Solución:</strong> {{ ticket.solution }}</p>
                  <p class=""><strong>Fecha de compromiso interna:</strong> {{ ticket.internalCommitment }}</p>
                </div>
              </ng-container>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <ion-refresher (ionRefresh)="reSync($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="details.length > 0">
    <ion-virtual-scroll [items]="details">
      <div *virtualItem="let detail">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <app-ticket-detail-card [detail]="detail"></app-ticket-detail-card>
          </ion-col>
        </ion-row>
      </div>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-button class="btn-app" (click)="openForm()" [disabled]="!(getNetworkStatus() | async)" color="primary" expand="block">
    Crear
  </ion-button>
</ion-footer>
