ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

ion-content {
  --background: var(--color-background-tabs);
}

ion-tab-bar {
  height: 45px;
  //height: 100px;
  --background: var(--color-home-header-menu);
  --color: white;
  // margin-bottom: 58px;
}

.text-white {
  color: white !important;
}

.ticket-p {
  margin: 0 !important;
  padding-left: 5px;
  padding-right: 5px;
}

.texto-ticket {
  padding: 10px 0;
  color: white;
}

.h {
  position: absolute;
  right: 20px;
  font-style: italic;
  top: 37px;
}

.date-compromiso {
  font-size: 12px;
  float: right;
  margin-bottom: 11px !important;
  font-style: italic;
}

.scroll-card {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  width: 100%;
}

.card-text {
  border-radius: 10px;
  border: none !important;
  padding: 10px 0;
  color: white;
  p {
    margin: 0;
  }
}

.header-content.selected .scroll-card {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

