ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 1px solid white !important;
}

.text-white {
  color: white !important;
}

.texto-ticket {
  padding: 10px 0;
  color: white;
}

.h {
  position: absolute;
  right: 20px;
  font-style: italic;
  top: 10vh;
}

.date-compromiso {
  font-size: 12px;
  float: right;
  margin-bottom: 11px !important;
  font-style: italic;
}

.scroll-card {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  width: 100%;
}

.card-text {
  border-radius: 10px;
  border: none !important;
  padding: 10px 0;
  color: white;
  p {
    margin: 0;
  }
}

.header-content.selected .scroll-card {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.details-seccion {
  --color: var(--ion-color-primary) !important;
  background: var(--ion-color-light-shade);
  padding-bottom: 20px;
  border-radius: 0 0 20px 20px;
}

.details-seccion p {
  //margin: 2px;
}
