<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Listado Detalles</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <div (click)="openSelected = !openSelected" [class.selected]="openSelected"  class="header-content background-color--header">
    <ng-container *ngIf="ticket">
    <!--    <ion-row class="text-white">-->
<!--      <p class="h">{{remainingTime(ticket.clientCommitment)}}</p>-->
      <div class="texto-ticket">
        <p class="h"><strong>{{remainingTime(ticket.clientCommitment)}}</strong></p>
        <p class="ticket-p"><strong>#Ticket:</strong> {{ ticket.id }}</p>
        <p class="ticket-p"><strong>Cliente:</strong> {{ ticket.client }}</p>
        <p class="ticket-p"><strong>Tipo:</strong> {{ ticket.type }}</p>
        <p class="ticket-p"><strong>Producto:</strong> {{ ticket.productName }}</p>
        <p class="ticket-p"><strong>Funcionalidad:</strong> {{ ticket.funcionalityName }}</p>
        <!--    <p>Fecha Maxima: {{ ticket.maxResolution | customDatetime }}</p>-->
        <p class="ticket-p"><strong>Estado:</strong> {{ ticket.state  }}</p>
        <p class="ticket-p"><strong>Referencia:</strong> {{ ticket.reference }}</p>
        <p class="ticket-p"><strong>Creador:</strong> {{ ticket.creator }}</p>
        <p class="date-compromiso ticket-p">Fecha de Compromiso: {{ ticket.clientCommitment }}</p>
      </div>
    </ng-container>

    <div [class.scroll-card-custom]="openSelected" class="scroll-card">
      <ng-container *ngIf="ticket">
        <div class="card-text">
          <p class="ticket-p"><strong>Periodicidad:</strong> {{ ticket.periodicity }}</p>
          <p class="ticket-p"><strong>Descripción:</strong> {{ ticket.description }}</p>
          <p class="ticket-p"><strong>Solución:</strong> {{ ticket.Solution }}</p>
          <p class="ticket-p"><strong>Creado:</strong> {{ ticket.createdAt }}</p>
        </div>
      </ng-container>
    </div>
  </div>


<ion-content>

  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Sincronizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="details.length > 0">
    <ion-virtual-scroll [items]="details">
      <app-ticket-detail-card *virtualItem="let detail" [detail]="detail"></app-ticket-detail-card>
    </ion-virtual-scroll>
  </ng-container>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="openForm()" [disabled]="!isOnline" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
