<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start" *ngIf="currentStep === 1">
      <ion-back-button  class="header-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Crear Pre-Contrato</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
      <app-check-connection></app-check-connection>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button [selected]="currentStep === 1">
          <ion-label>Paso 1</ion-label>
        </ion-tab-button>

        <ion-tab-button [selected]="currentStep === 2">
          <ion-label>Paso 2</ion-label>
        </ion-tab-button>

        <ion-tab-button [selected]="currentStep === 3">
          <ion-label>Paso 3</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form-container" [formGroup]="contractForm">

    <!-- STEP 1 -->
    <ng-container *ngIf="currentStep === 1" formGroupName="step1">

      <ion-item>
        <ion-label position="floating">Nacionalidad</ion-label>
        <ion-select formControlName="nationality" placeholder="Nacionalidad" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet" (ionChange)="changeIdentifierValidation($event.detail.value)">
          <ion-select-option *ngFor="let nationality of nationalities | alphabeticalOrder" [value]="nationality.id">{{ nationality.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Identificador</ion-label>
        <ion-input formControlName="identifier" (keyup)="formatIdentifier($event.target.value)"></ion-input>
        <ng-container *ngIf="contractForm.get('step1.identifier').hasError('validRut')">
          <span style="color:red">Debe ingresar un RUT valido.</span>
        </ng-container>
      </ion-item>

      <ion-row>
        <ion-col size="5">
          <ion-item lines="none">
            <ion-label>
              <hr class="item-divider">
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2">
          <ion-item lines="none" class="ion-no-padding" style="padding-left: 12px">
            <ion-label class="ion-text-center">
              O
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="5">
          <ion-item lines="none">
            <ion-label>
              <hr class="item-divider">
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-button expand="block" (click)="openBarcodeScanner()">
        Escanear Carnet
        <ion-icon slot="end" name="camera"></ion-icon>
      </ion-button>

    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="currentStep === 2" formGroupName="step2">

      <ng-container *ngIf="isSearching">
        <ion-item  lines="none" color="warning">
          <ion-label>Buscando...</ion-label>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="!isSearching">

        <ion-item *ngIf="checkIfIdentifierAlreadyExistsOnWorkers()" lines="none" color="danger">
          <ion-label>Trabajador posee contrato activo</ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input formControlName="sureName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Fecha de Nacimiento</ion-label>
          <ion-datetime formControlName="dob" [displayFormat]="dateFormat" [max]="maxDate" [pickerFormat]="dateFormat"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Estado Civil</ion-label>
          <ion-select formControlName="civilStatus" placeholder="Estado Civil" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
            <ion-select-option *ngFor="let status of civilStatus | alphabeticalOrder" [value]="status.name">{{ status.name }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-radio-group formGroupName="gender" [value]="contractForm.get('step2.gender').value" (ionChange)="changeGenderEvent($event.detail.value)">
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label>Hombre</ion-label>
                <ion-radio slot="start" value="M"></ion-radio>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item lines="none">
                <ion-label>Mujer</ion-label>
                <ion-radio slot="start" value="F"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-radio-group>

      </ng-container>
    </ng-container>

    <!-- STEP 3 -->
    <ng-container *ngIf="currentStep === 3" formGroupName="step3">

      <ion-item>
        <ion-label position="floating">Tipo de Contrato</ion-label>
        <ion-select formControlName="contractType" placeholder="Tipo de Contrato" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
          <ion-select-option *ngFor="let type of contractTypes | alphabeticalOrder" [value]="type.id">{{ type.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">AFP</ion-label>
        <ion-select formControlName="afp" placeholder="AFP" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
          <ion-select-option *ngFor="let afp of afps | alphabeticalOrder" [value]="afp.id">{{ afp.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">ISAPRE</ion-label>
        <ion-select formControlName="isapre" placeholder="Isapre" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
          <ion-select-option *ngFor="let isapre of isapres | alphabeticalOrder" [value]="isapre.id">{{ isapre.name }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Jubilado</ion-label>
        <ion-checkbox formControlName="retired" slot="start"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cuadrilla</ion-label>
        <ion-select formControlName="quadrille" placeholder="Cuadrilla" cancelText="Cancelar" [interfaceOptions]="actionHeader" interface="action-sheet">
          <ion-select-option *ngFor="let quadrille of quadrilles | alphabeticalOrder" [value]="quadrille.id">{{ quadrille.name }}</ion-select-option>
        </ion-select>
      </ion-item>

    </ng-container>

  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button color="warning" expand="block" [disabled]="currentStep === 1" (click)="currentStep = currentStep - 1">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Anterior
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="warning" expand="block" *ngIf="currentStep < 3" [disabled]="checkNexButtonDisabled()" (click)="increaseStep()">
        Siguiente
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

      <ion-button color="success" expand="block" *ngIf="currentStep === 3" [disabled]="this.contractForm.get('step3').invalid" (click)="submit()">
        Guardar
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>


