ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-tab-button {
  font-size: 16px;
  color: white;
  --color: white;
}

.tab-selected {
  border-bottom: 3px solid #ffffff !important;
  --color: #ffffff !important;
}

ion-tab-bar {
  --background: var(--ion-color-primary);
  --color: white;
}


.search-toolbar {
  background: var(--ion-color-primary);

  .searchbar-input {
    box-shadow: none !important;
    background: var(--ion-color-primary);
    color: white;
  }

  .searchbar-search-icon {
    color: white !important;
    font-weight: bold !important;
  }

}

.item-divider {
  background-color: #7981A2;
  height: 2px;
}

.title-card {
  margin: 5px;
  padding: 0;
}

.input-radio-fx360 {
  margin-top: 5px;
  background: #e7e7eb;
  border-radius: 20px;
  --ripple-color: transparent !important;
}

.label-fx360-checkbox{
  font-weight: 500;
  color: var(--ion-color-primary);
  padding-left: 5px;
}

ion-checkbox {
  margin: 15px 0 !important;
}
