<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="secondary">
        <ion-icon name="arrow-back" slot="icon-only" style="color:white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ editTally ? 'Editar': 'Agregar' }} Jornada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="tallyForm">

    <!-- STEP 1 -->
    <ng-container *ngIf="currentStep === 1">
      <!-- COST CENTER -->
      <ion-item>
        <ion-label position="stacked">Centro de Costo</ion-label>
        <ion-searchbar [value]="costCenterName" (keyup)="searchCostCenter($event.target.value)" (ionClear)="cleanCostCenterSearch()" placeholder="Buscar"></ion-searchbar>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('costCenterId').hasError('required')">Seleccione un Centro de Costo</ion-text>
      </ion-item>

      <ion-list class="searchbar-results-list" *ngIf="filteredCostCenters.length > 0">
        <ion-item *ngFor="let costCenter of filteredCostCenters | alphabeticalOrder" (click)="selectCostCenter(costCenter)">
          {{ costCenter.name  }}
        </ion-item>
      </ion-list>

      <!-- LABOR -->
      <ion-item>
        <ion-label position="stacked">Labor</ion-label>
        <ion-searchbar [value]="laborName" (keyup)="searchLabor($event.target.value)" (ionClear)="cleanLaborSearch()" placeholder="Buscar"></ion-searchbar>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('laborId').hasError('required')">Seleccione una Labor</ion-text>
      </ion-item>

      <ion-list class="searchbar-results-list" *ngIf="filteredLabors.length > 0">        
        <ion-item *ngFor="let labor of filteredLabors | alphabeticalOrder" (click)="selectLabor(labor)">
          {{ labor.name  }}
        </ion-item>
      </ion-list>

      <!-- DEALS -->
      <ng-container *ngIf="availableDeals.length > 0">
        <ion-item>
          <ion-label position="stacked">Trato</ion-label>
          <ion-searchbar [value]="dealName" (keyup)="searchDeal($event.target.value)" (ionClear)="cleanDealSearch()" placeholder="Buscar"></ion-searchbar>
        </ion-item>

        <ion-list class="searchbar-results-list" *ngIf="filteredDeals.length > 0">          
          <ion-item *ngFor="let deal of filteredDeals | alphabeticalOrder:'name_deal'" (click)="selectDeal(deal)">
            {{ deal.name_deal  }}
          </ion-item>
        </ion-list>
      </ng-container>

      <!-- BONDS -->
      <ng-container *ngIf="availableBonds.length > 0">
        <ion-item>
          <ion-label position="stacked">Bono</ion-label>
          <ion-searchbar [value]="bondName" (keyup)="searchBond($event.target.value)" (ionClear)="cleanBondSearch()" placeholder="Buscar"></ion-searchbar>
        </ion-item>

        <ion-list class="searchbar-results-list" *ngIf="filteredBonds.length > 0">          
          <ion-item *ngFor="let bond of filteredBonds | alphabeticalOrder:'bondName'" (click)="selectBond(bond)">
            {{ bond.bondName  }}
          </ion-item>
        </ion-list>
      </ng-container>

      <ion-item>
        <ion-label position="floating">Jornada</ion-label>
        <ion-input type="number" formControlName="workingDay" (ionChange)="workingDayChanged($event.target.value)"></ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="selectWorkingDay(1)">
          <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
        </ion-button>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('workingDay').hasError('required')">Ingrese una jornada. utilice punto en vez de coma.</ion-text>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('workingDay').hasError('min')">El valor minimo es 0.1.</ion-text>
      </ion-item>

      <ng-container *ngIf="workersOverMax.length > 0">
        <p style="color: red">
          El valor ingrado supera el maximo de jornada permitida para los trabajadores
        </p>
        <ul>
          <li style="color: red" *ngFor="let worker of workersOverMax">{{ worker.name }} ({{ worker.value | number }})</li>
        </ul>
      </ng-container>

      <ion-item>
        <ion-label position="floating">Horas Extra</ion-label>
        <ion-input type="number" formControlName="hoursExtra"></ion-input>
        <ion-button fill="clear" size="default" slot="end" (click)="selectWorkingDay(2)">
          <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
        </ion-button>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('hoursExtra').hasError('min')">El valor minimo es 0.1</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rendimiento</ion-label>
        <ion-input type="number" formControlName="performance"></ion-input>
        <ion-text color="danger" *ngIf="tallyForm.dirty && tallyForm.get('performance').hasError('min')">El valor minimo es 0.1</ion-text>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Unidad</ion-label>
        <ion-input formControlName="unit"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Notas</ion-label>
        <ion-textarea formControlName="notes"></ion-textarea>
      </ion-item>
    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="currentStep === 2">
      <ion-row style="font-size: 12px">
        <ion-col size="6" class="ion-text-center">
          <strong>Trabajador</strong>
        </ion-col>
        <ion-col class="ion-text-center"><strong>JR</strong></ion-col>
        <ion-col class="ion-text-center"><strong>H</strong></ion-col>
        <ion-col class="ion-text-center"><strong>R</strong></ion-col>
      </ion-row>
      <ng-container formArrayName="multiple" *ngFor="let worker of workers; let i = index">
        <ion-row style="font-size: 10px">
          <ion-col size="6">{{ worker.name }}</ion-col>
          <ion-col [formGroupName]="i">
            <ion-item class="full-border ion-no-margin">
              <ion-input formControlName="jr" type="number" (ionChange)="checkWorkerDailyMax(worker, $event.target.value)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col [formGroupName]="i">
            <ion-item class="full-border ion-no-margin">
              <ion-input formControlName="h" type="number"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col [formGroupName]="i">
            <ion-item class="full-border ion-no-margin">
              <ion-input formControlName="r" type="number"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-item-divider>
        <ion-label></ion-label>
      </ion-item-divider>

      <ng-container *ngIf="workersOverMax.length > 0">
        <p style="color: red">
          El valor ingrado supera el maximo de jornada permitida para los trabajadores
        </p>
        <ul>
          <li style="color: red" *ngFor="let worker of workersOverMax">{{ worker.name }} ({{ worker.value }})</li>
        </ul>
      </ng-container>

      <ion-segment #segment value="jornada" class="segment-back" scrollable="true">
        <ion-segment-button value="jornada">
          <ion-label>Jornada</ion-label>
        </ion-segment-button>
        <ion-segment-button value="asistencia">
          <ion-label>Asistencia</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-row>
        <ion-col size="8">
          <ion-item>
            <ion-input (ionChange)="split = $event.target.value" type="number"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-button (click)="splitTime(segment.value)">
            Repartir
          </ion-button>
        </ion-col>
      </ion-row>

    </ng-container>

  </form>
</ion-content>

<ion-footer>
  <!-- Single Worker -->
  <ion-row *ngIf="workers.length === 1">
    <ion-col>
      <ion-button color="danger" expand="block" (click)="closeModal()">
        Cancelar
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button color="success" expand="block" [disabled]="tallyForm.invalid || workersOverMax.length > 0" (click)="submitForm()">
        Guardar
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Multiple worker -->
  <ng-container *ngIf="workers.length > 1">
    <!-- Step 1 -->
    <ion-row *ngIf="currentStep === 1">
      <ion-col>
        <ion-button color="danger" expand="block" (click)="closeModal()">
          Cancelar
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="warning" expand="block" (click)="currentStep = currentStep + 1" [disabled]="tallyForm.get('costCenterId').invalid || tallyForm.get('laborId').invalid || workersOverMax.length > 0">
          Siguiente
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Step 2 -->
    <ion-row *ngIf="currentStep === 2">
      <ion-col>
        <ion-button color="warning" expand="block" (click)="currentStep = currentStep - 1">
          Anterior
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="success" expand="block" [disabled]="tallyForm.invalid || workersOverMax.length > 0" (click)="submitForm()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ng-container>
</ion-footer>
