ion-item {
  ion-searchbar {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.cost-centers-list {
  background-color: var(--ion-color-primary);
  padding-left: 10px;
  padding-right: 10px;;
}

.labors-list {
  background-color: var(--ion-color-success);
  padding-left: 10px;
  padding-right: 10px;;
}
