<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="white" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="white">
      <strong>Notas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar (ionChange)="searchNote($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>

<ion-content>
  <ng-container *ngFor="let item of filteredNotes">
    <app-note-item
      (deleteNote)="deleteNoteConfirm($event)"
      (noteClicked)="viewNote(item)"
      [item]="item"
      [slideDisabled]="false"
    ></app-note-item>
  </ng-container>

  <ng-container *ngIf="checkButton()">
    <ion-fab horizontal="end" slot="fixed" vertical="bottom">
      <ion-fab-button (click)="openForm()" [disabled]="!costCenter" color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
