<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button text="" class="white"></ion-back-button>
    </ion-buttons>
    <ion-title class="white">
      <strong>Notas</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-searchbar (ionChange)="searchNote($event.target.value)" class="production" showCancelButton="never" animated (ionClear)="cancelSearch()"></ion-searchbar>

<ion-content>
  <ng-container *ngFor="let item of filteredNotes">
    <app-note-item (noteClicked)="viewNote(item)" [item]="item"></app-note-item>
  </ng-container>

  <ng-container *ngIf="checkButton()">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger" (click)="openForm()" [disabled]="!costCenter">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
</ion-content>
