<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Trabajadores</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
      <ion-searchbar
        animated
        placeholder="Buscar..."
        showCancelButton="never"
        (ionChange)="searchWorker($event.target.value)"
        (ionClear)="cancelSearch()">
      </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- TRABAJADORES -->
  <ion-item>
    <ion-label>
      <h2>Trabajadores</h2>
    </ion-label>
    <ion-badge slot="end"  color="primary">{{ filteredWorkers.length }}</ion-badge>
  </ion-item>

  <!-- DAY SELECTOR -->
  <ion-item lines="none">
    <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
    </ion-button>
    <ion-input class="ion-text-center" [ngModel]="showDate" readonly></ion-input>
    <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

  <ng-container *ngIf="isLoading">
    <h1 class="ion-text-center">Cargando...</h1>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <ion-virtual-scroll [items]="filteredWorkers">
      <ion-card *virtualItem="let worker" class="card-item margin-extra" (click)="markWorker(worker)" [ngClass]="{ 'workerSelected': selectedWorkers.includes(worker) }">
        <ion-item lines="full">
          <ion-icon slot="start" name="person" color="primary"></ion-icon>
          <ion-label class="ion-text-wrap">{{ worker.name | titlecase }}</ion-label>
          <ion-icon *ngIf="worker.memory" slot="end" name="server" color="danger"></ion-icon>
        </ion-item>

        <ion-card-content>
          <p> <strong>Identificador</strong>: {{ worker.identifier | rut }}</p>

          <ion-chip class="ion-float-end" color="primary">
            <ion-label>
              {{ getTotalWorkerWork(worker) | number }} JR
            </ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-virtual-scroll>
  </ng-container>
</ion-content>

<ion-footer>
  <!-- One worker selected -->
  <ion-row *ngIf="selectedWorkers.length === 1">
    <ion-col size="6">
      <ion-button color="success" expand="block" (click)="createTally()">
        Agregar Jornada
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button color="primary" expand="block" (click)="goToWorkerTallyList(this.selectedWorkers[0].id)">
        Ver Tarjas
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- Several workers selected -->
  <ion-row *ngIf="selectedWorkers.length > 1">
    <ion-col size="6">
      <ion-button color="success" expand="block" (click)="createMultipleTally()">
        Agregar Masivo
      </ion-button>
    </ion-col>

    <ion-col size="6">
      <ion-button color="primary" expand="block" (click)="editMultipleTally()" [disabled]="!canUpdateMultiple">
        Modificar Masivo
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
