<ion-content>

  <ion-searchbar placeholder="Buscar..." (ionChange)="searchTickets($event.target.value)" (ionClear)="cancelSearch()" animated class="production" showCancelButton="never"></ion-searchbar>

  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Sincronizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="filteredTickets.length > 0">
    <ion-virtual-scroll [items]="filteredTickets">
      <div *virtualItem="let ticket">
        <app-ticket-card
          (deleteTicketEvent)="deleteTicket($event)"
          (ticketSelected)="ticketSelected($event)"
          [ticket]="ticket">
        </app-ticket-card>
      </div>
    </ion-virtual-scroll>
  </ng-container>

</ion-content>
