<ion-toolbar class="toolbar-search">
  <ion-searchbar
    placeholder="Buscar..."
    (ionChange)="searchTickets($event.target.value)"
    (ionClear)="cancelSearch()"
    animated
    class="production"
    showCancelButton="never"
    debounce="650"
  ></ion-searchbar>
</ion-toolbar>
<ion-content>
  <ion-refresher (ionRefresh)="reSync($event)" class="refresher" slot="fixed">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Sincronizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="filteredTickets.length > 0">
    <ion-list class="bg-transparent">
      <ng-container *ngFor="let ticket of filteredTickets">
        <ion-row class="ion-justify-content-center">
          <ion-col size="12">
            <app-ticket-card
              (deleteTicketEvent)="deleteTicket($event)"
              (ticketSelected)="ticketSelected($event)"
              [ticket]="ticket">
            </app-ticket-card>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="nextSearch($event)" [disabled]="noMoreRows">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Buscando más tickets...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>
