<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Tickets</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="false" scrollY="false">
  <ion-tabs #ticketTabs (ionTabsWillChange)="change($event)">
    <!-- Tab bar -->
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="me">
        <ion-label color="light">Mios</ion-label>
        <ion-badge color="light" *ngIf="activeNumberTicket('me') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="all">
        <ion-label color="light">Equipo</ion-label>
        <ion-badge color="light" *ngIf="activeNumberTicket('all') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="active">
        <ion-label color="light">Activos</ion-label>
        <ion-badge color="light" *ngIf="activeNumberTicket('active') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModalForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
