<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Tickets</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content scrollX="false" scrollY="false">
  <ion-tabs (ionTabsWillChange)="change($event)">
    <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="me">
        <ion-label>Mios</ion-label>
        <ion-badge color="dark" *ngIf="activeNumberTicket('me') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="all">
        <ion-label>Equipo</ion-label>
        <ion-badge color="dark" *ngIf="activeNumberTicket('all') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
      <ion-tab-button tab="active">
        <ion-label>Activos</ion-label>
        <ion-badge color="dark" *ngIf="activeNumberTicket('active') && numberTicket > 0">
          {{ numberTicket }}
        </ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>