ion-back-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-content {
  --background: var(--color-background-tabs);
  background: var(--color-background-tabs);
}

.white {
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.card {
  display: table;
  width: 100%;
  padding: 0 25px 0 25px;

  .card-text-one, .card-text-two {
    width: 50%;
    display: table-cell;
    color: white;
  }

  .card-text-two {
    text-align: right;
  }
}

.card-text {
  border: 1px solid white;
  display: table;
  width: 100%;
  padding: 0 25px 0 25px;
  position: relative;

  .card-text-one, .card-text-two {
    width: 100%;
    display: table-cell;
    color: white;

    p:nth-child(1) {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 15px !important;
      margin-right: 15px;
      padding: 10px;
      background: var(--color-light-card-hard);
      border-radius: 20px;
    }
  }

  .card-text-one {
    p:nth-child(1) {
      margin-top: 0;
    }
  }

  .card-text-two {
    text-align: right;

    p:nth-child(1) {
      margin-top: 0;
    }
  }
}

.card-contrato {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: -1px;
}

.scroll-card {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.scroll-card-custom {
  padding: 3px 5px 3px 5px;

  .card-text {
    background-color: var(--color-searchbar-menu);
    border-radius: 10px;
    border: none !important;

    .card-text-one {
      padding: 12px 0;
    }

    p {
      margin: 0;
    }
  }
}

.header-content.selected .scroll-card {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.estimates-card {
  display: table;
  width: 100%;
  text-align: center;
  background: white;
  padding: 10px 0;
  margin-bottom: 5px;
  border-radius: 0 0 12px 12px;
  //box-shadow: 0 4px 16px rgba(0,0,0,.12);
  div {
    display: table-cell;

    p {
      margin: 5px 0;
    }

    &:nth-child(1) {
      border-right: 1px solid var(--ion-color-light-shade);
    }
  }
}

.font-10 {
  font-size: 10px;
}

#container {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  display: block;
}

.graphics.selected #container {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}


.item-list {
  margin: 0 5px 5px;
  border-radius: 10px;
  padding-bottom: 5px;
  //box-shadow: 0 4px 16px rgba(0,0,0,.12)
}

ion-list-header {
  min-height: 25px;
}


.geolocation {
  color: #2fff2f !important;
}

.no-geolocation {
  color: var(--ion-color-danger) !important;
}
