<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Detalle Centro de Costo</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  header-->
  <div class="header-content background-color--header" [class.selected]="openSelected" (click)="openCloseSelected()">
    <ng-container *ngIf="costCenterListItem">
      <ion-row class="row">
        <ion-col size="12">
          <div class="white">{{ costCenterListItem.code }}</div>
        </ion-col>
        <ion-col size="12">
          <div class="white">{{ costCenterListItem.name }}</div>
        </ion-col>
        <ion-col size="12">
          <div class="white">{{ costCenterListItem.producerName }}</div>
        </ion-col>
        <ion-col size="12">
          <div class="white">{{ costCenterListItem.speciesName }} / {{ costCenterListItem.varietyName }}</div>
        </ion-col>
        <ion-col size="12">
          <div class="white">Fecha Cosecha: {{ costCenterListItem.harvestDate | customDate }}</div>
        </ion-col>
        <ion-col size="12" *ngIf="costCenterListItem.contractResponsible">
          <div class="white">Numero de Contratos: {{ costCenterListItem.contractsNumber }}</div>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngFor="let contract of productionContracts; let index = index">
      <div class="scroll-card">
        <ng-container>
          <div class="card-text">
            <div class="card-text-one">
              <p># {{ contract.documentNumber }}</p>
              <p>{{ contract.date| customDate }}</p>
              <p>{{ contract.responsibleName }}</p>
            </div>
            <div class="card-text-two">
              <p>{{ contract.totalQuantity }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>

  <!--  estimaciones-->
  <div class="estimates-card">
    <div>
      <p>KG CONTRATADOS</p>
      <p>
        <ion-icon name="arrow-round-up" color="danger"></ion-icon>&nbsp;
        <span>{{ getTotal() | number:'1.0-0':'es-CL' }}</span>
      </p>
    </div>
    <div>
      <p>KG RECIBIDOS</p>
      <p>
        <ion-icon name="arrow-round-down" color="primary"></ion-icon>&nbsp;<span>3.200</span></p>
    </div>
  </div>

  <!-- ESTIMACION DE COSECHA -->
  <div>
    <div *ngIf="harvestEstimate.length > 0">
      <app-harvest-estimate-item [item]="harvestEstimate[0]"></app-harvest-estimate-item>
    </div>
    <div *ngIf="harvestEstimate.length === 0">
      <app-harvest-estimate-item></app-harvest-estimate-item>
    </div>
  </div>

  <!-- ESTIMACION DE CALIDAD -->
  <div>
    <ng-container *ngIf="qualityEstimate.length > 0">
      <app-quality-estimate-item [item]="qualityEstimate[0]"></app-quality-estimate-item>
    </ng-container>
    <ng-container *ngIf="qualityEstimate.length === 0">
      <app-quality-estimate-item></app-quality-estimate-item>
    </ng-container>
  </div>

  <!--  notas-->
  <div>
    <app-note-item></app-note-item>
  </div>

  <!--  graficos-->
  <div class="graphics" [class.selected]="selectedGraphics">
    <!--
    <div id="container"></div>
    -->
  </div>

</ion-content>
