<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Ticket Detail</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-notifications></app-notifications>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="header">
    <ion-card-content>
      <p>Tipo: {{ header.type }}</p>
      <p>Origen: {{ header.origin_id }}</p>
      <p>Descripcion: {{ header.description }}</p>
    </ion-card-content>
  </ion-card>

  <ng-container *ngIf="details.length > 0">
    <ion-virtual-scroll [items]="details">
      <app-ticket-detail-card *virtualItem="let detail" [detail]="detail"></app-ticket-detail-card>
    </ion-virtual-scroll>
  </ng-container>


  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <!-- (click)="openForm()" [disabled]="!costCenter || !isOnline" -->
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
