/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-button {
  text-transform: capitalize;
}


.button-primary-home {
  --background: var(--color-home);
  --border-radius: 5px;
  --box-shadow: none;
  height: 55px;
  border: 1px solid white;
  border-radius: 5px;
  --background-activated:white;
  --color-activated: var(--color-home-secondary);
}

.button-secondary-home {
  --background: white;
  --border-radius: 5px;
  --box-shadow: none;
  --color: var(--color-home-secondary);
  height: 55px;
  --color-activated: white;
  --background-activated:var(--color-home);
}


.background-color-home {
  --background: rgba(34,24,123,1);
  --background: -moz-linear-gradient(left, rgba(34,24,123,1) 0%, rgba(25,18,91,1) 38%, rgba(12,9,45,1) 76%, rgba(1,0,4,1) 100%);
  --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34,24,123,1)), color-stop(38%, rgba(25,18,91,1)), color-stop(76%, rgba(12,9,45,1)), color-stop(100%, rgba(1,0,4,1)));
  --background: -webkit-linear-gradient(left, rgba(34,24,123,1) 0%, rgba(25,18,91,1) 38%, rgba(12,9,45,1) 76%, rgba(1,0,4,1) 100%);
  --background: -o-linear-gradient(left, rgba(34,24,123,1) 0%, rgba(25,18,91,1) 38%, rgba(12,9,45,1) 76%, rgba(1,0,4,1) 100%);
  --background: -ms-linear-gradient(left, rgba(34,24,123,1) 0%, rgba(25,18,91,1) 38%, rgba(12,9,45,1) 76%, rgba(1,0,4,1) 100%);
  --background: linear-gradient(to right, rgba(34,24,123,1) 0%, rgba(25,18,91,1) 38%, rgba(12,9,45,1) 76%, rgba(1,0,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22187b', endColorstr='#010004', GradientType=1 );
}

.background-color-header {
  --background: rgba(39,127,249,1);
  --background: -moz-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,127,249,1)), color-stop(34%, rgba(32,120,243,1)), color-stop(72%, rgba(29,111,232,1)), color-stop(100%, rgba(23,104,225,1)));
  --background: -webkit-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  --background: -o-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  --background: -ms-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  --background: linear-gradient(to right, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277ff9', endColorstr='#1768e1', GradientType=1 );
}

.background-color--header {
  background: rgba(39,127,249,1);
  background: -moz-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39,127,249,1)), color-stop(34%, rgba(32,120,243,1)), color-stop(72%, rgba(29,111,232,1)), color-stop(100%, rgba(23,104,225,1)));
  background: -webkit-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  background: -o-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  background: -ms-linear-gradient(left, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  background: linear-gradient(to right, rgba(39,127,249,1) 0%, rgba(32,120,243,1) 34%, rgba(29,111,232,1) 72%, rgba(23,104,225,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277ff9', endColorstr='#1768e1', GradientType=1 );
}

ion-header{
  z-index: 0;
}

ion-toolbar {
  --border-width: 0 !important;
}

.pd-default {
  padding: 20px;
}

.tabs-inner ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5vh, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.production {
  background: var(--color-searchbar-menu);
  .searchbar-input {
    box-shadow: none !important;
    background: var(--color-searchbar-menu);
    color:white;
  }
  .searchbar-search-icon {
    color:white !important;
    font-weight: bold !important;
  }
}

.mayu{
  text-transform: uppercase;
}

.margin-0{
  margin: 0;
}

.grey {
  color: var(--ion-color-medium-shade);
}

.bold{
  font-weight: bold;
}


ion-back-button.white {
  --color: white;
}

ion-title.white {
  color: white;
}

ion-content.content {
  --background: var(--color-background-tabs);
  background: var(--color-background-tabs);
}

ion-tab-button {
  --color-selected: white;
}

ion-menu-button {
  --color: white;
}

.change-modal-password .modal-wrapper {
  height: 45%;
  width: 90%;
  display: block;
  padding: 40px;
  overflow: hidden;
}

.closeModal {
  position: absolute;
  right: 0;
  color: white;
  background: var(--ion-color-danger);;
  padding: 10px 16px;
  border-radius: 50px;
  top: 0;
}
