/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/**
Iphone 11 Home button hack
*/
ion-footer {
  margin-bottom: env(safe-area-inset-bottom);
}

/** GLOBAL TOOLBAR MENU */
ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

ion-content {
  --background: #f4f4f4;
}

ion-item {
  --highlight-height: 0 !important;
}

ion-button, ion-label {
  outline: none !important;

  &.btn-app {
    --background: var(--ion-color-primary);
    --border-radius: 20px;
    --box-shadow: none;
    height: 40px;
  }

  &.no-ripple {
    --ripple-color: transparent !important;
  }
}

/** INPUT NUMBER TEXT ALIGN */
.input-number {
  text-align: right;
}

/** SLIDE ITEM */
.slide-item {
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --inner-border-width: 0;
  --inner-padding-bottom: 0;
  --inner-padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-top: 0;

  ion-card {
    margin: 5px;
    padding: 0;
    width: 100%;

    &.no-shadow {
      box-shadow: none !important;
    }

    ion-item {
      border-bottom: 1px solid var(--ion-color-light);
    }

    ion-card-content {
      padding: 10px !important;
      //padding-left: 15px;
      //padding-right: 5px;
    }
  }
}

/** CARD ITEM */
.card-item {
  margin: 5px;
  padding: 0;

  ion-card-content {
    padding-left: 15px;
    padding-right: 5px;
  }
}

/* SEARCHBAR IN TOOLBAR */
.toolbar-search {
  --background: var(--ion-color-primary);
  padding: 0;
  margin: 0;

  ion-searchbar {
    padding: 0 !important;
    margin: 0 !important;
    --background: var(--color-home);
    --border-radius: 50px;
    --box-shadow: none;
    --clear-button-color: white;
    --icon-color: white;
    --placeholder-color: white;
    --color: white;
    --placeholder-font-weight: bold;
    //height: unset !important;
  }
}

.full-screen-modal {
  width: 100vw;
  height: 100vh;
}

.refresher {
  z-index: 0;
}

ion-button {
  text-transform: capitalize;
}

.header-back-button {
  --color: white;
}

.icon-size {
  font-size: 56px !important;
}

.button-secondary-home {
  --background: white;
  --border-radius: 5px;
  --box-shadow: none;
  --color: var(--color-home-secondary);
  height: 55px;
  --color-activated: white;
  --background-activated: var(--color-home);
}

.background-color-home {
  --background: var(--ion-color-primary);
}

.background-color-header {
  --background: var(--ion-color-primary);
}

.background-color--header {
  background: rgba(39, 127, 249, 1);
  background: -moz-linear-gradient(left, rgba(39, 127, 249, 1) 0%, rgba(32, 120, 243, 1) 34%, rgba(29, 111, 232, 1) 72%, rgba(23, 104, 225, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(39, 127, 249, 1)), color-stop(34%, rgba(32, 120, 243, 1)), color-stop(72%, rgba(29, 111, 232, 1)), color-stop(100%, rgba(23, 104, 225, 1)));
  background: -webkit-linear-gradient(left, rgba(39, 127, 249, 1) 0%, rgba(32, 120, 243, 1) 34%, rgba(29, 111, 232, 1) 72%, rgba(23, 104, 225, 1) 100%);
  background: -o-linear-gradient(left, rgba(39, 127, 249, 1) 0%, rgba(32, 120, 243, 1) 34%, rgba(29, 111, 232, 1) 72%, rgba(23, 104, 225, 1) 100%);
  background: -ms-linear-gradient(left, rgba(39, 127, 249, 1) 0%, rgba(32, 120, 243, 1) 34%, rgba(29, 111, 232, 1) 72%, rgba(23, 104, 225, 1) 100%);
  background: linear-gradient(to right, rgba(39, 127, 249, 1) 0%, rgba(32, 120, 243, 1) 34%, rgba(29, 111, 232, 1) 72%, rgba(23, 104, 225, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#277ff9', endColorstr='#1768e1', GradientType=1);
}

ion-header {
  z-index: 0;
}

ion-toolbar {
  --border-width: 0 !important;
  --padding-bottom: 10px;
  --padding-top: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}

.pd-default {
  padding: 20px;
}

.tabs-inner ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5vh, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.production {
  .searchbar-input {
    box-shadow: none !important;
    background: var(--ion-color-primary);
    color: white;
  }

  .searchbar-search-icon {
    color: white !important;
    font-weight: bold !important;
  }
}

.mayu {
  text-transform: uppercase;
}

.margin-0 {
  margin: 0;
}

.grey {
  color: var(--ion-color-medium-shade);
}

.bold {
  font-weight: bold;
}

ion-back-button.white {
  --color: white;
}

ion-title.white {
  color: white;
}

ion-content.content {
  --background: var(--color-background-tabs);
  background: var(--color-background-tabs);
}

ion-tab-button {
  --color-selected: white;
}

ion-menu-button {
  --color: white;
}

.change-modal-password .modal-wrapper {
  height: 360px;
  width: 90%;
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.card-sli {
  padding: 5px 5px 0 5px;
  border-radius: 10px;

  .card-sli-back {
    background-color: white;
    border-radius: 10px;
    //box-shadow: 0 4px 16px rgba(0,0,0,.12);
  }
}

.closeModalWork {
  font-size: 20px;
  color: white;
  margin-top: 8px;
}

ion-action-sheet {
  .action-sheet-group-cancel .sc-ion-action-sheet-md {
    background-color: red;
    color: white;
  }

  .action-sheet-group-cancel .sc-ion-action-sheet-ios {
    color: red;
  }
}

.icon-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

.white-button {
  ion-icon {
    color: white;
  }
}

.alertCamGallery {
  .alert-head {
    padding: 0;
  }

  .alertCamGallery__ {
    text-align: center !important;
    width: auto;
    margin: 0 auto;
  }
}

.list-order-button {
  left: -77px;
  top: -5px;
}

/* AUTH MODULE */

.home-container {
  padding-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  height: 100%;

  ion-toolbar {
    --background: transparent !important;
  }

  .auth-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;


    .button-text-color {
      color: white !important;
    }

    .logo-home {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10px 0;

      &.no-flex-1 {
        flex: unset !important;
      }

      img {
        height: 100px;
      }

      p {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        margin: 0;
      }

      @media (min-width: 640px) {
        flex: 1;
      }
    }

    .home-buttons-container {
      flex-grow: 1;
      background: #f4f4f4;
      border-radius: 4em 4em 0 0;
      padding-bottom: env(safe-area-inset-bottom);

      &.no-flex-grow {
        flex-grow: unset !important;
      }

      .buttons-home {
        text-align: left;
        width: 100%;
        height: 100%;

        &.flex {
          display: flex;
          flex-direction: column;
        }

        .register-form-container {
          position: relative;
          flex-grow: 1;

          .register-form {
            height: 100%;
            overflow: auto;
            position: absolute;

            @media (min-width: 640px) {
              position: relative;
            }
          }
        }
      }

      @media (min-width: 640px) {
        flex-grow: unset;
      }
    }
  }
}

/* END AUTH MODULE */

/* INPUTS */

.label-fx360 {
  color: var(--ion-color-primary);
  font-weight: 500;
  //display: block;
  margin-left: 10px;

  &.recovery-label {
    color: #b5b4b4;
    text-align: center;
  }
}

.input-fx360 {
  margin-top: 5px;
  --padding-start: 15px !important;
  --background: #e7e7eb;
  border-radius: 20px;
  --border-style: none !important;
}

.input-fx360-down {
  --background: #fff;
  --border-radius: 20px;
  margin: 5px 5px 10px;
  --border-style: none !important;

  ion-searchbar {
    padding: 0 !important;
    height: unset !important;
    --background: transparent !important;
  }
}

.input-fx360-area {
  background: #fff;
  border-radius: 20px;
  margin: 5px 5px 10px;
}

.input-fx360-select {
  background: #fff;
  border-radius: 20px;
  margin: 5px 5px 10px;
}

.input-radio-fx360 {
  margin-top: 5px;
  --border-radius: 20px;
  --border-style: none !important;
  --ripple-color: transparent !important;

  ion-radio {
    --color-checked: white;
  }

  &.item-radio-checked {
    --background: var(--ion-color-primary);
    --color: white;
  }
}

.input-checkbox-fx360 {
  margin-top: 5px;
  --border-radius: 20px;
  --border-style: none !important;
  --ripple-color: transparent !important;
  --background-activated: transparent !important;

  ion-checkbox {
    margin-right: 0.5rem;
    --color-checked: white;
    --size: 1.5rem;
  }

  ion-label {
    margin-left: 0;
    margin-right: 0;
    font-size: 90% !important;
    white-space: normal !important;
  }

  &.item-radio-checked {
    --background: var(--ion-color-primary);
    --color: white;
  }
}

.error--message {
  display: block;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 85%;

  &.no-margin-t {
    margin-top: 0;
  }
}

/* END INPUTS */

.avatar-content {
  height: 80px;
  width: 80px;
  margin: auto;

  ion-avatar {
    width: 100%;
    height: 100%;
  }
}

li-ionic4-datepicker {
  input.li-dp-input {
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
  }
}

li-ionic4-datepicker-modal {
  margin-top: env(safe-area-inset-bottom);

  ion-header {
    ion-toolbar {
      padding-top: unset !important;
    }
  }

  ion-row {
    &.dp-days-list {
      ion-col {
        &:not(.dp-selecteddate) {
          .days {
            color: var(--ion-color-primary) !important;
          }
        }

        &.disabled {
          .days {
            color: #aaa !important;
          }
        }
      }
    }
  }

  .weeks {
    color: var(--ion-color-primary) !important;
  }

  .dp-weeks-name {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(25, 40, 76, 0.5);
    margin-bottom: 1rem;
  }

  .dp-selected {
    background: var(--ion-color-primary) !important;
    color: white !important;
    padding: 0.5rem 0;
    //margin: 0 5rem !important;
    //border-radius: 4px;
  }
}
