<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="white" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Agregar Pin</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pd-default">
    <br>
    <form (ngSubmit)="onSubmit()" [formGroup]="pinForm">
      <ion-row class="row-form">
        <ion-col size="12">
          <ion-label position="floating">PIN</ion-label>
          <ion-input
            class="input-fx360"
            formControlName="pin"
            type="number">
          </ion-input>
        </ion-col>
      </ion-row>
      <div *ngIf="pinForm.controls.pin.dirty && pinForm.hasError('required', 'pin')" style="color: red">
        El Pin es requerido
      </div>

      <br/>
      <ion-button
        class="button-login"
        [disabled]="pinForm.invalid"
        expand="block"
        type="submit">
        Aceptar
      </ion-button>
    </form>
  </div>
</ion-content>
