<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong *ngIf="!isLoading">{{centerCost.deal.name_deal}}</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="notSupported">
    <ion-col size="12">
      <ion-button color="danger" size="large" expand="full" class="ion-text-capitalize btn-app" (click)="showAlert()">
        Dispositivo no soporta NFC
      </ion-button>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="isLoading">
    CARGANDO
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <div class="content-box">
      <div class="sub-title"><strong>Labor:</strong> {{centerCost?.deal?.name_labor}}</div>
      <div class="sub-title"><strong>Centro:</strong> {{centerCost?.center_cost?.name}}</div>
      <div class="sub-title"><strong>Fecha:</strong> {{centerCost?.currentDate | date : 'dd/MM/yyyy'}}</div>
      <div class="sub-title"><strong>{{centerCost?.deal?.unit_control}}:</strong> {{centerCost?.unit_control_count || 0}}
      </div>
    </div>

    <ng-container *ngIf="centerCost.deal.weight">
      <ng-container *ngIf="isDeviceConnected; else notConnected">
        <ion-card>
          <ion-item>
            <ion-icon slot="start" color="success" name="barbell-outline"></ion-icon>
            <ion-label class="ion-text-center">
              {{ showFormattedWeight((showWeight | async)) }}
            </ion-label>
            <ion-icon *ngIf="validWeight" slot="end" color="success" name="checkmark-circle-outline"></ion-icon>
            <ion-icon *ngIf="!validWeight" slot="end" color="danger" name="close-circle-outline"></ion-icon>
          </ion-item>
        </ion-card>
      </ng-container>

      <ng-template #notConnected>
        <ion-card>
          <ion-item>
            <ion-icon slot="start"  name="barbell-outline"></ion-icon>
            <ion-label>No existe dispositivo conectado</ion-label>
          </ion-item>
        </ion-card>
      </ng-template>
    </ng-container>

    <!--<ion-button (click)="doCount('worker-1')">Contar worker 1</ion-button>
    <ion-button (click)="doCount('worker-2')">Contar worker 2</ion-button>
    <ion-button (click)="doCount('worker-3')">Contar worker 3</ion-button>-->

    <ion-card *ngIf="worker">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="4">
              <img src="assets/imgs/contract/tally-success-icon.png" *ngIf="exist" style="width: 90%">
              <img src="assets/imgs/contract/tally-unsuccess-icon.png" *ngIf="!exist" style="width: 90%">
            </ion-col>
            <ion-col size="8" style="text-align: center;">
              <ng-container *ngIf="centerCost.deal.weight; else notWeight">
                <span *ngIf="exist" class="title-weight">
                  {{ workersSuccess[0] ? workersSuccess[0].lastWeight : 0 | number:'1.0-3' }}
                </span>
                <div *ngIf="!exist" style="padding-top: 14%;">
                  {{worker}}
                </div>
                <div *ngIf="worker.indexOf('No existe') === -1" class="title-row" >
                  {{worker}}
                </div>
              </ng-container>

              <ng-template #notWeight>
                <ng-container *ngIf="exist">
                  <span  class="title-performance">
                    {{ workersSuccess[currentIdx] ? workersSuccess[currentIdx].count : 0 | number:'1.0-3' }}
                  </span>
                  <div *ngIf="!exist" style="padding-top: 14%;">
                    {{ worker }}
                  </div>
                  <div class="title-row" *ngIf="worker.indexOf('No existe') === -1">
                    {{ worker }}
                  </div>
                </ng-container>

                <ng-container *ngIf="!exist">
                  <div class="title-row">
                    {{ worker }}
                  </div>
                </ng-container>

              </ng-template>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>

    <ion-list class="ion-list-worker">
      <ion-card *ngFor="let worker of workersSuccess" class="ion-card-worker">
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/imgs/contract/worker-icon.png">
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            {{ worker.name | titlecase }}
          </ion-label>
          <ion-badge slot="end" color="default">{{ worker.count | number:'1.0-3' }}</ion-badge>
        </ion-item>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>
