<ion-menu side="start" contentId="content1" menuId="menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{name}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="routerLink('home-page')" ><span>Inicio</span></ion-item>
      <ion-item><span>Empresas</span></ion-item>
      <ion-item><span>Conexiones</span></ion-item>
      <ion-item><span>Agregar PIN</span></ion-item>
      <ion-item><span>Soporte</span></ion-item>
      <ion-item (click)="close()"><span>Cerrar Sesión</span></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

