ion-content {
  .home-buttons-content {
    padding: 20px 0px 50px 0px;
  }

  .button-primary-home {
    /* --background: var(--color-home); */
    --background: #19284c;
    --border-radius: 20px;
    --box-shadow: none;
    height: 50px;
    --background-activated: #04042B;
    --color-activated: white;
  }

  .button-primary-home-outlet {
    --background: #f4f4f4;
    --border-radius: 20px;
    color:  var(--color-home);
    height: 50px;
    border: 2px solid #19284c;
    border-radius: 20px;
    --background-activated: #04042B;
    --color-activated: #f4f4f4;
  }

  .version {
    font-size: 1em;
    color: white;
  }

}

.border-footer-home {
  background: var(--ion-color-primary);
  color: white;
}
