<ion-content class="background-color-home" scrollX="false" scrollY="false">
  <div>
    <div class="logo-home">
      <img alt="Primetec" src="assets/imgs/logo.png">
      <p>FX360</p>
      <div class="version">{{ getVersion() }}</div>
    </div>
    <div class="ion-text-center buttons-home">
      <ion-button [routerLink]="['/auth/login']" class="button-primary-home">Iniciar Sesión</ion-button>
      <ion-button [routerLink]="['/auth/register']" class="button-secondary-home">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
