<ion-content class="background-color-home" scrollX="false" scrollY="false">
  <div class="home-container">
    <div class="auth-content">
      <div class="logo-home">
        <img alt="Primetec" src="assets/icon/favicon.png">
        <p>{{ appService.getAppName() }}</p>
        <p class="version">{{ appService.getAppVersion() }}</p>
      </div>
      <div class="home-buttons-container no-flex-grow">
        <div class="buttons-home">
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-button [routerLink]="['/auth/login']" expand="block" class="button-primary-home">Iniciar Sesión</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-button [routerLink]="['/auth/register']" expand="block" class="button-primary-home-outlet">Registrarse</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>

    </div>
  </div>
</ion-content>
