<ion-content class="background-color-home" scrollX="false" scrollY="false">
  <div>
    <div class="logo-home">
      <img src="assets/imgs/logo.png" alt="Primetec">
      <p>FX11</p>
      <div class="version">{{ getVersion() }}</div>
    </div>
    <div class="ion-text-center buttons-home">
      <ion-button class="button-primary-home" [routerLink]="['/auth/login']">Iniciar Sesión</ion-button>
      <ion-button class="button-secondary-home" [routerLink]="['/auth/register']">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
