ion-content {
  .logo-home {
    flex: 1;
  }

  .buttons-home {
    padding: 20px 0;
  }

  .button-primary-home {
    --background: var(--ion-color-primary);
    --color: #f4f4f4;
    --border-radius: 20px;
    --box-shadow: none;
    height: 50px;
    outline: none !important;
    border: none !important;
  }

  .button-primary-home-outlet {
    --background: #f4f4f4;
    --color: var(--ion-color-primary);
    --border-radius: 20px;

    --border-color: var(--ion-color-primary);
    --border-width: 2px;
    --border-style: solid;

    --box-shadow: none;
    height: 50px;
    --background-activated: var(--ion-color-primary);
    --color-activated: #f4f4f4;
    outline: none !important;
    border: none !important;

    &:active {
      --background: var(--ion-color-primary);
      --color-activated: #f4f4f4;
    }
  }

  .version {
    font-size: 1em;
    color: white;
  }

}
