<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Orden</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <h2 class="ion-text-center"><strong>ITEMS</strong></h2>
      <ng-container *ngIf="items && items.length">
        <div class="card-item" *ngFor="let item of items">
          <div>
            <img src="assets/imgs/no-image.png" class="img-card">
          </div>
          <div class="description">
            <p style="font-size: 16px;"><strong>{{item.name_product}}</strong></p>
            <p><span>{{item.price * quantityOrder(item) | currency:' ':'symbol':'1.0-2' }}</span></p>
            <div class="button-footer">
              <div class="button-add" (click)="addItems(item)">+</div>
              <div class="number-add">{{quantityOrder(item)}}</div>
              <div class="button-add" (click)="removeItems(item)">-</div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="card-item">
        <div>
          <textarea name="" id="" rows="5" placeholder="Escribe un comentario / sugerencia al restaurant"
                    class="comment"></textarea>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="show-order ion-text-center" *ngIf="items.length" (click)="createOrder()">
  <div>
    <span>Crear Orden</span>
  </div>
</ion-footer>
