<ion-card class="card-item">
  <ion-item *ngIf="detail.active_assigned" class="reasignado header-item" lines="none">
    <ion-label>
      <p>Asignado: {{ detail.assignedName }}</p>
      <p>Resignado: {{ detail.creatorName }}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="!detail.active_assigned" class="header-item" lines="none">
    <ion-label style="font-size: 12px;font-weight: bold;">
      <p>{{ detail.creatorName }}</p>
      <p>Asignado: {{ detail.assignedName }}</p>
      <p>
        <span style="color: grey;font-size: 10px;">{{detail.create}}</span>
      </p>
    </ion-label>
    <ion-icon color="primary" name="lock-open" slot="start" *ngIf="detail.public"></ion-icon>
    <ion-icon color="primary" name="lock-closed" slot="start" *ngIf="!detail.public"></ion-icon>
  </ion-item>

  <ion-card-content>
    <p *ngIf="detail.priorityChange" style="color: grey;font-size: 12px;"><span>Prioridad:</span> {{ detail.priority }}
    </p>
    <p *ngIf="detail.stateChange" style="color: grey;font-size: 12px;"><strong>Estado:</strong> {{ detail.state }}</p>
    <p *ngIf="detail.commitmentDateChange" style="color: grey;font-size: 12px;"><span>Fecha de compromiso
        Cliente:</span> {{detail.commitmentAt}}</p>
    <p style="color: grey;font-size: 12px;"><span>Fecha de compromiso Interna:</span> {{detail.commitmentInternAt}}</p>
    <br>
    <p>{{ detail.observations || 'Sin Observacion' }}</p>
    <p class="text-confirm" *ngIf="detail.active_commit">Fecha Compromiso: {{ detail.commitmentAt | customDate }}</p>

    <ng-container *ngIf="detail.attached && detail.attached.length">
      Adjuntos:
      <ng-container *ngFor="let file of detail.attached">
        <p (click)="openLink(file)" class="file-link">
          {{ file.name }}
        </p>
      </ng-container>
    </ng-container>
  </ion-card-content>
</ion-card>
