<ion-card class="ticket-detail-item">
  <div class="reasignado" *ngIf="detail.active_assigned">
    <p>Asignado: {{ detail.assignedName }}</p>
    <p>Resignado: {{ detail.creatorName }}</p>
  </div>
  <ion-item *ngIf="!detail.active_assigned">
    <ion-label>{{ detail.assignedName }}</ion-label>
    <ion-icon color="primary" name="document" slot="end"></ion-icon>
  </ion-item>

  <ion-card-content>
    <p *ngIf="detail.active_state"><strong>Estado:</strong> {{ detail.state }}</p>
    <p>{{ detail.observations || 'Sin Observacion' }}</p>
    <p class="text-confirm" *ngIf="detail.active_commit">Fecha Compromiso: {{ detail.commitmentAt | customDate }}</p>

    <ng-container *ngIf="detail.attached && detail.attached.length">
      Adjuntos:
      <ng-container *ngFor="let file of detail.attached">
        <a [href]="buildLink(file)" target="_blank">{{ file.name }}</a>
      </ng-container>
    </ng-container>

  </ion-card-content>
</ion-card>
