.ticket-detail-item {
  margin: 5px;
  background: white;
  box-shadow: none !important;
}


.harvest {
  //margin-bottom: 5px;
}

.id {
  text-align: left;
  font-size: 10px;
  //padding-left: 10px;
  color: var(--ion-color-medium-shade);
  //padding-bottom: 10px;
  padding: 0;
}

.name {
  text-align: right;
  font-size: 10px;
  //padding-left: 10px;
  color: var(--ion-color-medium-shade);
  //padding-bottom: 10px;
  padding: 0;
}

.date {
  text-align: right;
  font-size: 10px;
  //padding-left: 10px;
  color: var(--ion-color-medium-shade);
  //padding-top: 10px;
  padding: 0;
  margin-top: 15px;
}

.totales {
  vertical-align: top;
  top: 5px;
  position: relative;
}

.title {
  font-size: 14px;
  text-align: center;
}

.value {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
  color: black;
}

.icon {
  font-size: 40px;
}

.highlight {
  // background: var(--color-light-box);
}

.old {
  --background: var(--color-box-light) !important;
}

ion-label {
  margin: 0;
  padding: 5px 0;
}

ion-item-sliding {
  border-radius: 10px !important;
}

.text-confirm{
  text-align: right;
  font-style: italic;
  font-size: 12px;
  color: green;
}

.reasignado{
  padding: 13px;
  border-bottom: 1px solid;
  p{
    margin: 0;
  }
}

.file-link {
  color: lightblue;
  cursor: pointer;
}
