<ion-card class="ticket-detail-item">
  <div class="reasignado" *ngIf="detail.active_assigned">
    <p>Asignado: {{ detail.assignedName }}</p>
    <p>Resignado: {{ detail.creatorName }}</p>
  </div>
  <ion-item *ngIf="!detail.active_assigned">
    <ion-label style="font-size: 12px;font-weight: bold;">
      {{ detail.creatorName }} <br>
      Asignado: {{ detail.assignedName }} <br>
      <span style="color: grey;font-size: 10px;">{{detail.create}}</span>
    </ion-label>
    <ion-icon color="primary" name="lock-open" slot="end" *ngIf="detail.public"></ion-icon>
    <ion-icon color="primary" name="lock-closed" slot="end" *ngIf="!detail.public"></ion-icon>
  </ion-item>
  <ion-card-content>
    <p *ngIf="detail.priorityChange" style="color: grey;font-size: 12px;"><span >Prioridad:</span> {{ detail.priority }}</p>
    <p *ngIf="detail.stateChange" style="color: grey;font-size: 12px;"><strong>Estado:</strong> {{ detail.state }}</p>
    <p *ngIf="detail.commitmentDateChange" style="color: grey;font-size: 12px;"><span>Fecha de compromiso Cliente:</span> {{detail.commitmentAt}}</p>
    <p style="color: grey;font-size: 12px;"><span>Fecha de compromiso Interna:</span> {{detail.commitmentInternAt}}</p>
    <br>
    <p>{{ detail.observations || 'Sin Observacion' }}</p>
    <p class="text-confirm" *ngIf="detail.active_commit">Fecha Compromiso: {{ detail.commitmentAt | customDate }}</p>

    <ng-container *ngIf="detail.attached && detail.attached.length">
      Adjuntos:
      <ng-container *ngFor="let file of detail.attached">
        <a [href]="buildLink(file)" target="_blank">{{ file.name }}</a>
      </ng-container>
    </ng-container>

  </ion-card-content>
</ion-card>
