ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.border-separator-right {
  border-right: 1px solid var(--color-light-separator);
  border-top: 1px solid var(--color-light-separator);

  &:first-child {
    border-top: 0 !important;
  }
}

.border-separator-left {
  border-top: 1px solid var(--color-light-separator);

  &:first-child {
    border-top: 0 !important;
  }

  &:nth-child(2) {
    border-top: 0 !important;
  }
}

.title-menu {
  margin-top: 0;
}

.disabled {
  opacity: .5;
}
