<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Confirmación</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-item" *ngIf="currentApplication">
    <ion-item lines="full">
      <ion-badge slot="start">{{ currentApplication.costCenterCode | uppercase }}</ion-badge>
      <ion-label>{{ currentApplication.costCenterName | titlecase }}</ion-label>
    </ion-item>

    <ion-card-content>
      <ng-container *ngIf="currentApplication.costCenterMachineryName">
        <p>
          <strong>Maquina:</strong> {{ currentApplication.costCenterMachineryName | titlecase }}
        </p>
        <p>
          <strong>Capacidad:</strong> {{ getMachineryCapacity() }}
        </p>
      </ng-container>


      <div class="ion-text-right">
        <ion-chip>
          <ion-icon name="calculator-outline" color="success"></ion-icon>
          <ion-label>{{ currentApplication.applicationBalance }} </ion-label>
        </ion-chip>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title>Confirmar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="applicationForm">

        <ion-item lines="none">
          <ion-label [position]="getOperatorName() ? 'stacked': 'floating'">Operador</ion-label>
          <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="operator"
            [selectedText]="getOperatorName()" (ionChange)="changeOperator($event.target.value)">
            <ion-select-option *ngFor="let worker of workers" [value]="worker.id">
              {{ worker.name | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label [position]="getMachineryName() ? 'stacked': 'floating'">Maquina</ion-label>
          <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="machinery"
            [selectedText]="getMachineryName()" (ionChange)="changeMachinery($event.target.value)">
            <ion-select-option *ngFor="let machine of machinery" [value]="machine.id">
              {{ machine.name | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item lines="none">
          <ion-label [position]="getImplementName() ? 'stacked': 'floating'">Implemento</ion-label>
          <ion-select interface="action-sheet" cancelText="Cancelar" formControlName="implement"
            [selectedText]="getImplementName()" (ionChange)="changeImplement($event.target.value)">
            <ion-select-option *ngFor="let implement of implementTypeCostCenters" [value]="implement.id">
              {{ implement.name | titlecase }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="block" color="warning" [disabled]="applicationForm.invalid" (click)="nextStep()">
    Siguiente
  </ion-button>
</ion-footer>