ion-menu-button {
  --color: white;
}

ion-title {
  color: white;
}

.maquinaria{
  margin: 0 auto;
  padding: 5px;
  ion-item{
    --inner-border-width: 0;
  }
}

.full-maquinaria{
  padding: 0 10px 0 10px;
}

ion-card-content {
  padding: 10px;
}

.slide-item-mac {
  --padding-start: 0;
  --inner-padding-end: 0;

  .card-item {
    width: 100%;
  }
}
