<ion-header>
  <ion-toolbar class="background-color-header">
    <ion-buttons slot="start">
      <ion-back-button class="header-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <strong>Maquinaria</strong>
    </ion-title>
    <ion-buttons slot="end">
      <app-toolbar-buttons></app-toolbar-buttons>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbar-search">
    <ion-searchbar
      animated
      placeholder="Buscar..."
      showCancelButton="never"
      (ionChange)="searchMachinery($event.target.value)"
      (ionClear)="cancelSearch()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="reload($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 class="ion-text-center" style="font-size: 20px">
    Maquinaria
    <ion-badge class="quadrille-badge" style="font-size: 14px" color="primary">{{ filteredMachinery.length }}</ion-badge>
  </h2>

  <!-- DAY SELECTOR -->
  <ion-item>
    <ion-button size="small" fill="clear" slot="start" (click)="subtractDayToDate()">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
    </ion-button>
    <ion-input class="ion-text-center" [ngModel]="showDate" readonly></ion-input>
    <ion-button size="small" fill="clear" slot="end" (click)="addDayToDate()">
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

  <ng-container *ngIf="!isLoading; else loading">
    <ion-virtual-scroll [items]="filteredMachinery">
      <ion-item-sliding #slide *virtualItem="let machinery">
        <ion-item class="item-card">
          <ion-card>
            <ion-item>
              <ion-badge slot="start">{{ machinery.costCenterCode | uppercase }}</ion-badge>
              <ion-label>{{ machinery.costCenterName | titlecase }}</ion-label>
              <ion-icon *ngIf="machinery.tempId" name="server" slot="end" color="danger"></ion-icon>
            </ion-item>

            <ion-card-content>
              <p> <strong>Labor:</strong> {{ machinery.laborName | titlecase }}</p>
              <p> <strong>Unidad:</strong> {{ machinery.unitName | titlecase }}</p>
              <p> <strong>Trabajador:</strong> {{ machinery.workerName | titlecase }}</p>
              <p *ngIf="machinery.implementCostCenterName">
                <strong>Implemento:</strong> {{ machinery.implementCostCenterName | titlecase }}
              </p>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="primary" (click)="copyMachinery(machinery, slide)" expandable="true">
            <ion-icon slot="icon-only" name="copy"></ion-icon>
          </ion-item-option>
          <ion-item-option color="warning" (click)="editMachinery(machinery, slide)">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteMachinery(machinery, slide)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-virtual-scroll>
  </ng-container>

  <ng-template #loading>
    <p class="ion-text-center">Cargando</p>
  </ng-template>

  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="createMachinery()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
